/* @group import */
/* @group Colors */
/* @end */
/* @group Fonts */
@font-face {
  font-family: 'facilicar';
  src: url('../fonts/facilicar.eot?kdgjrb');
  src: url('../fonts/facilicar.eot?kdgjrb#iefix') format('embedded-opentype'), url('../fonts/facilicar.woff2?kdgjrb') format('woff2'), url('../fonts/facilicar.ttf?kdgjrb') format('truetype'), url('../fonts/facilicar.woff?kdgjrb') format('woff'), url('../fonts/facilicar.svg?kdgjrb#facilicar') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'facilicar';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-heart:before {
  content: "\e800";
}
.icon-mail-shadow:before {
  content: "\e801";
}
.icon-mail:before {
  content: "\e802";
}
.icon-pin:before {
  content: "\e803";
}
.icon-tel:before {
  content: "\e804";
}
.icon-thumb-up-shadow:before {
  content: "\e805";
}
.icon-thumb-up:before {
  content: "\e806";
}
@font-face {
  font-family: 'TextaAlt-Thin';
  src: url('../fonts/2F77AE_0_0.eot');
  src: url('../fonts/2F77AE_0_0.eot?#iefix') format('embedded-opentype'), url('../fonts/2F77AE_0_0.woff2') format('woff2'), url('../fonts/2F77AE_0_0.woff') format('woff'), url('../fonts/2F77AE_0_0.ttf') format('truetype');
}
@font-face {
  font-family: 'Texta-BlackIt';
  src: url('../fonts/2F77AE_1_0.eot');
  src: url('../fonts/2F77AE_1_0.eot?#iefix') format('embedded-opentype'), url('../fonts/2F77AE_1_0.woff2') format('woff2'), url('../fonts/2F77AE_1_0.woff') format('woff'), url('../fonts/2F77AE_1_0.ttf') format('truetype');
}
@font-face {
  font-family: 'Texta-BoldIt';
  src: url('../fonts/2F77AE_2_0.eot');
  src: url('../fonts/2F77AE_2_0.eot?#iefix') format('embedded-opentype'), url('../fonts/2F77AE_2_0.woff2') format('woff2'), url('../fonts/2F77AE_2_0.woff') format('woff'), url('../fonts/2F77AE_2_0.ttf') format('truetype');
}
@font-face {
  font-family: 'Texta-Bold';
  src: url('../fonts/2F77AE_3_0.eot');
  src: url('../fonts/2F77AE_3_0.eot?#iefix') format('embedded-opentype'), url('../fonts/2F77AE_3_0.woff2') format('woff2'), url('../fonts/2F77AE_3_0.woff') format('woff'), url('../fonts/2F77AE_3_0.ttf') format('truetype');
}
@font-face {
  font-family: 'Texta-Black';
  src: url('../fonts/2F77AE_4_0.eot');
  src: url('../fonts/2F77AE_4_0.eot?#iefix') format('embedded-opentype'), url('../fonts/2F77AE_4_0.woff2') format('woff2'), url('../fonts/2F77AE_4_0.woff') format('woff'), url('../fonts/2F77AE_4_0.ttf') format('truetype');
}
@font-face {
  font-family: 'Texta-Book';
  src: url('../fonts/2F77AE_5_0.eot');
  src: url('../fonts/2F77AE_5_0.eot?#iefix') format('embedded-opentype'), url('../fonts/2F77AE_5_0.woff2') format('woff2'), url('../fonts/2F77AE_5_0.woff') format('woff'), url('../fonts/2F77AE_5_0.ttf') format('truetype');
}
@font-face {
  font-family: 'Texta-BookIt';
  src: url('../fonts/2F77AE_6_0.eot');
  src: url('../fonts/2F77AE_6_0.eot?#iefix') format('embedded-opentype'), url('../fonts/2F77AE_6_0.woff2') format('woff2'), url('../fonts/2F77AE_6_0.woff') format('woff'), url('../fonts/2F77AE_6_0.ttf') format('truetype');
}
@font-face {
  font-family: 'Texta-HeavyIt';
  src: url('../fonts/2F77AE_7_0.eot');
  src: url('../fonts/2F77AE_7_0.eot?#iefix') format('embedded-opentype'), url('../fonts/2F77AE_7_0.woff2') format('woff2'), url('../fonts/2F77AE_7_0.woff') format('woff'), url('../fonts/2F77AE_7_0.ttf') format('truetype');
}
@font-face {
  font-family: 'Texta-Heavy';
  src: url('../fonts/2F77AE_8_0.eot');
  src: url('../fonts/2F77AE_8_0.eot?#iefix') format('embedded-opentype'), url('../fonts/2F77AE_8_0.woff2') format('woff2'), url('../fonts/2F77AE_8_0.woff') format('woff'), url('../fonts/2F77AE_8_0.ttf') format('truetype');
}
@font-face {
  font-family: 'Texta-It';
  src: url('../fonts/2F77AE_9_0.eot');
  src: url('../fonts/2F77AE_9_0.eot?#iefix') format('embedded-opentype'), url('../fonts/2F77AE_9_0.woff2') format('woff2'), url('../fonts/2F77AE_9_0.woff') format('woff'), url('../fonts/2F77AE_9_0.ttf') format('truetype');
}
@font-face {
  font-family: 'Texta-LightIt';
  src: url('../fonts/2F77AE_A_0.eot');
  src: url('../fonts/2F77AE_A_0.eot?#iefix') format('embedded-opentype'), url('../fonts/2F77AE_A_0.woff2') format('woff2'), url('../fonts/2F77AE_A_0.woff') format('woff'), url('../fonts/2F77AE_A_0.ttf') format('truetype');
}
@font-face {
  font-family: 'Texta-Light';
  src: url('../fonts/2F77AE_B_0.eot');
  src: url('../fonts/2F77AE_B_0.eot?#iefix') format('embedded-opentype'), url('../fonts/2F77AE_B_0.woff2') format('woff2'), url('../fonts/2F77AE_B_0.woff') format('woff'), url('../fonts/2F77AE_B_0.ttf') format('truetype');
}
@font-face {
  font-family: 'Texta-MediumIt';
  src: url('../fonts/2F77AE_C_0.eot');
  src: url('../fonts/2F77AE_C_0.eot?#iefix') format('embedded-opentype'), url('../fonts/2F77AE_C_0.woff2') format('woff2'), url('../fonts/2F77AE_C_0.woff') format('woff'), url('../fonts/2F77AE_C_0.ttf') format('truetype');
}
@font-face {
  font-family: 'Texta-Medium';
  src: url('../fonts/2F77AE_D_0.eot');
  src: url('../fonts/2F77AE_D_0.eot?#iefix') format('embedded-opentype'), url('../fonts/2F77AE_D_0.woff2') format('woff2'), url('../fonts/2F77AE_D_0.woff') format('woff'), url('../fonts/2F77AE_D_0.ttf') format('truetype');
}
@font-face {
  font-family: 'Texta-Regular';
  src: url('../fonts/2F77AE_E_0.eot');
  src: url('../fonts/2F77AE_E_0.eot?#iefix') format('embedded-opentype'), url('../fonts/2F77AE_E_0.woff2') format('woff2'), url('../fonts/2F77AE_E_0.woff') format('woff'), url('../fonts/2F77AE_E_0.ttf') format('truetype');
}
@font-face {
  font-family: 'Texta-ThintIt';
  src: url('../fonts/2F77AE_F_0.eot');
  src: url('../fonts/2F77AE_F_0.eot?#iefix') format('embedded-opentype'), url('../fonts/2F77AE_F_0.woff2') format('woff2'), url('../fonts/2F77AE_F_0.woff') format('woff'), url('../fonts/2F77AE_F_0.ttf') format('truetype');
}
@font-face {
  font-family: 'Texta-Thin';
  src: url('../fonts/2F77AE_10_0.eot');
  src: url('../fonts/2F77AE_10_0.eot?#iefix') format('embedded-opentype'), url('../fonts/2F77AE_10_0.woff2') format('woff2'), url('../fonts/2F77AE_10_0.woff') format('woff'), url('../fonts/2F77AE_10_0.ttf') format('truetype');
}
@font-face {
  font-family: 'TextaAlt-BlackIt';
  src: url('../fonts/2F77AE_11_0.eot');
  src: url('../fonts/2F77AE_11_0.eot?#iefix') format('embedded-opentype'), url('../fonts/2F77AE_11_0.woff2') format('woff2'), url('../fonts/2F77AE_11_0.woff') format('woff'), url('../fonts/2F77AE_11_0.ttf') format('truetype');
}
@font-face {
  font-family: 'TextaAlt-Black';
  src: url('../fonts/2F77AE_12_0.eot');
  src: url('../fonts/2F77AE_12_0.eot?#iefix') format('embedded-opentype'), url('../fonts/2F77AE_12_0.woff2') format('woff2'), url('../fonts/2F77AE_12_0.woff') format('woff'), url('../fonts/2F77AE_12_0.ttf') format('truetype');
}
@font-face {
  font-family: 'TextaAlt-BoldIt';
  src: url('../fonts/2F77AE_13_0.eot');
  src: url('../fonts/2F77AE_13_0.eot?#iefix') format('embedded-opentype'), url('../fonts/2F77AE_13_0.woff2') format('woff2'), url('../fonts/2F77AE_13_0.woff') format('woff'), url('../fonts/2F77AE_13_0.ttf') format('truetype');
}
@font-face {
  font-family: 'TextaAlt-Bold';
  src: url('../fonts/2F77AE_14_0.eot');
  src: url('../fonts/2F77AE_14_0.eot?#iefix') format('embedded-opentype'), url('../fonts/2F77AE_14_0.woff2') format('woff2'), url('../fonts/2F77AE_14_0.woff') format('woff'), url('../fonts/2F77AE_14_0.ttf') format('truetype');
}
@font-face {
  font-family: 'TextaAlt-BookIt';
  src: url('../fonts/2F77AE_15_0.eot');
  src: url('../fonts/2F77AE_15_0.eot?#iefix') format('embedded-opentype'), url('../fonts/2F77AE_15_0.woff2') format('woff2'), url('../fonts/2F77AE_15_0.woff') format('woff'), url('../fonts/2F77AE_15_0.ttf') format('truetype');
}
@font-face {
  font-family: 'TextaAlt-Book';
  src: url('../fonts/2F77AE_16_0.eot');
  src: url('../fonts/2F77AE_16_0.eot?#iefix') format('embedded-opentype'), url('../fonts/2F77AE_16_0.woff2') format('woff2'), url('../fonts/2F77AE_16_0.woff') format('woff'), url('../fonts/2F77AE_16_0.ttf') format('truetype');
}
@font-face {
  font-family: 'TextaAlt-HeavyIt';
  src: url('../fonts/2F77AE_17_0.eot');
  src: url('../fonts/2F77AE_17_0.eot?#iefix') format('embedded-opentype'), url('../fonts/2F77AE_17_0.woff2') format('woff2'), url('../fonts/2F77AE_17_0.woff') format('woff'), url('../fonts/2F77AE_17_0.ttf') format('truetype');
}
@font-face {
  font-family: 'TextaAlt-Heavy';
  src: url('../fonts/2F77AE_18_0.eot');
  src: url('../fonts/2F77AE_18_0.eot?#iefix') format('embedded-opentype'), url('../fonts/2F77AE_18_0.woff2') format('woff2'), url('../fonts/2F77AE_18_0.woff') format('woff'), url('../fonts/2F77AE_18_0.ttf') format('truetype');
}
@font-face {
  font-family: 'TextaAlt-It';
  src: url('../fonts/2F77AE_19_0.eot');
  src: url('../fonts/2F77AE_19_0.eot?#iefix') format('embedded-opentype'), url('../fonts/2F77AE_19_0.woff2') format('woff2'), url('../fonts/2F77AE_19_0.woff') format('woff'), url('../fonts/2F77AE_19_0.ttf') format('truetype');
}
@font-face {
  font-family: 'TextaAlt-LightIt';
  src: url('../fonts/2F77AE_1A_0.eot');
  src: url('../fonts/2F77AE_1A_0.eot?#iefix') format('embedded-opentype'), url('../fonts/2F77AE_1A_0.woff2') format('woff2'), url('../fonts/2F77AE_1A_0.woff') format('woff'), url('../fonts/2F77AE_1A_0.ttf') format('truetype');
}
@font-face {
  font-family: 'TextaAlt-Light';
  src: url('../fonts/2F77AE_1B_0.eot');
  src: url('../fonts/2F77AE_1B_0.eot?#iefix') format('embedded-opentype'), url('../fonts/2F77AE_1B_0.woff2') format('woff2'), url('../fonts/2F77AE_1B_0.woff') format('woff'), url('../fonts/2F77AE_1B_0.ttf') format('truetype');
}
@font-face {
  font-family: 'TextaAlt-MediumIt';
  src: url('../fonts/2F77AE_1C_0.eot');
  src: url('../fonts/2F77AE_1C_0.eot?#iefix') format('embedded-opentype'), url('../fonts/2F77AE_1C_0.woff2') format('woff2'), url('../fonts/2F77AE_1C_0.woff') format('woff'), url('../fonts/2F77AE_1C_0.ttf') format('truetype');
}
@font-face {
  font-family: 'TextaAlt-Medium';
  src: url('../fonts/2F77AE_1D_0.eot');
  src: url('../fonts/2F77AE_1D_0.eot?#iefix') format('embedded-opentype'), url('../fonts/2F77AE_1D_0.woff2') format('woff2'), url('../fonts/2F77AE_1D_0.woff') format('woff'), url('../fonts/2F77AE_1D_0.ttf') format('truetype');
}
@font-face {
  font-family: 'TextaAlt-Regular';
  src: url('../fonts/2F77AE_1E_0.eot');
  src: url('../fonts/2F77AE_1E_0.eot?#iefix') format('embedded-opentype'), url('../fonts/2F77AE_1E_0.woff2') format('woff2'), url('../fonts/2F77AE_1E_0.woff') format('woff'), url('../fonts/2F77AE_1E_0.ttf') format('truetype');
}
@font-face {
  font-family: 'TextaAlt-ThintIt';
  src: url('../fonts/2F77AE_1F_0.eot');
  src: url('../fonts/2F77AE_1F_0.eot?#iefix') format('embedded-opentype'), url('../fonts/2F77AE_1F_0.woff2') format('woff2'), url('../fonts/2F77AE_1F_0.woff') format('woff'), url('../fonts/2F77AE_1F_0.ttf') format('truetype');
}
/* @end */
/* @group Mes styles */
/* @group General */
html,
button,
input,
select,
textarea {
  color: #000;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
/* selection */
::-moz-selection {
  background: #000;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #000;
  color: #fff;
  text-shadow: none;
}
/* @end */
/* @group Global */
body {
  font-family: 'Texta-Regular', sans-serif;
  font-size: 1em;
  color: #333333;
}
h1 {
  font-family: 'Texta-Black', sans-serif;
  font-size: 5.313em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1.small-title {
  font-family: 'Texta-Black', sans-serif;
  font-size: 3.75em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 0.6em;
  margin: 0 0 35px 0;
}
h1 .small-txt {
  font-family: 'Texta-Light', sans-serif;
  font-size: 0.417em;
  line-height: 0.8em;
}
h3 {
  font-family: 'Texta-Bold', sans-serif;
  font-size: 1.813em;
  margin: 15px 0;
}
h4 {
  font-family: 'Texta-Black', sans-serif;
  font-size: 1em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 15px 0;
}
p {
  font-family: 'Texta-Light', sans-serif;
  font-size: 1.25em;
}
i {
  font-style: normal;
  font-family: 'Texta-LightIt', sans-serif;
  font-size: 1em;
}
a {
  text-decoration: none;
}
.size1 {
  width: 300px;
}
a.logo-facilicar {
  display: block;
  width: 281px;
  height: 49px;
  background: url("../layoutImg/logo-facilicar.png") no-repeat 0 0;
  -webkit-transition: opacity 0.1s ease-in-out;
          transition: opacity 0.1s ease-in-out;
}
a.logo-facilicar:hover {
  opacity: 0.8;
}
.container {
  display: block;
  width: 1140px;
  height: auto;
  margin: 0 auto;
  padding: 0;
}
.color-primary {
  color: #009cc4;
}
.color-secondary {
  color: #e38c00;
}
.color-grey {
  color: #b0b0a8;
}
.color-white {
  color: #ffffff;
}
.color-theme-black {
  color: #333333;
}
.bg-gradient {
  background: -webkit-linear-gradient(top, #ffffff 0%, #e7e6e2 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #e7e6e2 100%);
}
.bg-white {
  background-color: #ffffff;
}
.bg-primary {
  background-color: #009cc4;
}
.bg-secondary {
  background-color: #e38c00;
}
.bg-secondary-light {
  background-color: #fab855;
}
.encadre {
  display: inline-block;
  vertical-align: top;
  color: #b0b0a8;
  border: 1px solid #b0b0a8;
  line-height: 1em;
  padding: 2px 4px;
  font-family: 'Texta-Light', sans-serif;
  font-size: 0.875em;
}
.txt-centered {
  text-align: center;
}
.txt-left-aligned {
  text-align: left;
}
.line-through {
  text-decoration: line-through;
}
.wrapper-align-middle {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
}
.content-align-middle {
  display: table-cell;
  vertical-align: middle;
}
.e-trustedshops {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 42px;
  background: url("../layoutImg/e-trustedshops.png") no-repeat 0 0;
}
.trustedshops-avis {
  display: inline-block;
  vertical-align: top;
  width: 91px;
  height: 88px;
  background: url("../layoutImg/trustedshop.png") no-repeat 0 0;
}
/* @end */
/* @group Non semantic Boilerplate */
/* remplacement image */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}
/* masqué */
.hidden {
  display: none !important;
}
/* clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/* @end */
/* @group Header */
#header {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 20px 0;
}
#header a.logo-facilicar {
  float: left;
  margin: 14px 0 0 27px;
}
#zone-right-header {
  float: right;
}
#menu-top-header {
  margin: 0 0 22px 0;
}
#menu-top-header > li {
  margin: 0 0 0 12px;
}
#menu-top-header > li:first-of-type {
  margin: 0;
}
#menu-top-header > li a {
  font-family: 'Texta-Medium', sans-serif;
  font-size: 1em;
}
#menu-bottom-header > li {
  padding: 0;
  margin: 0 0 0 50px;
}
#menu-bottom-header > li:first-of-type {
  margin: 0;
}
#menu-bottom-header > li a {
  font-family: 'Texta-Black', sans-serif;
  font-size: 1.125em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
  color: #333333;
}
/* @end */
/* @group Wrapper top */
#wrapper-top {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
/* @end */
/* @group Vehicules home */
#wrapper-vehicules-home {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 60px 0;
  text-align: center;
}
/* @end */
/* @group Choisir / temoignage */
#wrapper-choisir-temoignage {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 20px 0 76px 0;
  background-color: #F0EFEA;
}
#zone-left-choisir-temoignage {
  width: 36%;
  padding: 0 11px 0 0;
  box-sizing: border-box;
}
#zone-right-choisir-temoignage {
  width: 64%;
  padding: 0 0 0 11px;
  box-sizing: border-box;
}
.bloc-survol {
  color: #ffffff;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.bloc-survol:hover .zone-picto-bloc-survol {
  opacity: 0;
  -webkit-transform: translateY(-130px);
      -ms-transform: translateY(-130px);
          transform: translateY(-130px);
}
.bloc-survol:hover h2 {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}
.bloc-survol:hover p {
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}
.bloc-survol:hover a {
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}
.bloc-survol .zone-picto-bloc-survol {
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
          transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 30px;
  left: 50%;
  margin: 0 0 0 -50px;
  box-sizing: border-box;
  line-height: 100px;
}
.bloc-survol .zone-picto-bloc-survol .icon-thumb-up {
  font-size: 92px;
}
.bloc-survol .zone-picto-bloc-survol .icon-thumb-up-shadow {
  font-size: 94px;
  position: absolute;
  top: 10px;
  right: -16px;
  z-index: -1;
  color: #D0B36B;
}
.bloc-survol .zone-picto-bloc-survol .border-zone-picto-bloc-survol {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 4px solid #ffffff;
  position: absolute;
  top: -4px;
  left: 0;
  border-radius: 50%;
}
.bloc-survol .title-bloc-survol {
  display: inline-block;
  text-align: left;
}
.bloc-survol h2 {
  -webkit-transform: translateY(130px);
      -ms-transform: translateY(130px);
          transform: translateY(130px);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
          transition: transform 0.2s ease-in-out;
  font-family: 'Texta-Black', sans-serif;
  font-size: 3.125em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 0 20px 0;
  line-height: 0.9em;
}
.bloc-survol p {
  opacity: 0;
  -webkit-transform: translateY(130px);
      -ms-transform: translateY(130px);
          transform: translateY(130px);
  -webkit-transition: -webkit-transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
          transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  font-family: 'Texta-Light', sans-serif;
  font-size: 1em;
  margin: 0 0 20px 0;
  line-height: 1.2em;
}
.bloc-survol a {
  opacity: 0;
  -webkit-transform: translateY(130px);
      -ms-transform: translateY(130px);
          transform: translateY(130px);
  -webkit-transition: -webkit-transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
          transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
#trusted-shops {
  padding: 20px 0 0 0;
}
#trusted-shops h4 {
  font-family: 'Texta-Bold', sans-serif;
  font-size: 1.375em;
  line-height: 1em;
  margin: 0;
  padding: 0;
}
#wrapper-title-e-trustedshops {
  margin: 0 0 20px 0;
}
#content-e-trustedshops {
  width: 100px;
}
#content-title-trusted-shops {
  width: auto;
  box-sizing: border-box;
  padding: 0 0 0 63px;
}
#content-txt-trustedshops-avis {
  width: auto;
  box-sizing: border-box;
  padding: 0 20px 0 0;
}
#content-txt-trustedshops-avis p {
  margin: 0;
  padding: 0;
  font-family: 'Texta-Light', sans-serif;
  font-size: 1em;
  line-height: 1.2em;
}
#content-txt-trustedshops-avis p strong {
  font-family: 'Texta-Bold', sans-serif;
  font-size: 1em;
}
#content-trustedshops-avis {
  width: 91px;
}
/* @end */
/* @group Footer */
#footer {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #333333;
}
/* @group Newsletter */
#block-newsletter {
  display: block;
  width: 100%;
  height: auto;
  padding: 20px 0;
  margin: 0;
  background-color: #D9CAAE;
}
#block-newsletter .content-align-middle h3 {
  margin: 0;
  line-height: 0.9em;
}
#block-newsletter .content-align-middle p {
  margin: 0;
  font-family: 'Texta-Light', sans-serif;
  font-size: 1.125em;
}
#email-newsletter {
  margin: 0 6px 0 0;
}
#zone-left-newsletter {
  box-sizing: border-box;
  padding: 0 0 0 82px;
}
#zone-left-newsletter .mail-icon {
  display: block;
  width: 52px;
  height: 40px;
  position: relative;
}
#zone-left-newsletter .icon-mail-shadow {
  font-size: 32px;
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
}
#zone-left-newsletter .icon-mail {
  font-size: 36px;
  position: absolute;
  top: 0;
  left: 0;
}
/* @end */
#footer-bottom {
  display: block;
  margin: 0;
  padding: 40px 0 280px 0;
  background-color: #333333;
  color: #ffffff;
  text-transform: uppercase;
}
#footer-bottom .list-inline {
  width: 100%;
  display: block;
}
#footer-bottom .list-inline > li {
  width: 20%;
  margin: 0;
  box-sizing: border-box;
}
#footer-bottom .list-inline > li:last-of-type {
  width: 40%;
}
#footer-bottom .list-block {
  margin: 25px 0 0 0;
}
#footer-bottom .list-block > li {
  margin: 0;
}
#footer-bottom .list-block > li a {
  font-family: 'Texta-Light', sans-serif;
  font-size: 0.813em;
}
#footer-bottom .list-social {
  margin: 16px 0 0 0;
}
/* @end */
/* @group Buttons */
a.btn-underline {
  text-decoration: underline;
}
a.btn-arrow {
  position: relative;
  padding-left: 8px;
}
a.btn-arrow:before {
  content: "›";
  position: absolute;
  top: 0;
  left: 0;
}
a.btn-pin .icon-pin {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  margin: 0 8px 0 0;
  padding: 2px 0 0 0;
}
a.btn-tel .icon-tel {
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
  margin: 0 6px 0 0;
  padding: 4px 0 0 0;
}
a.btn-tel .tel-number {
  display: inline-block;
  vertical-align: top;
  background-color: #F3F3EE;
  border-radius: 18px;
  padding: 0 6px;
}
a.btn-heart {
  position: relative;
}
a.btn-heart .zone-heart {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 4px;
  padding: 0;
  position: relative;
}
a.btn-heart .icon-heart {
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
  margin: 5px 0 0 0;
  padding: 0;
  color: #FF7E7E;
}
a.btn-heart .heart-number {
  font-family: 'Texta-Bold', sans-serif;
  font-size: 0.611em;
  line-height: 11px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: absolute;
  left: 13px;
  top: 8px;
  background-color: #ffffff;
  padding: 0 3px;
  border-radius: 3px;
  border: 1px solid #b0b0a8;
}
a.btn-block {
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Texta-Black', sans-serif;
  font-size: 1.094em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 17px 20px;
  position: relative;
}
a.btn-block.big {
  padding: 26px 58px;
  font-family: 'Texta-Black', sans-serif;
  font-size: 1.625em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a.btn-block.btn-block-border {
  box-sizing: border-box;
  border: 4px solid #ffffff;
  padding: 15px 20px;
}
a.btn-block.btn-block-border.btn-block-arrow {
  padding: 15px 37px;
}
a.btn-block.btn-block-arrow:before {
  content: "›";
  position: absolute;
  top: 50%;
  margin: -19px 0 0 0;
  left: 24px;
  height: 36px;
  line-height: 36px;
}
/* @end */
/* @group List */
.list-inline {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.list-inline > li {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0 16px;
  position: relative;
}
.list-block {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.list-block > li {
  display: block;
  padding: 0;
  margin: 2px 0;
  position: relative;
}
.list-social {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.list-social > li {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0 40px 0 0;
  position: relative;
}
.list-social > li a {
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #fff;
  padding: 0;
  margin: 0;
  position: relative;
  line-height: 42px;
  text-align: center;
  font-size: 26px;
}
.list-social > li a.icon-twitter {
  font-size: 24px;
}
.list-cars {
  display: block;
  margin: 0;
  padding: 22px 0;
  list-style-type: none;
}
.list-cars > li {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  height: 360px;
  box-sizing: border-box;
  padding: 0 9px;
  margin: 11px 0;
}
/* @end */
/* @group Form */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  padding: 8px 12px;
  border: 1px solid #b0b0a8;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Texta-Light', sans-serif;
  font-size: 1.125em;
  max-width: 100%;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus {
  outline: none;
}
::-webkit-input-placeholder {
  font-family: 'Texta-LightIt', sans-serif;
  font-size: 1em;
  color: #B0B0A8;
}
:-moz-placeholder {
  font-family: 'Texta-LightIt', sans-serif;
  font-size: 1em;
  color: #B0B0A8;
}
::-moz-placeholder {
  font-family: 'Texta-LightIt', sans-serif;
  font-size: 1em;
  color: #B0B0A8;
}
:-ms-input-placeholder {
  font-family: 'Texta-LightIt', sans-serif;
  font-size: 1em;
  color: #B0B0A8;
}
button {
  -webkit-appearance: none;
  appearance: none;
  color: #ffffff;
  border: none;
  box-sizing: border-box;
  padding: 9px 12px;
  font-family: 'Texta-Black', sans-serif;
  font-size: 1.063em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
}
button.button-primary {
  background-color: #009cc4;
}
button.button-secondary {
  background-color: #e38c00;
}
button.button-arrow {
  position: relative;
  padding: 9px 12px 9px 24px;
}
button.button-arrow:before {
  content: "›";
  display: inline-block;
  vertical-align: top;
  height: 24px;
  line-height: 24px;
  position: absolute;
  left: 12px;
  top: 50%;
  margin: -13px 0 0 0;
}
button:focus {
  outline: none;
}
/* @end */
/* @group States */
.hide-text {
  text-indent: -9999px;
  display: block;
}
.is-hidden {
  /*display: none;
	&.car-block{
		display: none;
	}*/
}
/* @end */
/* @group Slider temoignage */
/* @end */
/* @group Cars */
.wrapper-car {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #b0b0a8;
  position: relative;
  overflow: hidden;
}
.wrapper-car:hover .fond-bandeau-car.bandeau-top {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.wrapper-car:hover .fond-bandeau-car.bandeau-bottom {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.wrapper-car:hover .car-year {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.wrapper-car:hover .car-name {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.wrapper-car:hover .car-desc {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.wrapper-car:hover .car-km {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.wrapper-car:hover .car-old-price {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.wrapper-car:hover .car-price {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.wrapper-car:hover .car-price-saving {
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.wrapper-car:hover .car-btn-essai {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.bandeau-image-car {
  display: block;
  width: 100%;
  height: 176px;
  position: absolute;
  left: 0;
  top: 87px;
}
.fond-bandeau-car {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
          transition: transform 0.2s ease-in-out;
}
.fond-bandeau-car.bandeau-top {
  top: 0;
  height: 127px;
  -webkit-transform: translateY(-40px);
      -ms-transform: translateY(-40px);
          transform: translateY(-40px);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.fond-bandeau-car.bandeau-bottom {
  bottom: 0;
  height: 135px;
  -webkit-transform: translateY(40px);
      -ms-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.bandeau-car {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  text-align: center;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
}
.bandeau-car.bandeau-top {
  top: 0;
  height: 127px;
}
.bandeau-car.bandeau-bottom {
  bottom: 0;
  height: 135px;
}
.car-block {
  display: block;
  position: absolute;
  left: 8px;
  right: 8px;
}
.car-year {
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
          transition: transform 0.2s ease-in-out;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  top: 8px;
  text-align: center;
}
.car-name {
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
          transition: transform 0.2s ease-in-out;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  top: 30px;
  font-family: 'Texta-Light', sans-serif;
  font-size: 1.375em;
  text-transform: uppercase;
  color: #333333;
  line-height: 1em;
  padding: 2px 0;
}
.car-name strong {
  font-family: 'Texta-Black', sans-serif;
  font-size: 1em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.car-desc {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
          transition: opacity 0.2s ease-in-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  top: 58px;
  font-family: 'Texta-Light', sans-serif;
  font-size: 0.875em;
  line-height: 1.4em;
  text-transform: uppercase;
  color: #333333;
}
.car-km {
  -webkit-transform: translateY(-32px);
      -ms-transform: translateY(-32px);
          transform: translateY(-32px);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
          transition: transform 0.2s ease-in-out;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  top: 96px;
  font-family: 'Texta-Light', sans-serif;
  font-size: 1em;
  line-height: 1em;
  color: #b0b0a8;
  padding: 2px 0;
}
.car-old-price {
  -webkit-transform: translateY(-45px);
      -ms-transform: translateY(-45px);
          transform: translateY(-45px);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
          transition: transform 0.2s ease-in-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  top: 6px;
  font-family: 'Texta-Light', sans-serif;
  font-size: 1.125em;
  line-height: 1em;
  color: #b0b0a8;
}
.car-price {
  -webkit-transform: translateY(45px);
      -ms-transform: translateY(45px);
          transform: translateY(45px);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
          transition: transform 0.2s ease-in-out;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  top: 25px;
  font-family: 'Texta-Light', sans-serif;
  font-size: 2.5em;
  line-height: 0.8em;
  color: #e38c00;
}
.car-price-saving {
  opacity: 0;
  -webkit-transform: translateY(45px);
      -ms-transform: translateY(45px);
          transform: translateY(45px);
  -webkit-transition: -webkit-transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
          transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  top: 63px;
  font-family: 'Texta-Light', sans-serif;
  font-size: 0.875em;
  color: #333333;
  line-height: 1em;
}
.car-price-saving strong {
  font-family: 'Texta-Bold', sans-serif;
  font-size: 1em;
}
.saving-percentage {
  display: inline-block;
  vertical-align: top;
  background-color: #AEACA1;
  border-radius: 16px;
  color: #ffffff;
  font-family: 'Texta-Bold', sans-serif;
  font-size: 0.929em;
  line-height: 1em;
  padding: 2px 4px;
  margin: 0;
}
.car-btn-essai {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
          transition: opacity 0.2s ease-in-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  top: 86px;
  background-color: #009cc4;
  color: #ffffff;
  padding: 9px 0;
  font-family: 'Texta-Black', sans-serif;
  font-size: 1em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
}
.zone-arrow-btn {
  display: inline-block;
  vertical-align: top;
  width: 4px;
  height: 100%;
  position: relative;
  margin: 0 6px 0 0;
}
.zone-arrow-btn:before {
  content: "›";
  position: absolute;
  top: -1px;
  left: 0;
}
/* @end */
/* retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  .e-trustedshops {
    background-image: url("../layoutImg/e-trustedshops@2x.png");
    background-size: 100px 42px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  .e-trustedshops {
    background-image: url("../layoutImg/e-trustedshops@2x.png");
    background-size: 100px 42px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-resolution: 288dpi) {
  .e-trustedshops {
    background-image: url("../layoutImg/e-trustedshops@3x.png");
    background-size: 100px 42px;
  }
}
/* ==|== print styles =======================================================
   ========================================================================== */
@media print {
  * {
    color: #000;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
    font-size: .7em;
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after,
  #logo-institut-avignon:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  #mask,
  #bloc-top,
  nav,
  #menu-footer,
  .second-menu,
  .arianne,
  #motif,
  #hamburger-menu {
    display: none !important;
  }
  header {
    position: relative;
  }
  header .container.big {
    width: 940px;
  }
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  h6,
  .main form {
    padding-left: 0 !important;
  }
  #logo-institut-avignon {
    margin-left: 1cm;
  }
}
/* @end */
