/* @group Mes styles */

/* @group General */

html,
button,
input,
select,
textarea {
  color: #000;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
img {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}

/* selection */
::-moz-selection { 
    background: #000;  
    color: #fff;
    text-shadow: none; 
}
::selection { 
    background: #000;  
    color: #fff; 
    text-shadow: none; 
}

/* @end */

/* @group Global */

body{
    width: 100%;
	.texta(1em);
	color: @theme-noir;
}

h1{
    .texta-black(5.313em);
    &.small-title{
        .texta-black(3.75em);
        line-height: 1.1em;
        margin: 0 0 35px 0;
    }
    a{
        display: inline-block;
        vertical-align: top;
    }
    .small-txt{
        .texta-light(0.417em);
        line-height: 1em;
        display: inline-block;
        vertical-align: top;
        padding: 4px 0 0 0;
    }
    .small-wrapper-top &{
        display: inline-block;
        vertical-align: top;
    }
}

h2{
    .texta-black(2.25em);
    margin: 72px 0 40px 0;
    line-height: 1.1em;
    &.big-title{
        .texta-black(3.75em);
        line-height: 1.1em;
        margin: 0 0 35px 0;
    }
    &.medium-title{
        .texta-black(2.625em);
        line-height: 0.9em;
    }
    a{
        display: inline-block;
        vertical-align: top;
    }
    .small-txt{
        .texta-light(0.417em);
        line-height: 1em;
        display: inline-block;
        vertical-align: top;
        padding: 4px 0 0 0;
    }
}

h3{
	.texta-bold(1.813em);
	margin: 15px 0;
}

h4{
	.texta-bold(1.25em);
	margin: 15px 0;
}

p{
	.texta-light(1.25em);
    line-height: 1.3em;
    &.big-txt{
        .texta(1.625em);
        margin: 26px 0 70px 0;
    }
}

strong{
    .texta-bold(1em);
}

ul{
    #main &{
        display: block;
        width: 100%;
        list-style-type: none;
        box-sizing: border-box;
        padding: 0 60px;
        > li{
            color: @theme-noir;
            box-sizing: border-box;
            padding: 0 20px;
            position: relative;
            &:before{
                content: "●";
                color: @theme-secondary;
                font-size: 10px;
                position: absolute;
                top: 5px;
                left: 7px;
            }
            p{
                .texta-light(1.125em);
                strong{
                    .texta-bold(1em);
                }
            }
        }
    }
}

ol{
    #main &{
        display: block;
        width: 100%;
        list-style-type: none;
        box-sizing: border-box;
        padding: 0 60px;
        counter-reset: my-awesome-counter;
        > li{
            color: @theme-noir;
            box-sizing: border-box;
            padding: 0 20px;
            position: relative;
            counter-increment: my-awesome-counter;
            &:before{
                content: counter(my-awesome-counter)'.';
                .texta-bold(1em);
                position: absolute;
                top: 1px;
                left: 0px;
                display: inline-block;
            }
            p{
                .texta-light(1.125em);
                strong{
                    .texta-bold(1em);
                }
            }
        }
    }
}

img{
    max-width: 100%;
    &.alignleft{
        margin-left: -82px;
    }
    &.alignright{
        margin-right: -82px;
    }
}

i{
	font-style: normal;
	.texta-light-italic(1em);
}

a{
    color: @theme-secondary;
    &.no-underline{
        text-decoration: none;
    }
}

.size1{
	width: 300px;
}

.size2{
    width: 190px;
}

a.logo-facilicar{
    display: block;
    width: 281px;
    height: 49px;
    background: url("../layoutImg/logo-facilicar.png") no-repeat 0 0;
    transition: opacity 0.1s ease-in-out;
    &:hover{
        opacity: 0.8;
    }
    .header-on &{
        width: 179px;
        height: 31px;
        background-size: 179px 31px;
    }
}

.no-txt-transform{
    text-transform: none;
}

.container{
    display: block;
    width: 1140px;
    height: auto;
    margin: 0 auto;
    padding: 0;
    &.small{
        box-sizing: border-box;
        padding: 0 82px;
    }
}

.color-primary{
	color: @theme-primary;
    a&{
        transition: opacity 0.1s ease-in-out;
        &:hover{
            opacity: 0.8;
        }
    }
}

.color-secondary{
	color: @theme-secondary;
    a&{
        transition: opacity 0.1s ease-in-out;
        &:hover{
            opacity: 0.8;
        }
    }
}

.color-grey{
	color: @theme-gris;
    a&{
        transition: opacity 0.1s ease-in-out;
        &:hover{
            opacity: 0.8;
        }
    }
}

.color-white{
	color: #ffffff;
    a&{
        transition: color 0.1s ease-in-out;
        &:hover{
            color: @theme-gris;
        }
    }
}

.color-gris-3{
    color: @theme-gris3;
}

.color-theme-black{
	color: @theme-noir;
    a&{
        transition: opacity 0.1s ease-in-out;
        &:hover{
            opacity: 0.8;
        }
    }
}

.bg-gradient{
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(231,230,226,1) 100%);
}

.bg-white{
    background-color: #ffffff;
}

&.bg-primary{
    background-color: @theme-primary;
    /*a&{
        transition: background-color 0.1s ease-in-out;
        &:hover{
            background-color: @theme-secondary;
        }
    }*/
}

&.bg-secondary{
    background-color: @theme-secondary;
}

&.bg-secondary-light{
    background-color: @theme-secondary-light;
}

.encadre{
    display: inline-block;
    vertical-align: top;
    color: @theme-gris;
    border: 1px solid @theme-gris;
    line-height: 1em;
    padding: 2px 4px;
    .texta-light(0.875em);
}

.txt-centered{
    text-align: center;
}

.txt-left-aligned{
    text-align: left;
}

.txt-right-aligned{
    text-align: right;
}

.text-shadow-title{
    //text-shadow: 0px 0px 200px fade(@theme-primary, 100%);
    //text-shadow: 0px 0px 150px rgba(2, 158, 200, 100);
    position: relative;
    &:before{
        content: "";
        position: absolute;
        top: -70px;
        left: -130px;
        bottom: -70px;
        right: -130px;
        background: radial-gradient(ellipse at center, rgba(2,157,200,0.85) 10%, rgba(2,157,200,0) 70%);
    }
    span{
        position: relative;
    }
}

.alignleft {
    float: left;
    margin: 0 24px 24px 0;
    padding: 0;
}

.alignright {
    float: right;
    margin: 0 0 24px 24px;
    padding: 0;
}

.line-through{
    text-decoration: line-through;
}

.full-height{
    height: 100%;
}

.wrapper-align-middle{
	display: table;
	width: 100%;
	margin: 0;
	padding: 0;
}

.content-align-middle{
	display: table-cell;
	vertical-align: middle;
}

.e-trustedshops{
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 42px;
    background: url("../layoutImg/e-trustedshops.png") no-repeat 0 0;
}

.trustedshops-avis{
    display: inline-block;
    vertical-align: top;
    width: 91px;
    height: 88px;
    background: url("../layoutImg/trustedshop.png") no-repeat 0 0;
}

.out-container{
    position: absolute;
    top: -2000px;
    left: 0;
}

.no-margin{
    margin: 0;
}

.relative-position{
    position: relative;
}

.show-mobile{
    display: none;
    display: none!important;
}

#filtres{
    display: block;
    width: 1118px;
    height: 246px;
    background: url("../layoutImg/filtres.jpg") no-repeat 0 0;
    margin: 50px 0 50px 0;
    padding: 0;
}

#list-cars{
    display: block;
    width: 1119px;
    height: 1674px;
    background: url("../layoutImg/liste-cars.jpg") no-repeat 0 0;
    margin: 0;
    padding: 0 0 150px;
}

.description-recherche{
    line-height: 1.5em;
    position: absolute;
    z-index: 2;
    bottom: 50px;
    left: 0;
    right: 0;
}

.content-toggle{
    display: none;
    box-sizing: border-box;
    &.small{
        padding: 20px 80px;
        .content-toggle{
            &.small{
                padding: 20px 20px;
            }
        }
    }
}

.content-toggle-one{
    display: none;
}

/* @group Wrapper top */
.wrapper-top{
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    .header-on &{
        padding: 110px 0 0 0;
    }
    &.bg-primary, &.bg-secondary, &.bg-white{
        height: 160px;
        .container{
            height: 160px;
        }
    }
}
/* @end */

/* @group Wrapper img */
.wrapper-img{
    height: 340px;
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: content-box;
    .small-wrapper-top &{
        height: 287px;
        text-align: center;
        .container{
            height: 287px;
        }
    }
    .container-img{
        display: block;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        box-sizing: border-box;
        #faq &{
            background-position: 50% 76%!important;
        }
        #team &, #qui-est-facilicar &{
            background-position: 50% 19%!important;
        }
        .header-on &{
            top: 110px;
        }
        .content-img{
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
    .container{
        position: relative;
        height: 340px;
        z-index: 2;
    }
    &.cover-primary{
        &:before{
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: @theme-primary;
            opacity: 0.25;
            z-index: 2;
        }
    }
}
/* @end */

/* @group Responsive */

a.btn-menu-responsive{
    display: none;
    width: 21px;
    height: 21px;
    position: absolute;
    top: 2px;
    right: 0;
    .menu-mobile-open &{
        .rect{
            &:nth-child(1){
                transform: translateY(8px);
                &:before{
                    transform: rotate(45deg);
                }
            }
            &:nth-child(2){
                &:before{
                    opacity: 0;
                }
            }
            &:nth-child(3){
                transform: translateY(-8px);
                &:before{
                    transform: rotate(-45deg);
                }
            }
        }
    }
    .rect{
        display: block;
        width: 21px;
        height: 5px;
        position: absolute;
        left: 0;
        //transition: transform 0.2s ease-in-out;
        &:nth-child(1){
            top: 0;
        }
        &:nth-child(2){
            top: 8px;
            opacity: 1;
        }
        &:nth-child(3){
            top: 16px;
        }
        &:before{
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-color: @theme-primary;
            position: absolute;
            top: 0;
            left: 0;
            //transition-delay: 0.2s;
            //transition: transform 0.2s ease-in-out, opacity 0s ease-in-out;
            transform-origin: 50% 50%;
        }
    }
}

/* @end */

/* @group Breadcrumb */

.breadcrumb, #main .breadcrumb{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 15px 0 0 0;
    > li{
        display: inline-block;
        vertical-align: top;
        .texta-italic(0.875em);
        padding: 0;
        margin: 0 4px 0 0;
        color: #BEBDB7;
        &:before{
            content: "›";
            .texta-light(1em);
            color: @theme-gris3;
            position: relative;
            top: inherit;
            left: inherit;
        }
        &:first-of-type{
            &:before{
                display: none;
            }
        }
        a{
            .texta-light(1em);
            color: @theme-gris3;
            text-decoration: underline;
        }
    }
}

/* @end */

/* @group Navbar */

.navbar, #main .navbar{
    width: 220px;
    height: 100%;
    vertical-align: top;
    .list-block{
        margin: 0;
        padding: 0;
        width: 220px;
        >li{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            text-transform: uppercase;
            .texta-light(1em);
            &:before{
                display: none;
            }
            a{
                display: block;
                color: @theme-noir;
                padding: 11px 0;
                box-sizing: border-box;
                border-bottom: 1px solid @theme-gris2;
                text-decoration: none;
                &:hover{
                    border-bottom-color: @theme-primary;
                }
            }
            &.active{
                a{
                    .texta-bold(1em);
                    border-bottom-color: @theme-primary;
                }
            }
        }
    }
}

.content-with-navbar{
    width: auto;
    padding: 13px 0 0 100px;
    box-sizing: border-box;
    h2{
        &:first-of-type{
            margin-top: 0;
        }
        position: relative;
        &:before{
            content: "";
            display: block;
            width: 58px;
            height: 1px;
            position: absolute;
            left: -79px;
            bottom: 7px;
            background-color: @theme-primary;
        }
    }
}

/* @end */

/* @end */

/* @group Non semantic Boilerplate */

/* remplacement image */
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}
.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/* masqué */
.hidden {
    display: none !important;
}

/* clearfix */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}

/* @end */