/* @group Mes styles */

/* @group General */

html,
button,
input,
select,
textarea {
  color: #000;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
img {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}

/* selection */
::-moz-selection { 
    background: #000;  
    color: #fff;
    text-shadow: none; 
}
::selection { 
    background: #000;  
    color: #fff; 
    text-shadow: none; 
}

/* @end */

/* @group Global */

body{
	.texta(1em);
	color: @theme-noir;
}

h1{
    .texta-black(5.313em);
    &.small-title{
        .texta-black(3.75em);
        line-height: 0.6em;
        margin: 0 0 35px 0;
    }
    .small-txt{
        .texta-light(0.417em);
        line-height: 0.8em;
    }
}

h3{
	.texta-bold(1.813em);
	margin: 15px 0;
}

h4{
	.texta-black(1em);
	margin: 15px 0;
}

p{
	.texta-light(1.25em);
}

i{
	font-style: normal;
	.texta-light-italic(1em);
}

a{
	text-decoration: none;
}

.size1{
	width: 300px;
}

a.logo-facilicar{
    display: block;
    width: 281px;
    height: 49px;
    background: url("../layoutImg/logo-facilicar.png") no-repeat 0 0;
    transition: opacity 0.1s ease-in-out;
    &:hover{
        opacity: 0.8;
    }
}

.container{
    display: block;
    width: 1140px;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

.color-primary{
	color: @theme-primary;
}

.color-secondary{
	color: @theme-secondary;
}

.color-grey{
	color: @theme-gris;
}

.color-white{
	color: #ffffff;
}

.color-theme-black{
	color: @theme-noir;
}

.bg-gradient{
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(231,230,226,1) 100%);
}

.bg-white{
    background-color: #ffffff;
}

&.bg-primary{
    background-color: @theme-primary;
}

&.bg-secondary{
    background-color: @theme-secondary;
}

&.bg-secondary-light{
    background-color: @theme-secondary-light;
}

.encadre{
    display: inline-block;
    vertical-align: top;
    color: @theme-gris;
    border: 1px solid @theme-gris;
    line-height: 1em;
    padding: 2px 4px;
    .texta-light(0.875em);
}

.txt-centered{
    text-align: center;
}

.txt-left-aligned{
    text-align: left;
}

.line-through{
    text-decoration: line-through;
}

.wrapper-align-middle{
	display: table;
	width: 100%;
	margin: 0;
	padding: 0;
}

.content-align-middle{
	display: table-cell;
	vertical-align: middle;
}

.e-trustedshops{
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 42px;
    background: url("../layoutImg/e-trustedshops.png") no-repeat 0 0;
}

.trustedshops-avis{
    display: inline-block;
    vertical-align: top;
    width: 91px;
    height: 88px;
    background: url("../layoutImg/trustedshop.png") no-repeat 0 0;
}

/* @end */

/* @group Non semantic Boilerplate */

/* remplacement image */
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}
.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/* masqué */
.hidden {
    display: none !important;
}

/* clearfix */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}

/* @end */