/* @group Blog */
.articles-presse, #main .articles-presse{
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	> li{
		display: table;
		width: 100%;
		height: auto;
		box-sizing: border-box;
		margin: 0;
		padding: 0 85px 0 0;
		&:before{
			display: none;
		}
		.visu-article{
			display: table-cell;
			vertical-align: middle;
			width: 162px;
			box-sizing: border-box;
			padding: 0 20px 0 0;
			text-align: center;
		}
		.txt-article{
			display: table-cell;
			vertical-align: middle;
			width: auto;
			box-sizing: border-box;
			border-bottom: 1px solid #D8D8D4;
			padding: 20px 0 20px 0;
			.title-article{
				.texta-light(1em);
			}
			p{
				margin: 15px 0 0 0;
				.texta-light(1em);
				+ audio{
					margin-top: 10px;
				}
			}
			audio{
				max-width: 100%;
			}
			.wrapper-has-media{
				display: table;
				width: 100%;
			}
			.content-media{
				display: table-cell;
				vertical-align: top;
				width: 280px;
				.video-container {
				    position: relative;
				    padding-bottom: 56.25%;
				    padding-top: 30px; height: 0; overflow: hidden;
				}
				.video-container iframe,
				.video-container object,
				.video-container embed {
				    position: absolute;
				    top: 0;
				    left: 0;
				    width: 100%;
				    height: 100%;
				}
			}
			.content-txt-media{
				display: table-cell;
				vertical-align: top;
				width: auto;
				box-sizing: border-box;
				padding: 0 0 0 20px;
			}
		}
	}
}
.picto-press{
	display: inline-block;
	vertical-align: top;
	width: 54px;
	height: 53px;
	background: url("../layoutImg/picto-press.png") no-repeat 0 0;
}
.pagination, #main .pagination{
	display: block;
	width: 100%;
	height: auto;
	text-align: center;
	margin: 20px 0 0 0;
	padding: 0;
	&.no-margin{
		margin: 0;
	}
	&.big{
		> li{
			.texta-bold(1.875em);
		}
	}
	> li{
		display: inline-block;
		vertical-align: top;
		.texta-bold(1.275em);
		color: @theme-gris2;
		margin: 0 4px;
		padding: 0;
		box-sizing: border-box;
		&:before{
			display: none;
		}
		a{
			color: @theme-primary;
			text-decoration: none;
			transition: opacity 0.2s ease-in-out;
			&:hover{
				.no-touch &{
					opacity: 0.8;
				}
			}
		}
		&.arrow{
			margin-top: -2px;
		}
	}
}


.navbar, #main .navbar{
    width: 220px;
    height: 100%;
    vertical-align: top;
    position: absolute;
    &.navbar-left{
        position: absolute;
        top: 0;
        left: 0;
    }
    .list-block-blog{
        display: block;
        margin: 0;
        padding: 0 20px 0 0;
        width: 200px;
        max-height: 80%;
        overflow: auto;
        box-sizing: content-box;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        position: relative;
        backface-visibility: hidden;
        >li{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            padding-right:10px;
            .texta-light(1em);
            display: block;
			&:before{
				display: none;
			}
            &:first-child{
            	text-decoration:none;
            	box-sizing: border-box;
				border-bottom: 1px solid #009CC4;
				padding:10px 10px;
				margin-bottom:15px;
				.texta-bold(1em);
				color: @theme-noir;
				text-align:right;
            }
            &:last-child{
            	text-decoration:none;
            	box-sizing: border-box;
				border-bottom: 1px solid #D8D8D4;
				padding-bottom:20px;
            }
            a{
            	display: inline-block;
                position: relative;
                padding: 0 0 0 8px;
                &:before{
	                content: "›";
	                color: @theme-noir;
	                display:block;
	                position: absolute;
	                top: 0;
	                left: 0;

	            }
	           	a.tag-blog{
            	display:block;
            	}
                color: @theme-noir;
                &:hover{
                    .no-touch &{
                        border-bottom-color: @theme-primary;
                    }
                }

            }
            
        }
    }
}
.blog-width{
	display:block;
	box-sizing: border-box;
}

.article-blog{
	display:block;
	box-sizing: border-box;
	border-bottom: 1px solid @theme-neutral;
	padding-bottom: 30px;
	margin-bottom:30px;
}

.comment-article-blog{
	display:block;
	box-sizing: border-box;
	padding-bottom: 30px;
}

.blog{
	#main{
		margin-bottom:0px;
		padding: 40px 0 60px 0;
		.content-with-navbar{
		.text-width-small{
			padding: 0 80px;
			p {
				font-size:1em;
			}
			a{
		        display: inline-block;
		        position: relative;
		        padding: 0 0 0 8px;
		        color: @theme-primary;
		        .texta-bold(1em);
		        &:before{
			        content: "›";
			        display:block;
			        position: absolute;
			        top: 0;
			        left: 0;
				}
			}
			h2{
				&:before{
		            display:none;
		        }
		        &:first-child{
			       margin-top:30px; 	
			    }
		        a{
		  			text-decoration:none;
		  			.texta-black(1em);
		  			color:@theme-noir;
		  			&:before{
			            display:none;
			        }
		         }
			 }
			 ul{
    			display: block;
    			padding: 0;
			 	>li{
			 		display: inline-block;
			 		vertical-align: middle;
		            margin: 0 22px 0 0;
		            padding: 0;
		            .texta-light(0.750em);
		            color:@theme-gris3;
		            &:before{
			            display:none;
			        }
			        &:first-child{
			        	width:142px;
			        }
			        &:nth-child(2){
						width:60px;
			        }
			        &:nth-child(3){
						width:142px;
						line-height:15px;
						text-align:center;
						a{

						}
			        }
			        &:last-child{
			        	width:130px;
			        	margin-right:0;
			        }
					img{
						border-radius:50%;
						width:34px;
						height:34px;
						margin-right:20px;
						padding:0;
					}
					a{
		  			.texta-light(1em);
		  			color:@theme-gris3;
		  			&:before{
			        	display:none;
			        }
		  			
		         	}
				}
			 }
		}
		.text-width-full{
			p {
				font-size:1em;
				padding: 0 80px;
			}
			a{
		        display: inline-block;
		        position: relative;
		        padding: 0 0 0 8px;
		        color: @theme-primary;
		        .texta-bold(1em);
		        &:before{
			        content: "›";
			        display:block;
			        position: absolute;
			        top: 0;
			        left: 0;
				}
			}
			h2{
				text-align:center;
				.texta-black(3.438em);
				line-height:55px;
				margin-bottom:40px;
				&:before{
		            display:none;
		        }
			 }
			h3{
				text-align:center;
				&:before{
		            display:none;
		        }
		        &:first-child{
			       margin-top:30px; 
			       font-size:3.438em;	
			    }
		        a{
		  			text-decoration:none;
		  			.texta-black(1.250em);
		  			color:@theme-gris3;
		  			&:before{
			            display:none;
			        }
		         }
			 }
			 h3{
			 	padding:0 40px;
			 	.texta-black(2.250em);
			 	line-height:38px;
			 	margin:60px 0;

			 }
			 h4{
			 	padding:0 40px;
			 	.texta-black(1.625em);
			 	line-height:38px;
			 	margin:40px 0;
			 	color:#4A4A4A;
			 }
			 ul{
    			display: block;
    			padding:0;
    			margin-bottom:40px;
			 	>li{
			 		.texta-light(1.250em);
			 		display: inline-block;
			 		vertical-align: middle;
		            margin: 0 22px 0 0;
		            padding: 0;
		            color:@theme-gris3;
		            &:before{
			            display:none;
			        }
			        &:first-child{
			        	width:224px;
			        }
			        &:nth-child(2){
						width:142px;
			        }
			        &:nth-child(3){
						width:142px;
						line-height:15px;
						text-align:center;
						a{

						}
			        }
			        &:last-child{
			        	width:224px;
			        	margin-right:0;
			        	margin:0;
			        	text-align:right;
			        }
					img{
						border-radius:50%;
						width:34px;
						height:34px;
						margin-right:20px;
						padding:0;
					}
					a{
		  			.texta-light(1.250em);
		  			color:@theme-gris3;
		  			&:before{
			        	display:none;
			        }
		  			
		         	}
				}
			 }
			 blockquote{
				font-size:2em;
				color:#029EC8;
				text-align:center;
				margin: 60px 0;
				p{
					padding:0;
				}
			}
		}

		.article-similar{
			padding-bottom:10px;
			.title-article{
				text-align:center;
				.texta-black(1.625em);
				color:#4A4A4A;
				margin:0 0 30px 0;
			}
			ul{	
				padding:0;
				width:100%;
				text-align:center;
				li{
					width:222px;
					height:150px;
					display:inline-block;
					vertical-align:top;
					margin-right:25px;
					text-align: center;
					padding: 0;
					backface-visibility: hidden;
					&:last-child{
						margin-right:25px;
						color:red;
					}
				}
				.wrapper-img-link{
					display: block;
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					transform-origin: 50% 50%;
					transition: transform 0.2s ease-in-out;
					img{
						padding: 0;
					}
				}
				.wrapper-align-middle{
					height: 100%;
				}
				.content-align-middle{
					position: relative;
				}
				li:before{
					display:none;
				}
				a{
					text-decoration: none;
					padding: 0 20px;
					box-sizing: border-box;
					position: relative;
					overflow: hidden;
					&:hover{
						.wrapper-img-link{
							transform: scale(1.25);
						}
					}
				}
				p{
					.texta-black(1.250em);
					color:#fff;
					display:block;
					line-height:22px;
					margin:0;
				}
				.link-article{
					.texta(1em);
					color:#fff;
					display:inline-block;
					vertical-align: top;
					margin-top:10px;
					position: relative;
					padding: 0 0 0 8px;
					&:before{
						content: "›";
		                display:block;
		                position: absolute;
		                left: 0;
					}
				}
			}
		}
		
		.blog-comment{
			.title-article{
				text-align:center;
				padding-bottom:20px;
				.texta-black(1.625em);
				color:#4A4A4A;
				margin:0 0 30px 0;
			}
			.comment{
				padding: 0 40px;
						li{
							margin:0;
							padding:0;
							display:inline-block;
							vertical-align: middle;
							&:before{
								display:none;
							}
							img{
							border-radius:50%;
							margin: 0 20px 0 0;
							width:34px;
							height:34px;
							padding:0;
							}
						}
				.info-comment{
					padding:0 20px;
					p{
						margin-left:54px;
						.texta-light(1.333em);
						margin: 5px 0 0 54px;

					}
					li{
						.texta-light(0.750em);
						padding-right:5px;
						&:before{
								display:none;
							}
					}
					a{
						.texta(1.333em);
						color:@theme-primary;

					}
				}
			}
			.comform{
				padding-left:5px;
			}
		}

		h5{
			text-align:center;
			.texta-light(1.250em);
			line-height:38px;
			margin:40px 0 20px 0;
			color:@theme-gris3;
		}
	}
	}
	img{
    	max-width: 100%;
    	padding-bottom:20px;
    	&.alignleft{
        	margin-left: 0px;
    	}
    	&.alignright{
        	margin-right: 0px;
    	}
}
.comform{
	button{
		margin-left:114px;
	}
}

.title-share{
	text-align:center;
}

.list-social-blog{
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align:center;
	> li{
		margin: 0 7px 20px 0;
		&:first-of-type{
			margin-left: 0;
		}
		&:last-of-type{
			margin-right: 0;
		}
		&:before{
			display: none;
		}
		a{
			color:#fff;
			&:hover{
				.no-touch &{
					background: none;
					.zone-icon{
						opacity: 0.8;
					}
				}
			}
		}
	}
	> li{
		display: inline-block;
		vertical-align: top;
		padding: 0;
		position: relative;
		a{

			display: block;
			width: 42px;
			height: 42px;
			border-radius: 50%;
			background-color: @theme-gris3;
			padding: 0;
			margin: 0;
			position: relative;
			line-height: 42px;
			text-align: center;
			font-size: 26px;
			transition: background-color 0.2s ease-in-out;
			text-decoration: none;
			&.icon-twitter{
				font-size: 20px;
			}
			&.icon-pinterest{
				font-size: 20px;
			}
			&.icon-facebook{
				font-size: 20px;
			}
			&.icon-linkedin{
				font-size: 20px;
			}
			&:hover{
				.no-touch &{
					background-color: @theme-gris;
				}
			}
		}
	}
}

}





/* @end */