/* @group Buttons */
a, div, span{
	&.btn-anim{
		overflow: hidden;
		position: relative;
		display: block;
		.txt-btn-anim{
			display: inline-block;
			vertical-align: top;
			position: relative;
			transition: transform 0.2s ease-in-out;
		}
		.txt-hover-btn-anim{
			position: absolute;
			top: 0;
			left: 0;
			transform: translateY(-100%);
			transition: transform 0.2s ease-in-out;
			&:before{
				content: attr(data-hover);
			}
		}
		&:hover{
			opacity: 1;
			.txt-btn-anim{
				transform: translateY(100%);
			}
			.txt-hover-btn-anim{
				transform: translateY(0%);
			}
		}
	}
	&.btn-underline{
		text-decoration: underline;
	}
	&.btn-toggle-one{
		.texta-black(1em);
		text-transform: uppercase;
		padding: 10px 50px 10px 0;
		color: @theme-noir;
		position: relative;
		width: 100%;
		height: auto;
		display: block;
		box-sizing: border-box;
		.texta-black(1.375em);
		padding: 4px 0;
		color: @theme-primary;
		&.left{
			padding-right: 6px;
		}
		&.right{
			padding-left: 6px;
		}
		.border{
			display: block;
			position: absolute;
			width: 100%;
			height: 1px;
			bottom: 0;
			left: 0;
			overflow: hidden;
			&:before{
				content: "";
				display: block;
				box-sizing: border-box;
				width: 100%;
				height: 1px;
				background-color: #D8D8D4;
				position: absolute;
				bottom: 0;
				left: 0;
			}
		}
		.arrow-toggle-one{
			display: inline-block;
			vertical-align: top;
			margin: -2px 0 0 0;
			&.left{
				margin: -2px 2px 0 0;
			}
			&.right{
				margin: -2px 0 0 2px;
			}
		}
		&.open{
			border-bottom: none;
			color: @theme-noir;
			.arrow-toggle-one{
				opacity: 0;
			}
			.border{
				&:before{
					content: "";
					display: block;
					box-sizing: border-box;
					width: 50%;
					height: 1px;
					background-color: @theme-primary;
					position: absolute;
					bottom: 0;
					left: -6px;
				}
				&:after{
					content: "";
					display: block;
					box-sizing: border-box;
					width: 50%;
					height: 1px;
					background-color: @theme-primary;
					position: absolute;
					bottom: 0;
					right: -6px;
				}
			}
			&:before{
				content: "";
				display: block;
				width: 9px;
				height: 1px;
				position: absolute;
				left: 50%;
				bottom: 0;
				margin: 0 0 0 -6px;
				background-color: @theme-primary;
				transform: rotate(45deg);
				transform-origin: 0 0;
			}
			&:after{
				content: "";
				display: block;
				width: 9px;
				height: 1px;
				position: absolute;
				right: 50%;
				bottom: 0;
				margin: 0 -6px 0 0;
				background-color: @theme-primary;
				transform: rotate(-45deg);
				transform-origin: 100% 0;
			}
		}
	}
	&.btn-toggle{
		.texta-black(1em);
		text-transform: uppercase;
		padding: 10px 50px 10px 0;
		color: @theme-noir;
		position: relative;
		width: 100%;
		height: auto;
		display: block;
		box-sizing: border-box;
		border-top: 1px solid #AEACA1;
		h1, h2, h3, h4{
			margin: 0;
			padding: 0;
		}
		&.border-bottom{
			border-top: none;
			border-bottom: 1px solid #AEACA1;
		}
		&.no-txt-transform{
			text-transform: none;
		}
		&.big-btn-toggle{
			padding: 18px 100px 18px 100px;
		}
		.icon-arrow-right{
			position: absolute;
			font-size: 10px;
			right: 19px;
			width: 5px;
			height: 10px;
			top: 50%;
			margin: -5px 0 0 0;
			transform-origin: 50% 50%;
			transition: transform 0.2s ease-in-out;
			color: @theme-primary;
			.content-toggle &{
				color: @theme-secondary;
			}
		}
		.icon-arrow-down{
			position: absolute;
			font-size: 6px;
			right: 19px;
			width: 12px;
			height: 6px;
			top: 50%;
			margin: -3px 0 0 0;
			transform-origin: 50% 50%;
			transition: transform 0.2s ease-in-out;
		}
		&.open{
			.icon-arrow-down{
				transform: rotate(-180deg);
			}
			.icon-arrow-right{
				transform: rotate(90deg);
			}
		}
		&.big{
			border-top: none;
			.texta-black(1.375em);
			padding: 4px 0;
			span{
				display: block;
				position: absolute;
				width: 100%;
				height: 1px;
				bottom: 0;
				left: 0;
				overflow: hidden;
				&:before{
					content: "";
					display: block;
					box-sizing: border-box;
					width: 100%;
					height: 1px;
					background-color: #D8D8D4;
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}
			&.open{
				border-bottom: none;
				span{
					&:before{
						content: "";
						display: block;
						box-sizing: border-box;
						width: 50%;
						height: 1px;
						background-color: @theme-primary;
						position: absolute;
						bottom: 0;
						left: -6px;
					}
					&:after{
						content: "";
						display: block;
						box-sizing: border-box;
						width: 50%;
						height: 1px;
						background-color: @theme-primary;
						position: absolute;
						bottom: 0;
						right: -6px;
					}
				}
				&:before{
					content: "";
					display: block;
					width: 9px;
					height: 1px;
					position: absolute;
					left: 50%;
					bottom: 0;
					margin: 0 0 0 -6px;
					background-color: @theme-primary;
					transform: rotate(45deg);
					transform-origin: 0 0;
				}
				&:after{
					content: "";
					display: block;
					width: 9px;
					height: 1px;
					position: absolute;
					right: 50%;
					bottom: 0;
					margin: 0 -6px 0 0;
					background-color: @theme-primary;
					transform: rotate(-45deg);
					transform-origin: 100% 0;
				}
			}
		}
	}
	&.btn-arrow{
		position: relative;
		padding-left: 8px;
		&:before{
			content: "›";
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	&.btn-pin{
		.icon-pin{
			display: inline-block;
			vertical-align: top;
			font-size: 20px;
			margin: 0 8px 0 0;
			padding: 2px 0 0 0;
		}
	}
	&.btn-tel{
		.icon-tel{
			display: inline-block;
			vertical-align: top;
			font-size: 17px;
			margin: 0 4px 0 0;
			padding: 4px 0 0 0;
		}
		.tel-number{
			display: inline-block;
			vertical-align: top;
			background-color: #F3F3EE;
			border-radius: 18px;
			padding: 0 6px;
		}
	}
	&.btn-heart{
		position: relative;
		.txt-heart{
			display: inline-block;
			vertical-align: top;
		}
		.zone-heart{
			display: inline-block;
			vertical-align: top;
			margin: 0 0 0 4px;
			padding: 0;
			position: relative;
		}
		.icon-heart{
			display: inline-block;
			vertical-align: top;
			font-size: 17px;
			margin: 5px 0 0 0;
			padding: 0;
			color: #FF7E7E;
			transition: color 0.1s ease-in-out;
		}
		.heart-number{
			.texta-bold(0.611em);
			line-height: 11px;
			display: inline-block;
			vertical-align: top;
			box-sizing: border-box;
			position: absolute;
			left: 13px;
			top: 8px;
			background-color: #ffffff;
			padding: 0 3px;
			border-radius: 3px;
			border: 1px solid @theme-gris;
			transition: color 0.1s ease-in-out;
		}
		&:hover{
			opacity: 1;
			.icon-heart{
				color: #F45858;
			}
			.heart-number{
				color: @theme-primary;
			}
		}
	}
	&.btn-block{
		display: inline-block;
		vertical-align: top;
		text-transform: uppercase;
		color: #ffffff;
		.texta-black(1.094em);
		position: relative;
		overflow: hidden;
		&.big{
			.texta-black(1.625em);
			&.btn-block-arrow{
				.txt-btn-block-arrow{
					padding: 26px 58px;
				}
				.txt-hover-btn-block-arrow{
					padding: 26px 58px;
				}
			}
		}
		&.btn-block-border{
			box-sizing: border-box;
			border: 3px solid #ffffff;
			padding: 15px 20px;
			&.btn-block-arrow{
				padding: 15px 37px;
			}
			&.small{
				padding: 3px 6px
			}
		}
		&.btn-block-arrow-left{
			.txt-btn-block-arrow{
				padding: 17px 45px 17px 28px;
			}
			.txt-hover-btn-block-arrow{
				padding: 17px 45px 17px 28px;
			}
		}
		.txt-btn-block-arrow{
			display: inline-block;
			vertical-align: top;
			position: relative;
			transition: transform 0.2s ease-in-out;
			padding: 17px 28px 17px 45px;
		}
		.txt-hover-btn-block-arrow{
			position: absolute;
			top: 0;
			left: 0;
			padding: 17px 28px 17px 45px;
			transform: translateY(-100%);
			transition: transform 0.2s ease-in-out;
			&:before{
				content: attr(data-hover);
			}
		}
		&.btn-block-arrow{
			transition: color 0.2s ease-in-out;
			background-color: #ffffff;
			.bloc-survol &{
				transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out, color 0.2s ease-in-out;
			}
			.arrow-btn-block-arrow{
				position: absolute;
				top: 50%;
				margin: -19px 0 0 0;
				left: 24px;
				height: 36px;
				line-height: 36px;
			}
			&.btn-block-arrow-left{
				.arrow-btn-block-arrow{
					left: auto;
					right: 24px;
				}
			}
			&.bg-primary{
				&:before{
					background-color: @theme-primary;
				}
				&:after{
					border-color: @theme-primary;
				}
			}
			&.bg-primary-transp{
				&:before{
					background-color: @theme-primary;
				}
				&:after{
					border-color: @theme-primary;
				}
			}
			&.bg-secondary{
				&:before{
					background-color: @theme-secondary;
				}
				&:after{
					border-color: @theme-secondary;
				}
			}
			&.border-white{
				background: none;
				&:before{
					background-color: #ffffff;
					opacity: 0;
				}
				&:after{
					border-color: #ffffff;
				}
			}
			&:before{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				margin: 0;
				padding: 0;
				transition: opacity 0.2s ease-in-out;
			}
			&:after{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-width: 3px;
				border-style: solid;
				box-sizing: border-box;
			}
			&:hover{
				background-color: #ffffff;
				&.border-white{
					background: none;
				}
				&:before{
					opacity: 0;
				}
				.txt-btn-block-arrow{
					transform: translateY(100%);
				}
				.txt-hover-btn-block-arrow{
					transform: translateY(0%);
				}
				&.bg-primary{
					color: @theme-primary;
				}
				&.bg-primary-transp{
					background: none;
					color: @theme-primary;
				}
				&.bg-secondary{
					color: @theme-secondary;
				}
				&.border-white{
					color: @theme-secondary;
					&:before{
						opacity: 1;
					}
				}
			}
		}
	}
}
a{
	&:focus{
		outline: none;
	}
}
/* @end */