/* @group Cars */
.wrapper-car{
	display: block;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: 1px solid @theme-gris2;
	position: relative;
	overflow: hidden;
	text-align: center;
	&.cta{
		.texta-light(1.25em);
		color: @theme-noir;
		text-decoration: none;
		line-height: 1.2em;
		&.big-line-height{
			line-height: 1.3em;
		}
		i{
			.texta-light-italic(1.2em);
			color: #AEACA1;
		}
		strong{
			.texta-bold(1.25em);
		}
		.cta-wrapper{
			display: block;
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			margin: 0;
			padding: 0 20px;
			position: relative;
		}
		.tel{
			padding-right: 20px;
		}
		.icon-tel{
			display: inline-block;
			vertical-align: top;
			margin: 2px 10px 0 0;
			font-size: 0.9em;
		}
		.cta-content{
			display: block;
			&.cta-img{
				margin: 0;
				padding: 20px 0;
				img{
					max-width: 50%;
				}
				&.full-width{
					img{
						max-width: 100%;
					}
				}
			}
			&.cta-txt{
				margin: 5px 0;
			}
			&.cta-btn{
				display: block;
				width: 100%;
				height: 95px;
				position: absolute;
				bottom: 0;
				left: 0;
				.wrapper-cta-btn{
					display: table;
					width: 100%;
					height: 95px;
				}
				.content-wrapper-cta-btn{
					display: table-cell;
					vertical-align: middle;
				}
				.txt-cta-btn{
					display: block;
					margin: 0 0 12px 0;
				}
				.btn-underline{
					padding: 0 12px;
					display: inline-block;
					vertical-align: top;
					text-align: left;
					.texta-medium(1.2em);
					&:before{
						top: 50%;
						transform: translateY(-50%);
						.no-csstransforms3d &{
							transform: none;
							margin-bottom: 47px;
						}
					}
					&.has-txt-before{
						margin-bottom: 30px;
					}
				}
			}
		}
	}
	&:hover{
		.fond-bandeau-car{
			&.bandeau-top{
				transform: translateY(0px) translateZ(1px);
				transition-delay: 0s;
				.no-csstransforms3d &{
					transform: none;
					margin-top: 0;
				}
			}
			&.bandeau-bottom{
				transform: translateY(0px) translateZ(1px);
				transition-delay: 0s;
				.no-csstransforms3d &{
					transform: none;
					margin-bottom: 0;
				}
			}
		}
		.car-year{
			transform: translateY(0px) translateZ(1px);
			transition-delay: 0s;
			.no-csstransforms3d &{
				transform: none;
				margin-bottom: 0;
			}
		}
		.car-name{
			transform: translateY(0px) translateZ(1px);
			transition-delay: 0s;
			.no-csstransforms3d &{
				transform: none;
				margin-bottom: 0;
			}
		}
		.car-desc{
			opacity: 1;
			transition-delay: 0.1s;
		}
		.motor-color{
			opacity: 1;
			transition-delay: 0.1s;
		}
		.car-km{
			transform: translateY(0px) translateZ(1px);
			transition-delay: 0s;
			.no-csstransforms3d &{
				transform: none;
				margin-top: 0;
			}
		}
		.car-price{
			transform: translateY(0px) translateZ(1px);
			transition-delay: 0s;
			.no-csstransforms3d &{
				transform: none;
				margin-bottom: 0;
			}
		}
		.car-price-saving{
			opacity: 1;
			transform: translateY(0px) translateZ(1px);
			transition-delay: 0s;
			.no-csstransforms3d &{
				transform: none;
				margin-bottom: 0;
			}
		}
		.car-btn-essai{
			opacity: 1;
			transition-delay: 0.1s;
		}
		.bandeau-car{
			&.bandeau-bottom{
				height: 135px;
				transition-delay: 0s;
			}
		}
		.car-labels{
			//opacity: 0;
			transition-delay: 0s;
		}
		.car-label{
			transform: translateY(-45px);
			transition-delay: 0s;
			.no-csstransforms3d &{
				transform: none;
				margin-bottom: 45px;
			}
		}
	}
}
.bandeau-image-car{
	display: block;
	width: 100%;
	height: 176px;
	position: absolute;
	left: 0;
	top: 87px;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	ul{
		display: block;
		width: 100%;
		height: 100%;
		position: relative;
		margin: 0;
		padding: 0;
		list-style-type: none;
		overflow: hidden;
		> li{
			display: block;
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
			left: 0;
			transform: translateX(-100%);
			.no-csstransforms3d &{
				transform: none;
				margin-bottom: 176px;
			}
			&.is-active{
				transform: translateX(0%);
				.no-csstransforms3d &{
					transform: none;
					margin-bottom: 0;
				}
			}
			&:first-of-type{
				z-index: 2;
			}
		}
	}
}
.fond-bandeau-car{
	display: block;
	width: 100%;
	height: auto;
	position: absolute;
	left: 0;
	text-align: center;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	transition: transform 0.2s ease-in-out;
	z-index: 2;
	&.bandeau-top{
		top: 0;
		height: 127px;
		transform: translateY(-40px) translateZ(1px);
		transition-delay: 0.1s;
		.no-csstransforms3d &{
			transform: none;
			margin-top: -40px;
		}
	}
	&.bandeau-bottom{
		bottom: 0;
		height: 135px;
		transform: translateY(40px) translateZ(1px);
		transition-delay: 0.1s;
		.no-csstransforms3d &{
			transform: none;
			margin-bottom: -40px;
		}
	}
}
.bandeau-car{
	display: block;
	width: 100%;
	height: auto;
	position: absolute;
	left: 0;
	text-align: center;
	box-sizing: border-box;
	padding: 0;
	overflow: hidden;
	z-index: 3;
	&.bandeau-top{
		top: 0;
		height: 127px;
	}
	&.bandeau-bottom{
		bottom: 0;
		height: 95px;
		//height: 135px;
		transition: height 0.2s ease-in-out;
		transition-delay: 0.1s;
		//background-color: #ffffff;
	}
}

.car-block{
	display: block;
	position: absolute;
	left: 8px;
	right: 8px;
}

.car-year{
	transform: translateY(10px) translateZ(1px);
	transition: transform 0.2s ease-in-out;
	transition-delay: 0.1s;
	top: 8px;
	text-align: center;
	.no-csstransforms3d &{
		transform: none;
		margin-bottom: -10px;
	}
}

.car-name{
	transform: translateY(10px) translateZ(1px);
	transition: transform 0.2s ease-in-out;
	transition-delay: 0.1s;
	top: 30px;
	.texta-light(1.375em);
	text-transform: uppercase;
	color: @theme-noir;
	line-height: 1em;
	padding: 2px 0;
	width: auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	.no-csstransforms3d &{
		transform: none;
		margin-bottom: -10px;
	}
	strong{
		.texta-black(1em);
	}
}

.car-desc{
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	transition-delay: 0s;
	top: 58px;
	.texta-light(0.875em);
	line-height: 1.4em;
	text-transform: uppercase;
	color: @theme-noir;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.car-options{
	display: none;
	margin: 10px 0 0 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
	position: relative;
	z-index: 2;
	&:before{
		content: "";
		display: block;
		width: 100%;
		height: 34px;
		position: absolute;
		bottom: -34px;
		left: 0;
		z-index: 2;
	}
	.wrapper-car-option{
		display: inline-block;
		vertical-align: top;
		width: 34px;
		height: 34px;
		margin: 0;
		text-align: left;
		.container-car-option{
			display: block;
			width: 100%;
			height: 100%;
			text-decoration: none;
			box-sizing: border-box;
			padding: 0;
			.texta-light(1em);
			border-radius: 6px;
			position: relative;
			text-align: center;
			&:hover{
				.zone-picto{
					color: @theme-secondary;
					&.nb-places{
						.places{
							background-color: @theme-secondary;
							color: #fff;
						}
					}
				}
				.zone-txt{
					opacity: 1;
				}
			}
		}
	}
	.zone-picto{
		display: block;
		width: 100%;
		height: 100%;
		font-size: 25px;
		color: @theme-gris3;
		line-height: 34px;
		&.icon-gps{
			font-size: 25px;
		}
		&.icon-clim{
			font-size: 22px;
		}
		&.icon-toit-ouvrant{
			font-size: 20px;
		}
		&.icon-control-recul{
			font-size: 14px;
		}
		&.nb-places{
			.places{
				display: inline-block;
				vertical-align: middle;
				background-color: @theme-gris3;
				padding: 2px 7px;
				margin: 0;
				.texta(0.5em);
				line-height: 1em;
				color: #fff;
				border-radius: 10px;
				margin-top: -5px;
			}
		}
		&.icon-phares{
			font-size: 18px;
		}
		&.icon-cuir{
			font-size: 20px;
		}
		&.icon-quatre-quatre{
			font-size: 26px;
		}
	}
	.zone-txt{
		display: block;
		width: 120px;
		height: 32px;
		line-height: 1em;
		padding: 5px 0 0 0;
		color: #6C6B6C;
		position: absolute;
		bottom: -45px;
		left: 50%;
		margin: 0 0 0 -60px;
		opacity: 0;
		background-color: #fff;
		.wrapper-align-middle{
			height: 100%;
		}
		.triangle{
			display: block;
			width: 8px;
			height: 4px;
			line-height: 4px;
			text-align: center;
			font-size: 4px;
			position: absolute;
			top: -4px;
			left: 50%;
			margin: 0 0 0 -4px;
			background: url("../layoutImg/triangle.png") no-repeat 0 0;
		}
		&:before{
			content: "";
			display: block;
			width: 16px;
			height: 1px;
			position: absolute;
			top: 0;
			left: 50%;
			margin: 0 0 0 -19px;
			background-color: @theme-secondary;
		}
		&:after{
			content: "";
			display: block;
			width: 16px;
			height: 1px;
			position: absolute;
			top: 0;
			right: 50%;
			margin: 0 -19px 0 0;
			background-color: @theme-secondary;
		}
	}
}

.car-photos{
	display: none;
	.texta-medium(1em);
	color: @theme-secondary;
	text-decoration: underline;
	margin: 12px 0 0 0;
	padding: 10px 0 10px 48px;
	position: relative;
	line-height: 1em;
	&:before{
		.icon-font;
		content: "\e91e";
		font-size: 41px;
		position: absolute;
		top: 50%;
		left: 0;
		margin: -20px 0 0 0;
	}
}

.motor-color{
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	transition-delay: 0s;
	top: 76px;
	.texta-light(0.875em);
	line-height: 1.4em;
	text-transform: uppercase;
	color: @theme-noir;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.car-km{
	transform: translateY(-32px) translateZ(1px);
	transition: transform 0.2s ease-in-out;
	transition-delay: 0.1s;
	top: 96px;
	.texta-light(1em);
	line-height: 1em;
	color: @theme-gris2;
	padding: 2px 0;
	.no-csstransforms3d &{
		transform: none;
		margin-top: -36px;
	}
}

.car-old-price{
	bottom: 111px;
	.texta-light(1.125em);
	line-height: 1em;
	color: @theme-gris;
}

.car-price{
	transform: translateY(45px) translateZ(1px);
	transition: transform 0.2s ease-in-out;
	transition-delay: 0.1s;
	bottom: 78px;
	.texta-light(2.5em);
	line-height: 0.8em;
	color: @theme-secondary;
	.no-csstransforms3d &{
		transform: none;
		margin-bottom: -45px;
	}
}

.car-price-saving{
	opacity: 0;
	transform: translateY(45px) translateZ(1px);
	transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
	transition-delay: 0.1s;
	bottom: 55px;
	.texta-light(0.875em);
	color: @theme-noir;
	line-height: 1em;
	.no-csstransforms3d &{
		transform: none;
		margin-bottom: -45px;
	}
	strong{
		.texta-bold(1em);
	}
}

.saving-percentage{
	display: inline-block;
	vertical-align: top;
	background-color: #AEACA1;
	border-radius: 16px;
	color: #ffffff;
	.texta-bold(0.929em);
	line-height: 1em;
	padding: 2px 4px;
	margin: 0;
}

.car-zone-btn{
	bottom: 8px;
}

.car-btn-essai{
	display: block;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	transition-delay: 0s;
	background-color: @theme-primary;
	color: #ffffff;
	padding: 9px 0;
	.texta-black(1em);
	text-transform: uppercase;
}

.car-btn-wishlist{
	display: none;
	.texta-medium(1em);
	color: @theme-noir;
	text-decoration: underline;
	position: relative;
	padding: 0 0 0 20px;
	margin: 0 20px 0 0;
	&:before{
		content: "\e800";
		.icon-font;
		font-size: 12px;
		position: absolute;
		top: 50%;
		left: 0;
		margin: -6px 0 0 0;
	}
}

.zone-arrow-btn{
	display: inline-block;
	vertical-align: middle;
	width: 4px;
	height: 100%;
	position: relative;
	margin: -7px 6px 0 0;
	&:before{
		content: "›";
	}
}

.car-labels{
	bottom: 95px;
	transform: translateY(50%);
	display: block;
	margin: 0;
	padding: 0;
	height: auto;
	line-height: 1em;
	transition: opacity 0.2s ease-in-out;
	transition-delay: 0.1s;
	opacity: 1;
	z-index: 4;
	.no-csstransforms3d &{
		transform: none;
		margin-bottom: -11px;
	}
}

.car-label{
	display: inline-block;
	vertical-align: top;
	background-color: #FBB855;
	color: @theme-noir;
	padding: 3px 7px;
	margin: 0 2px;
	.texta-light(0.813em);
	text-transform: uppercase;
	transform: translateY(0px);
	transition: transform 0.2s ease-in-out;
	transition-delay: 0.1s;
	.no-csstransforms3d &{
		transform: none;
		margin-bottom: 0;
	}
	&.indic{
		display: none;
		position: relative;
		&.stock{
			background-color: @theme-vert;
			color: #fff;
			padding-left: 24px; 
			&:before{
				content: "\e91c";
				.icon-font;
				font-size: 10px;
				position: absolute;
				top: 50%;
				left: 8px;
				margin: -5px 0 0 0;
			}
		}
		&.arrivage{
			background-color: @theme-marron;
			color: #fff;
			padding-left: 26px; 
			&:before{
				content: "\e91a";
				.icon-font;
				font-size: 10px;
				position: absolute;
				top: 50%;
				left: 9px;
				margin: -5px 0 0 0;
			}
		}
		&.reserve{
			background-color: @theme-gris2;
			color: #fff;
			padding-left: 24px; 
			&:before{
				content: "\e91b";
				.icon-font;
				font-size: 10px;
				position: absolute;
				top: 50%;
				left: 9px;
				margin: -5px 0 0 0;
			}
		}
	}
}

.result-cars-number{
	width: 200px;
	box-sizing: border-box;
	padding: 0 8px 0 0;
	position: relative;
	overflow: hidden;
	p{
		line-height: 1em;
	}
	.cars-number{
		display: block;
		.texta-black(1.3em);
		strong{
			display: block;
			font-size: 2.692em;
			line-height: 0.9em;
		}
	}
	&:before{
		content: "";
		display: block;
		width: 1px;
		height: 50%;
		background-color: #979797;
		position: absolute;
		top: -8px;
		right: 8px;
		box-sizing: border-box;
	}
	&:after{
		content: "";
		display: block;
		width: 1px;
		height: 50%;
		background-color: #979797;
		position: absolute;
		bottom: -8px;
		right: 8px;
		box-sizing: border-box;
	}
	.arrow{
		display: block;
		width: 0px;
		height: 0px;
		border-color: transparent;
		border-style: solid;
		border-width: 10px 0 10px 9px;
		border-left-color: #979797;
		border-top-color: fade(#979797, 0);
		border-bottom-color: fade(#979797, 0);
		position: absolute;
		right: 0;
		top: 50%;
		margin: -10px 0 0 0;
		&:before{
			content: "";
			display: block;
			width: 0px;
			height: 0px;
			border-color: transparent;
			border-style: solid;
			border-width: 9px 0 9px 9px;
			border-left-color: #fff;
			border-top-color: fade(#fff, 0);
			border-bottom-color: fade(#fff, 0);
			position: absolute;
			right: 1px;
			top: -9px;
		}
	}
}

.cars-filters{
	width: auto;
	box-sizing: border-box;
	padding: 0 0 0 45px;
}

.lines-filters, .list-block.lines-filters{
	> li{
		margin: 10px 0;
		&:last-of-type{
			margin-top: 40px;
		}
	}
}

.filter-title{
	display: inline-block;
	vertical-align: middle;
	.texta-light(1em);
	text-transform: uppercase;
	margin: 0 10px 0 0;
}

.select-type-car{
	display: inline-block;
	vertical-align: middle;
	list-style-type: none;
	margin: 0;
	padding: 0;
	> li{
		display: inline-block;
		vertical-align: top;
		width: 95px;
		height: 95px;
		margin: 0 5px;
		text-align: center;
		a{
			display: block;
			width: 100%;
			height: 100%;
			text-decoration: none;
			box-sizing: border-box;
			padding: 19px 0 14px 0;
			.texta-light(0.875em);
			border-radius: 8px;
			&:hover{
				.zone-picto{
					color: @theme-secondary;
				}
				.zone-txt{
					color: @theme-secondary;
				}
			}
		}
		&.is-selected{
			a{
				background-color: @theme-secondary;
				color: #fff;
				.zone-picto{
					color: #fff;
				}
				.zone-txt{
					.texta-bold(1em);
					color: #fff;
				}
			}
		}
	}
	.zone-picto{
		display: block;
		width: 100%;
		height: 25px;
		font-size: 25px;
		color: @theme-gris2;
	}
	.zone-txt{
		display: block;
		width: 100%;
		height: 32px;
		line-height: 1em;
		padding: 5px 0 0 0;
		color: #6C6B6C;
		.wrapper-align-middle{
			height: 100%;
		}
	}
}

.select-option-car{
	display: inline-block;
	vertical-align: middle;
	list-style-type: none;
	margin: 0;
	padding: 0;
	> li{
		display: inline-block;
		vertical-align: top;
		width: 34px;
		height: 34px;
		margin: 0 5px;
		text-align: center;
		a{
			display: block;
			width: 100%;
			height: 100%;
			text-decoration: none;
			box-sizing: border-box;
			padding: 0;
			.texta-light(1em);
			border-radius: 6px;
			position: relative;
			&:hover{
				.zone-picto{
					color: @theme-secondary;
					&.nb-places{
						.places{
							background-color: @theme-secondary;
							color: #fff;
						}
					}
				}
				.zone-txt{
					opacity: 1;
				}
			}
		}
		&.is-selected{
			a{
				background-color: @theme-secondary;
				.zone-picto{
					color: #fff;
					&.nb-places{
						.places{
							background-color: #fff;
							color: @theme-secondary;
						}
					}
				}
			}
		}
	}
	.zone-picto{
		display: block;
		width: 100%;
		height: 100%;
		font-size: 25px;
		color: @theme-gris2;
		line-height: 34px;
		&.icon-gps{
			font-size: 25px;
		}
		&.icon-clim{
			font-size: 22px;
		}
		&.icon-toit-ouvrant{
			font-size: 20px;
		}
		&.icon-control-recul{
			font-size: 14px;
		}
		&.nb-places{
			.places{
				display: inline-block;
				vertical-align: middle;
				background-color: @theme-gris2;
				padding: 2px 7px;
				margin: 0;
				.texta(0.5em);
				line-height: 1em;
				color: #fff;
				border-radius: 10px;
				margin-top: -5px;
			}
		}
		&.icon-phares{
			font-size: 18px;
		}
		&.icon-cuir{
			font-size: 20px;
		}
		&.icon-quatre-quatre{
			font-size: 26px;
		}
	}
	.zone-txt{
		display: block;
		width: 120px;
		height: 32px;
		line-height: 1em;
		padding: 0;
		color: #6C6B6C;
		position: absolute;
		bottom: -45px;
		left: 50%;
		margin: 0 0 0 -60px;
		opacity: 0;
		.wrapper-align-middle{
			height: 100%;
		}
		.triangle{
			display: block;
			width: 8px;
			height: 4px;
			line-height: 4px;
			text-align: center;
			font-size: 4px;
			position: absolute;
			top: -8px;
			left: 50%;
			margin: 0 0 0 -4px;
			background: url("../layoutImg/triangle.png") no-repeat 0 0;
		}
		&:before{
			content: "";
			display: block;
			width: 16px;
			height: 1px;
			position: absolute;
			top: -4px;
			left: 50%;
			margin: 0 0 0 -19px;
			background-color: @theme-secondary;
		}
		&:after{
			content: "";
			display: block;
			width: 16px;
			height: 1px;
			position: absolute;
			top: -4px;
			right: 50%;
			margin: 0 -19px 0 0;
			background-color: @theme-secondary;
		}
	}
}

.wrapper-boite-auto{
	display: inline-block;
	vertical-align: middle;
}

#btn-more-criteres{
	display: inline-block;
	vertical-align: middle;
	margin-right: 30px;
	.no-js &{
		display: none;
	}
}

#btn-voir-vehicules{
	display: inline-block;
	vertical-align: middle;
	&.disabled{
		&:before{
			background-color: @theme-gris2!important;
		}
		&:after{
			border-color: @theme-gris2!important;
		}
		&:hover{
			color: #fff!important;
			&:before{
				opacity: 1!important;
			}
			.txt-btn-block-arrow{
				transform: translateY(0%)!important;
			}
			.txt-hover-btn-block-arrow{
				transform: translateY(-100%)!important;
			}
		}
	}
}

#content-more-criteres{
	display: none;
	.no-js &{
		display: block;
	}
	.list-inline{
		>li{
			&:last-of-type{
				margin-left: 70px;
			}
		}
	}
}

#content-search-results{
	margin-top: 15px;
}

#button-filter{
	display: none;
	padding: 0;
	width: 100%;
	margin: 0;
	/*width: 110%;
	margin: 0 0 0 -5%;*/
	background-color: @theme-primary;
	position: relative;
	cursor: pointer;
	.zone-left-btn{
		display: block;
		width: 60px;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: @theme-primary;
		color: #fff;
		z-index: 2;
		text-align: center;
		.icon-filter{
			display: block;
			width: 20px;
			height: 22px;
			font-size: 22px;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -11px 0 0 -10px;
		}
		.icon-cross{
			display: none;
			width: 18px;
			height: 18px;
			font-size: 18px;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -9px 0 0 -9px;
		}
	}
	.zone-right-btn{
		.texta-black(1em);
		text-transform: uppercase;
		color: #fff;
		padding: 8px 0 8px 60px;
		box-sizing: border-box;
		position: relative;
		text-align: center;
		.txt-close{
			display: block;
			padding-right: 50px;
		}
		.txt-open{
			display: none;
			position: relative;
			box-sizing: border-box;
			padding: 0 30px;
			&:before{
				content: "›";
				padding: 0;
				position: absolute;
				top: 50%;
				left: 12px;
				margin: -19px 0 0 0;
				font-size: 22px;
			}
		}
	}
	&.open{
		.zone-left-btn{
			background-color: #E4F5F9;
			color: @theme-noir;
			.icon-filter{
				display: none;
			}
			.icon-cross{
				display: block;
			}
		}
		.zone-right-btn{
			&.disabled{
				background-color: @theme-gris2;
			}
			.txt-close{
				display: none;
			}
			.txt-open{
				display: block;
			}
		}
	}
}

.zone-sort-by{
	margin: 40px 0 0 0;
	.list-inline{
		> li{
			margin: 0 23px;
			&:first-of-type{
				margin-left: 10px;
			}
			&:last-of-type{
				margin-right: 0;
			}
		}
	}
	a{
		&.icon-mosaique, &.icon-liste{
			display: inline-block;
			vertical-align: top;
			margin: 0;
			padding: 0 12px 0 0;
			text-decoration: none;
			color: @theme-gris2;
			transition: opacity 0.2s ease-in-out;
			&.is-selected{
				color: @theme-secondary;
				&:hover{
					opacity: 1;
				}
			}
			&:hover{
				opacity: 0.8;
			}
		}
	}
}

.sort-by{
	.texta-light(1em);
	color: @theme-gris2;
	text-transform: uppercase;
	.txt-sort-by{
		display: inline-block;
		vertical-align: top;
		margin: 0 5px 0 0;
	}
	a{
		display: inline-block;
		vertical-align: top;
		font-size: 14px;
		text-decoration: none;
		color: @theme-gris2;
		transition: transform 0.2s ease-in-out;
		&.icon-triangle-down{
			padding: 9px 2px 0 0;
		}
		&.icon-triangle-up{
			padding: 5px 0 0 0;
		}
		&.is-selected{
			color: @theme-secondary;
		}
		&:hover{
			opacity: 0.8;
		}
	}
	&.is-active{
		.texta-black(1em);
		color: @theme-noir;
	}
}

.description-recherche{
    line-height: 1.5em;
    z-index: 2;
    padding: 40px 0;
    /*position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;*/
}

.results-txt{
	display: block;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	padding: 0 10px;
	margin: 18px 0;
	p{
		margin: 0;
	}
}

.is-list{
	.bandeau-image-car{
		width: 303px;
		height: 100%;
		top: 0px;
		transition: all 0.2s ease-in-out;
		transform-origin: 0 50%;
		z-index: 10;
	}
	.fond-bandeau-car{
		display: none;
	}
	.bandeau-car{
		width: auto;
		height: auto;
		left: 322px;
		right: 0;
		text-align: left;
		overflow: visible;
		&.bandeau-top{
			top: 20px;
			bottom: 20px;
			right: inherit;
			transition: transform 0.2s ease-in-out;
			width: 40%;
			z-index: 8;
		}
		&.bandeau-bottom{
			left: inherit;
			top: 20px;
			bottom: 20px;
			right: 20px;
			text-align: right;
		}
	}
	.car-year, .car-block.car-year{
		text-align: left;
		display: inline-block;
		vertical-align: top;
		position: relative;
		transform: none;
		right: inherit;
		top: 0;
		padding: 0 7px 0 0;
	}
	.car-km{
		display: inline-block;
		vertical-align: top;
		position: relative;
		transform: none;
		top: 0;
		padding: 2px 7px 0 0;
		.texta-light(1em);
		text-transform: uppercase;
		color: @theme-gris3;
		line-height: 1em;
	}
	.motor-color{
		display: inline-block;
		vertical-align: top;
		position: relative;
		transform: none;
		top: 0;
		opacity: 1;
		.texta-light(1em);
		text-transform: uppercase;
		color: @theme-gris3;
		line-height: 1em;
		padding: 2px 0 0 0;
	}
	.car-name{
		transform: none;
		position: relative;
		top: 0;
		font-size: 1.625em;
	}
	.car-desc{
		opacity: 1;
		position: relative;
		top: 0;
		font-size: 1em;
		color: @theme-gris3;
	}
	.car-options{
		display: block;
	}
	.car-photos{
		display: block;
	}
	.car-price{
		transform: none;
		position: relative;
		bottom: 0;
		left: 0;
		right: 0;
		.texta-light(2.813em);
		.acronym{
			font-size: 0.444em;
			margin: 0 0 0 -5px;
		}
	}
	.car-old-price{
		position: relative;
		bottom: 0;
		left: 0;
		right: 0;
		.texta-light(1.375em);
		color: @theme-gris2;
		margin: -4px 0 2px 0;
	}
	.car-price-saving{
		opacity: 1;
		transform: none;
		position: relative;
		bottom: 0;
		left: 0;
		right: 0;
	}
	.car-zone-btn{
		display: inline-block;
		vertical-align: top;
		left: inherit;
		min-width: 450px;
		bottom: 0;
		right: 0;
	}
	.car-btn-essai{
		opacity: 1;
		transform: none;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		padding: 9px 20px;
	}
	.car-btn-wishlist{
		display: none;
		//display: inline-block;
		vertical-align: middle;
	}
	.car-labels{
		transform: none;
		text-align: right;
		width: 50%;
		bottom: 73px;
		left: inherit;
		right: 20px;
	}
	.car-label{
		&:last-of-type{
			margin: 0 0 0 2px;
		}
		&.indic{
			display: inline-block;
		}
	}
	.wrapper-car{
		transition: border-color 0.2s ease-in-out;
		&.cta{
			.cta-wrapper{
				display: table;
				table-layout: fixed;
				width: 100%;
				height: 100%;
				box-sizing: border-box;
				padding: 0 30px;
				.cta-content{
					display: table-cell;
					vertical-align: middle;
					padding: 0 30px 0 0;
					width: 23%;
					&.cta-img{
						text-align: center;
						img{
							max-width: 100%;
						}
					}
					&.cta-txt{
						text-align: left;
					}
					&.cta-btn{
						text-align: right;
						width: auto;
						height: auto;
						position: relative;
						bottom: inherit;
						left: inherit;
						width: 31%;
						padding: 0;
						.btn-underline{
							padding: 0 0 0 12px;
							&.has-txt-before{
								margin-bottom: 0;
							}
						}
						.txt-cta-btn{
							margin: 0 0 5px 0;
						}
					}
				}
			}
		}
		&:hover{
			border-color: @theme-primary;
			.bandeau-image-car{
				//width: 363px;
				transform: scale(1.2);
			}
			.fond-bandeau-car{
				&.bandeau-top{
					transition-delay: 0s;
					transfom: none;
				}
				&.bandeau-bottom{
					transform: none;
					transition-delay: 0s;
				}
			}
			.car-year{
				transform: none;
				transition-delay: 0s;
			}
			.car-name{
				transform: none;
				transition-delay: 0s;
			}
			.car-desc{
				transition-delay: 0.1s;
			}
			.motor-color{
				transition-delay: 0.1s;
			}
			.car-km{
				transform: none;
				transition-delay: 0s;
			}
			.car-price{
				transform: none;
				transition-delay: 0s;
			}
			.car-price-saving{
				transform: none;
				transition-delay: 0s;
			}
			.car-btn-essai{
				transition-delay: 0.1s;
			}
			.bandeau-car{
				&.bandeau-bottom{
					height: auto;
					transition-delay: 0s;
				}
				&.bandeau-top{
					transform: translateX(60px);
					.no-csstransforms3d &{
						transform: none;
						margin-left: 60px;
					}
				}
			}
			.car-labels{
				transition-delay: 0s;
			}
			.car-label{
				transform: none;
				transition-delay: 0s;
			}
		}
	}
}

.wrapper-car-detail{
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 10px 0 0 0;
	border-top: 1px solid @theme-neutral;
	.car-year-detail{
		display: inline-block;
		vertical-align: top;
		line-height: 1em;
		margin: 0 6px 0 0;
		.encadre{
			padding: 1px 3px;
			color: @theme-gris3;
			border-color: @theme-gris3;
		}
	}
	.car-km-detail{
		display: inline-block;
		vertical-align: top;
		.texta-light(1em);
		line-height: 1em;
		color: @theme-gris3;
		margin: 0 6px 0 0;
		padding: 1px 0 0 0;
	}
	.motor-color-detail{
		display: inline-block;
		vertical-align: top;
		.texta-light(1em);
		line-height: 1em;
		text-transform: uppercase;
		color: @theme-gris3;
		padding: 1px 0 0 0;
	}
	.car-name-detail{
		display: block;
		.texta-light(2em);
		text-transform: uppercase;
		color: @theme-noir;
		line-height: 1em;
		margin: 4px 0 6px 0;
		padding: 0;
		width: auto;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		strong{
			.texta-black(1em);
		}
	}
	.car-desc-detail{
		.texta-light(1.25em);
		line-height: 1em;
		text-transform: uppercase;
		color: @theme-gris3;
	}
	.car-labels-detail{
		display: block;
		margin: 10px 0 0 0;
		padding: 0;
		height: auto;
		line-height: 1em;
	}
	.car-label-detail{
		display: inline-block;
		vertical-align: top;
		background-color: #FBB855;
		color: @theme-noir;
		padding: 3px 7px;
		margin: 0 4px 0 0;
		.texta-light(0.813em);
		text-transform: uppercase;
		&.indic{
			position: relative;
			&.stock{
				background-color: @theme-vert;
				color: #fff;
				padding-left: 24px; 
				&:before{
					content: "\e91c";
					.icon-font;
					font-size: 10px;
					position: absolute;
					top: 50%;
					left: 8px;
					margin: -5px 0 0 0;
				}
			}
			&.arrivage{
				background-color: @theme-marron;
				color: #fff;
				padding-left: 26px; 
				&:before{
					content: "\e91a";
					.icon-font;
					font-size: 10px;
					position: absolute;
					top: 50%;
					left: 9px;
					margin: -5px 0 0 0;
				}
			}
			&.reserve{
				background-color: @theme-gris2;
				color: #fff;
				padding-left: 24px; 
				&:before{
					content: "\e91b";
					.icon-font;
					font-size: 10px;
					position: absolute;
					top: 50%;
					left: 9px;
					margin: -5px 0 0 0;
				}
			}
		}
	}

	.car-options-detail{
		display: block;
		list-style-type: none;
		margin: 10px 0 0 0;
		padding: 0;
		text-align: left;
		position: relative;
		z-index: 2;
		&:before{
			content: "";
			display: block;
			width: 100%;
			height: 34px;
			position: absolute;
			bottom: -34px;
			left: 0;
			z-index: 2;
		}
		.wrapper-car-option{
			display: inline-block;
			vertical-align: top;
			width: 34px;
			height: 34px;
			margin: 0 8px 0 0;
			text-align: left;
			.container-car-option{
				display: block;
				width: 100%;
				height: 100%;
				text-decoration: none;
				box-sizing: border-box;
				padding: 0;
				.texta-light(1em);
				border-radius: 6px;
				position: relative;
				text-align: center;
				&:hover{
					.zone-picto{
						color: @theme-secondary;
						&.nb-places{
							.places{
								background-color: @theme-secondary;
								color: #fff;
							}
						}
					}
					.zone-txt{
						opacity: 1;
					}
				}
			}
		}
		.zone-picto{
			display: block;
			width: 100%;
			height: 100%;
			font-size: 25px;
			color: @theme-gris3;
			line-height: 34px;
			&.icon-gps{
				font-size: 25px;
			}
			&.icon-clim{
				font-size: 22px;
			}
			&.icon-toit-ouvrant{
				font-size: 20px;
			}
			&.icon-control-recul{
				font-size: 14px;
			}
			&.nb-places{
				.places{
					display: inline-block;
					vertical-align: middle;
					background-color: @theme-gris3;
					padding: 2px 7px;
					margin: 0;
					.texta(0.5em);
					line-height: 1em;
					color: #fff;
					border-radius: 10px;
					margin-top: -5px;
				}
			}
			&.icon-phares{
				font-size: 18px;
			}
			&.icon-cuir{
				font-size: 20px;
			}
			&.icon-quatre-quatre{
				font-size: 26px;
			}
		}
		.zone-txt{
			display: none;
			width: 120px;
			height: 32px;
			line-height: 1em;
			padding: 5px 0 0 0;
			color: #6C6B6C;
			position: absolute;
			bottom: -45px;
			left: 50%;
			margin: 0 0 0 -60px;
			opacity: 0;
			background-color: #fff;
			.wrapper-align-middle{
				height: 100%;
			}
			.triangle{
				display: block;
				width: 8px;
				height: 4px;
				line-height: 4px;
				text-align: center;
				font-size: 4px;
				position: absolute;
				top: -4px;
				left: 50%;
				margin: 0 0 0 -4px;
				background: url("../layoutImg/triangle.png") no-repeat 0 0;
			}
			&:before{
				content: "";
				display: block;
				width: 16px;
				height: 1px;
				position: absolute;
				top: 0;
				left: 50%;
				margin: 0 0 0 -19px;
				background-color: @theme-secondary;
			}
			&:after{
				content: "";
				display: block;
				width: 16px;
				height: 1px;
				position: absolute;
				top: 0;
				right: 50%;
				margin: 0 -19px 0 0;
				background-color: @theme-secondary;
			}
		}
	}
	.wrapper-prix-detail{
		display: block;
		width: 100%;
		height: auto;
		margin: 10px 0 0 0;
		padding: 10px 0 0 0;
		border-top: 1px solid @theme-neutral;
		position: relative;
		.prix-financement{
			width: 144px;
			.texta-light(2.813em);
			color: @theme-secondary;
			line-height: 0.6em;
			padding: 4px 0 0 0;
			position: absolute;
			top: 8px;
			right: 0;
			span{
				font-size: 0.444em;
				padding: 0 0 0 5px;
			}
		}
		.prix-moyen-eco{
			display: block;
			width: 100%;
			box-sizing: border-box;
			padding: 0 145px 0 0;
			color: @theme-gris3;
		}
		.prix-moyen-txt{
			.texta-light(0.875em);
			text-transform: uppercase;
			width: 100px;
			line-height: 1.2em;
			padding-right: 12px;
		}
		.prix-moyen{
			.texta-light(1.625em);
			.acronym{
				.texta-light(0.615em);
			}
		}
	}
	.wrapper-economie-financement{
		.texta-light(0.875em);
	}
	#btn-financement{
		.texta-bold(1em);
	}
	.consultations{
		color: @theme-gris2;
		.texta-bold(0.875em);
	}
	#btn-essai-commande{
		.texta-black(1.125em);
		&.fixed{
			position: fixed;
			top: 10px;
			left: 5%;
			width: 90%;
			z-index: 100;
		}
	}
	#btn-financement{
		.texta-black(0.875em);
		margin: 12px 0 0 0;
	}
	#btn-question{
		.texta-black(0.875em);
		margin: 12px 0 0 0;
	}
	.car-old-price{
		bottom: 111px;
		.texta-light(1.125em);
		line-height: 1em;
		color: @theme-gris;
	}
	.car-price{
		transform: translateY(45px) translateZ(1px);
		transition: transform 0.2s ease-in-out;
		transition-delay: 0.1s;
		bottom: 78px;
		.texta-light(2.5em);
		line-height: 0.8em;
		color: @theme-secondary;
		.no-csstransforms3d &{
			transform: none;
			margin-bottom: -45px;
		}
	}
	.car-price-saving{
		opacity: 0;
		transform: translateY(45px) translateZ(1px);
		transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
		transition-delay: 0.1s;
		bottom: 55px;
		.texta-light(0.875em);
		color: @theme-noir;
		line-height: 1em;
		.no-csstransforms3d &{
			transform: none;
			margin-bottom: -45px;
		}
		strong{
			.texta-bold(1em);
		}
	}
	.saving-percentage{
		display: inline-block;
		vertical-align: top;
		background-color: #AEACA1;
		border-radius: 16px;
		color: #ffffff;
		.texta-bold(0.929em);
		line-height: 1em;
		padding: 2px 4px;
		margin: 3px 0 0 0;
	}
	

	.result-cars-number{
		width: 200px;
		box-sizing: border-box;
		padding: 0 8px 0 0;
		position: relative;
		overflow: hidden;
		p{
			line-height: 1em;
		}
		.cars-number{
			display: block;
			.texta-black(1.3em);
			strong{
				display: block;
				font-size: 2.692em;
				line-height: 0.9em;
			}
		}
		&:before{
			content: "";
			display: block;
			width: 1px;
			height: 50%;
			background-color: #979797;
			position: absolute;
			top: -8px;
			right: 8px;
			box-sizing: border-box;
		}
		&:after{
			content: "";
			display: block;
			width: 1px;
			height: 50%;
			background-color: #979797;
			position: absolute;
			bottom: -8px;
			right: 8px;
			box-sizing: border-box;
		}
		.arrow{
			display: block;
			width: 0px;
			height: 0px;
			border-color: transparent;
			border-style: solid;
			border-width: 10px 0 10px 9px;
			border-left-color: #979797;
			border-top-color: fade(#979797, 0);
			border-bottom-color: fade(#979797, 0);
			position: absolute;
			right: 0;
			top: 50%;
			margin: -10px 0 0 0;
			&:before{
				content: "";
				display: block;
				width: 0px;
				height: 0px;
				border-color: transparent;
				border-style: solid;
				border-width: 9px 0 9px 9px;
				border-left-color: #fff;
				border-top-color: fade(#fff, 0);
				border-bottom-color: fade(#fff, 0);
				position: absolute;
				right: 1px;
				top: -9px;
			}
		}
	}
}

.top-car-detail{
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	position: relative;
}

.wrapper-slider-car-detail{
	display: inline-block;
	vertical-align: top;
	width: 630px;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
}

.wrapper-current-slide{
	display: block;
	width: 100%;
	height: 435px;
	position: relative;
}

.wrapper-slider-nav{
	display: block;
	width: 100%;
	height: 70px;
	margin: 8px 0 0 0;
	position: relative;
}

.wrapper-txt-top-car-detail{
	display: block;
	width: 100%;
	height: 500px;
	box-sizing: border-box;
	margin: 0;
	padding: 0 0 0 650px;
}

.car-details{
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	list-style-type: none;
	> li{
		display: block;
		width: 100%;
		height: auto;
		margin: 0;
		padding: 0;
		&#details-tel-consultations{
			margin: 16px 0;
		}
		&#details-eco-financement{
			margin: 8px 0 0 0;
		}
		&#details-vehicule-vendre{
			margin: 30px 0 0 0;
		}
		&#container-btn-detail{

		}
	}
}

.wrapper-caracteristiques{
	margin: 50px 0;
	.content-align-middle{
		vertical-align: top;
	}
}

.caracteristiques, .list-inline.caracteristiques{
	display: block;
	width: 100%;
	>li{
		width: 100px;
		margin: 0 32px;
		&:first-of-type{
			margin-left: 22px;
		}
		&:last-of-type{
			margin-right: 22px;
		}
		a{
			display: block;
			width: 100%;
			height: auto;
			text-align: center;
			text-transform: uppercase;
			text-decoration: none;
			color: @theme-gris2;
			.texta-light(0.875em);
			line-height: 1.1em;
			&:before{
				content: "";
				display: block;
				width: 77px;
				height: 77px;
				margin: 0 auto 4px auto;
				background-repeat: no-repeat;
				background-position: 0 0;
			}
		}
		&.historique{
			a{
				&:before{
					background-image: url("../layoutImg/historique.png")
				}
			}
		}
		&.inspection{
			a{
				&:before{
					background-image: url("../layoutImg/inspection.png")
				}
			}
		}
		&.renovation{
			a{
				&:before{
					background-image: url("../layoutImg/iso.png")
				}
			}
		}
		&.garantie{
			a{
				&:before{
					background-image: url("../layoutImg/garantie.png")
				}
			}
		}
		&.satisfait-rembourse{
			a{
				&:before{
					background-image: url("../layoutImg/satisfait-rembourse.png")
				}
			}
		}
	}
}

.content-localisation-detail{
	width: 236px;
	box-sizing: border-box;
	padding: 0 0 0 30px;
	position: relative;
	&:before{
		content: "\e803";
		.icon-font;
		font-size: 20px;
		color: @theme-primary;
		position: absolute;
		top: 14px;
		left: 0;
	}
}

.wrapper-conseils{
	margin: 64px 0 30px 0;
}
.visu-conseils{
	width: 244px;
	padding: 0 20px 0 0;
	box-sizing: border-box;
	img{
		display: block;
		width: 100%;
	}
}
.txt-conseils{
	box-sizing: border-box;
	padding: 0;
}

.wrapper-infos-envi-garanties-alerte{
	margin: 0 0 35px 0;
	h5{
		margin-bottom: 20px;
	}
}

.wrapper-infos-envi{
	width: 27%;
	box-sizing: border-box;
	padding: 0 11px 0 0;
}

.wrapper-garanties{
	width: 35%;
	box-sizing: border-box;
	padding: 0 11px;
}

.wrapper-alerte{
	width: 38%;
	box-sizing: border-box;
	padding: 0 0 0 11px;
}

.wrapper-garantie{
	margin: 10px 0;
}

.wrapper-garantie-visu{
	width: 70px;
}

.wrapper-garantie-txt{
	box-sizing: border-box;
	padding: 0 0 0 10px;
	p{
		margin: 0;
	}
}

.garantie-facili{
	display: block;
	width: 70px;
	height: 70px;
	background: url("../layoutImg/garantie-black.png") no-repeat 0 0;
}

.garantie-maxili{
	display: block;
	width: 70px;
	height: 70px;
	background: url("../layoutImg/garantie-maxili-black.png") no-repeat 0 0;
}

.table-caracteristiques{
	width: 100%;
	tr{
		border-bottom: 1px solid @theme-neutral;
		td{
			padding-top: 6px;
			padding-bottom: 6px;
			&.title{
				.texta-light(0.813em);
				padding-right: 50px;
			}
			&.content{
				.texta-bold(0.875em);
				padding-right: 20px;
			}
		}
		&:last-child{
			border: none;
		}
	}
}

.consommation{
	margin: 15px 0 0 0;
	padding: 8px 0;
	border: 1px solid @theme-neutral;
	> li{
		vertical-align: middle;
		margin: 0 16px;
		&:first-of-type{
			margin-left: 54px;
		}
		&.consommation-location{
			.texta-bold(0.875em);
			text-transform: uppercase;
			line-height: 1em;
		}
		&.consommation-detail{
			strong{
				display: block;
				.texta-black(3.571em);
				line-height: 1em;
			}
			.texta-bold(0.875em);
			color: @theme-gris3;
		}
		&.consommation-gas-station{
			font-size: 60px;
			color: #F3C685;
		}
	}
}

.equipement-serie{
	box-sizing: border-box;
	padding: 0 10px 0 0;
	width: 67%;
}
.options-installees{
	box-sizing: border-box;
	padding: 0 0 0 10px;
	width: 33%;
}
.liste-equipements, .liste-options-installees, .list-block.liste-equipements, .list-block.liste-options-installees{
	padding: 20px 0 0 0;
	.texta-light(0.875em);
	> li{
		margin: 0;
		strong{
			.texta-bold(1em);
		}
	}
}
.liste-equipements{
	columns: 2;
}

.car-options-equipement{
	display: block;
	margin: 10px 0 0 0;
	list-style-type: none;
	margin: 0 0 34px 0;
	padding: 0;
	text-align: center;
	position: relative;
	z-index: 2;
	.wrapper-car-option{
		display: inline-block;
		vertical-align: top;
		width: 86px;
		height: auto;
		margin: 10px;
		text-align: left;
		.container-car-option{
			display: block;
			width: 100%;
			height: 100%;
			text-decoration: none;
			box-sizing: border-box;
			padding: 0;
			.texta-light(0.875em);
			border-radius: 6px;
			position: relative;
			text-align: center;
		}
	}
	.zone-picto{
		display: block;
		width: 100%;
		height: 100%;
		font-size: 25px;
		color: @theme-gris3;
		line-height: 34px;
		&.icon-gps{
			font-size: 25px;
		}
		&.icon-clim{
			font-size: 22px;
		}
		&.icon-toit-ouvrant{
			font-size: 20px;
		}
		&.icon-control-recul{
			font-size: 14px;
		}
		&.nb-places{
			.places{
				display: inline-block;
				vertical-align: middle;
				background-color: @theme-gris3;
				padding: 2px 7px;
				margin: 0;
				.texta(0.5em);
				line-height: 1em;
				color: #fff;
				border-radius: 10px;
				margin-top: -5px;
			}
		}
		&.icon-phares{
			font-size: 18px;
		}
		&.icon-cuir{
			font-size: 20px;
		}
		&.icon-quatre-quatre{
			font-size: 26px;
		}
	}
	.zone-txt{
		display: block;
		line-height: 1em;
		padding: 5px 0 0 0;
		color: #6C6B6C;
		margin: 0;
		.wrapper-align-middle{
			height: 100%;
		}
	}
}
.table-detail{
	width: 100%;
	tr{
		border-bottom: 1px solid @theme-neutral;
		&.no-border-bottom{
			border: none;
		}
		td{
			padding: 5px 0;
			&.title{
				.texta-light(0.813em);
			}
			&.content{
				.texta-bold(0.875em);
				text-transform: uppercase;
			}
			&.big-padding{
				padding: 6px 0 7px 0;
			}
			.icon-check{
				font-size: 12px;
			}
		}
	}
}
.list-radar, .list-inline.list-radar, .list-third.list-radar{
	> li{
		&:first-child, &:nth-child(2), &:last-child{
			padding-top: 15px;
		}
	}
	p{
		margin: 0;
	}
	.list-inline.list-half.list-impacts{
		>li{
			&:first-of-type{
				padding: 0 12px 0 0;
			}
			&:last-of-type{
				padding: 0 0 0 12px;
			}
			.texta-light(0.813em);
			img{
				margin: 0 0 5px 0;
			}
		}
	}
}
.line-rapport-expertise{
	margin: 0 0 30px 0;
}
.prix-ferme-wrapper{
	width: 40%;
	box-sizing: border-box;
	padding: 0 10px 0 0;
}
.cote-autovista-wrapper{
	width: 60%;
	box-sizing: border-box;
	padding: 0 0 0 10px;
}
.prix-facilicar{
	display: block;
	position: relative;
	margin: 40px 0 0 0;
	padding: 0;
	max-width: 344px;
	img{
		max-width: 100%;
		height: auto;
		position: relative;
		z-index: 2;
	}
	.legend{
		.texta-bold(0.875em);
		text-transform: uppercase;
		color: @theme-gris2;
		line-height: 1em;
		position: absolute;
		&.ordonnees{
			top: 0;
			left: 4%;
		}
		&.abscisses{
			bottom: -32px;
			right: 16%;
			text-align: right;
		}
	}
	.point-detail{
		display: inline-block;
		vertical-align: top;
		.texta-bold(0.875em);
		line-height: 1em;
		text-transform: uppercase;
		position: absolute;
		&.prix-risque{
			text-align: right;
			bottom: 17%;
			left: 10%;
			.content-txt{
				color: #034354;
			}
			.content-prix{
				background-color: #034354;
				margin-right: 4px;
			}
		}
		&.prix-facilicar{
			text-align: center;
			bottom: 42%;
			left: 25%;
			.content-txt{
				color: #029EC8;
			}
			.content-prix{
				background-color: #029EC8;
			}
		}
		&.prix-moyen{
			bottom: 87%;
			left: 58%;
			.content-txt{
				color: #E76248;
				padding: 0 0 0 10px;
			}
			.content-prix{
				background-color: #E76248;
			}
		}
		.content-prix{
			display: inline-block;
			vertical-align: top;
			color: #fff;
			margin-top: 3px;
			padding: 2px 10px;
			border-radius: 9px;
			.texta-light(1em);
		}
	}
}
.content-img-autovista{
	width: 150px;
	img{
		max-width: 100%;
		height: auto;
		margin: 40px 0 0 0;
	}
}
.content-table-autovista{
	box-sizing: border-box;
	padding: 0 0 0 20px;
}
.table-autovista{
	margin: 20px 0 0 0;
	width: 100%;
	max-width: 430px;
	tr{
		td{
			vertical-align: bottom;
			padding-top: 6px;
			padding-bottom: 6px;
			text-align: right;
			.texta-light(0.875em);
			color: @theme-gris3;
			line-height: 1.1em;
			&.title-table-autovista{
				box-sizing: border-box;
				padding-right: 10px;
			}
			.prix-financement{
				.texta-light(3.214em);
				color: @theme-secondary;
				line-height: 0.4em;
				min-width: 170px;
				.acronym{
					.texta-light(0.444em);
				}
			}
			.prix-moyen{
				.texta-light(1.571em);
				.acronym{
					.texta-light(0.727em);
				}
			}
			.saving-percentage{
				font-size: 20px;
			}
			.saving{
				.texta-bold(1em);
				color: @theme-noir;
			}
		}
		&.border-bottom{
			border-bottom: 1px solid @theme-neutral;
		}
	}
}
.wrapper-content-financement{
	width: 100%;
	min-height: 340px;
	box-sizing: border-box;
	padding: 0 530px 0 0;
	position: relative;
}
.content-apport-mensualites{
	width: auto;
	padding: 0 10px 0 0;
	box-sizing: border-box;
}
.content-img-financement-cetelem{
	width: 142px;
}
.content-txt-financement-cetelem{
	box-sizing: border-box;
	padding: 0 0 0 15px;
}
.credits-financement{
	width: 530px;
	height: auto;
	border-spacing: 10px 0;
	position: absolute;
	top: 0;
	right: 0;
}
.credit-financement{
	width: 50%;
	box-sizing: border-box;
	border: 1px solid @theme-neutral;
	padding: 18px;
	position: relative;
	cursor: pointer;
	backface-visibility: hidden;
	.content-credit-financement{
		display: block;
		width: 100%;
		height: 100%;
	}
	&.is-selected{
		border-color: @theme-noir;
		.credit-financement-title{
			&:before{
				border-color: @theme-gris3;
				box-shadow: 0px 0px 4px 0px #000;
				box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
			}
			&:after{
				display: block;
			}
		}
		a, div, span{
			&.btn-block{
				&.btn-block-arrow{
					&.bg-secondary{
						&.btn-accord-principe{
							&:before{
								background-color: @theme-secondary;
							}
							&:after{
								border-color: @theme-secondary;
							}
							&:hover{
								color: @theme-secondary;
								&:before{
									opacity: 0;
								}
								.txt-btn-block-arrow{
									transform: translateY(100%);
								}
								.txt-hover-btn-block-arrow{
									transform: translateY(0);
								}
							}
						}
					}
				}
			}
		}
	}
	&:first-child{
		.btn-accord-principe{
			position: absolute;
			bottom: 18px;
			left: 18px;
			right: 18px;
		}
	}
	a, div, span{
		&.btn-block{
			&.btn-block-arrow{
				&.bg-secondary{
					&.btn-accord-principe{
						&:before{
							background-color: @theme-neutral;
						}
						&:after{
							border-color: @theme-neutral;
						}
						&:hover{
							color: #fff;
							&:before{
								opacity: 1;
							}
							.txt-btn-block-arrow{
								transform: none;
							}
							.txt-hover-btn-block-arrow{
								transform: translateY(-100%);
							}
						}
					}
				}
			}
		}
	}
}
.credit-financement-title{
	.texta-bold(1.125em);
	text-transform: uppercase;
	box-sizing: border-box;
	padding: 0 20px;
	margin: 0 0 10px 0;
	position: relative;
	&:before{
		content: "";
		display: block;
		width: 14px;
		height: 14px;
		border-radius: 50%;
		background-color: #fff;
		border: 1px solid @theme-neutral;
		position: absolute;
		top: 5px;
		left: -6px;
	}
	&:after{
		content: "";
		display: none;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background-color: @theme-primary;
		position: absolute;
		top: 10px;
		left: -1px;
	}
}
.price-credit-financement{
	.texta-light(2.813em);
	color: @theme-secondary;
	text-transform: uppercase;
	line-height: 0.4em;
	padding: 10px 0 0 0;
	box-sizing: border-box;
	padding: 0 20px;
	.acronym{
		font-size: 0.444em;
	}
	.periodicity{
		font-size: 0.444em;
	}
}
.duration-credit-financement{
	.texta-light(0.875em);
	box-sizing: border-box;
	padding: 0 20px;
}
.credit-financement-inclusions{
	display: block;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	padding: 0 20px;
	margin: 22px 0 22px 0;
	list-style-type: none;
	> li{
		.texta-bold(1em);
		line-height: 1.1em;
		position: relative;
		&:before{
			content: "+";
			position: absolute;
			top: 0;
			left: -10px;
			color: @theme-secondary;
		}
		&.no-plus{
			.texta-light(1em);
			margin: 0 0 8px 0;
			&:before{
				display: none;
			}
		}
	}
}

.wrapper-apport-financement{
	.content-txt{
		width: 152px;
		box-sizing: border-box;
		padding: 0 20px 0 0;
	}
}
.wrapper-apport-financement, .wrapper-mensualites-financement{
	.content-txt{
		width: 152px;
		box-sizing: border-box;
		padding: 0 20px 0 0;
		.texta-light(1em);
		text-transform: uppercase;
		line-height: 1em;
	}
	.slider-range-inline{
		width: 90%;
	}
}
.wrapper-apport-financement{
	margin: 0 0 20px 0;
}
.wrapper-mensualites-financement{
	margin: 0 0 40px;
}
.list-other-cars, .list-inline.list-half.list-other-cars{
	margin: 0 0 20px 0;
	> li{
		&:first-of-type{
			padding: 0 10px 0 0;
		}
		&:last-of-type{
			padding: 0 0 0 10px;
		}
	}
}

.detail-vehicule-zoom{
	display: none;
	position: fixed;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
	z-index: 150;
	background-color: #fff;
	border-bottom: 1px solid #979797;
	backface-visibility: hidden;
	opacity: 0;
	&.scroll{
		display: block;
		opacity: 1;
	}
	&.open{
		display: block;
		width: auto;
		height: auto;
		background-color: @theme-noir;
		right: 0;
		bottom: 0;
		border: none;
		z-index: 160;
	}
}
.wrapper-top-zoom{
	padding: 20px 0;
	width: 100%;
	position: relative;
	z-index: 2;
	.content-caracteristiques-zoom{
		padding-right: 10px;
		width: 120px;
		box-sizing: border-box;
	}
	.content-img-zoom{
		.wrapper-img-zoom{
			display: block;
			width: 116px;
			height: 78px;
		}
	}
	.content-details-zoom{
		padding: 0 20px;
		width: 320px;
		box-sizing: border-box;
	}
	.content-prix-zoom{
		padding: 0 34px;
		box-sizing: border-box;
		width: auto;
		.prix-financement-zoom{
			.acronym{
				.texta-light(0.444em);
			}
		}
	}
	.content-btn-zoom{
		width: 375px;
		box-sizing: border-box;
	}
	.liste-caracteristiques-zoom{
		display: none;
	}
	&.is-white{
		color: #fff;
		padding: 34px 0 0 0;
		.content-caracteristiques-zoom{
			border-right: 1px solid #fff;
			padding-right: 10px;
			width: 180px;
			box-sizing: border-box;
		}
		.content-img-zoom{
			display: none;
		}
		.content-details-zoom{
			border-right: 1px solid #fff;
			padding: 0 20px;
			width: 320px;
			box-sizing: border-box;
		}
		.content-prix-zoom{
			padding: 0 34px;
			box-sizing: border-box;
			width: auto;
			.prix-financement-zoom{
				.acronym{
					.texta-light(1em);
				}
			}
		}
		.content-btn-zoom{
			width: 375px;
			box-sizing: border-box;
		}
		.btn-haut-page{
			display: none;
		}
		.liste-caracteristiques-zoom{
			display: block;
		}
		.prix-financement-zoom{
			color: #fff;
		}
		.encadre{
			border-color: #fff;
			color: #fff;
		}
		a, div, span{
			&.btn-tel{
				color: #fff;
				.tel-number{
					border: 1px solid #fff;
					background: none;
				}
			}
		}
		#btn-rappel-zoom{
			color: #fff;
		}
	}
	a, div, span{
		&.btn-tel{
			.texta-medium(1em);
			line-height: 1em;
			display: inline-block;
			vertical-align: top;
			margin: 4px 7px 0 0;
			.tel-number{
				padding: 0 4px;
			}
			.icon-tel{
				padding: 0;
				margin: -1px 4px 0 0;
			}
		}
	}
}
.liste-caracteristiques-zoom, .list-inline.liste-caracteristiques-zoom{
	> li{
		width: 80px;
		margin: 0;
		line-height: 1.1em;
		.texta-light(0.750em);
		text-transform: uppercase;
		text-align: center;
		img{
			display: block;
			margin: 0 auto 2px auto;
		}
	}
}
.prix-financement-zoom{
	.texta-light(2.813em);
	color: @theme-secondary;
}
.car-details-zoom, .list-block.car-details-zoom{
	max-width: 260px;
	> li{
		&.car-details-zoom-line-one{
			.texta-light(0.875em);
			text-transform: uppercase;
		}
		&.car-details-zoom-line-two{
			.texta-light(1.563em);
			margin: 4px 0;
		}
	}
	.encadre{
		padding: 1px 3px;
	}
	.car-year-detail{
		display: inline-block;
		vertical-align: top;
		line-height: 1em;
		margin: 0 6px 0 0;
	}
	.car-km-detail{
		display: inline-block;
		vertical-align: top;
		line-height: 1em;
		margin: 0 6px 0 0;
		padding: 1px 0 0 0;
	}
	.motor-color-detail{
		display: inline-block;
		vertical-align: top;
		line-height: 1em;
		text-transform: uppercase;
		padding: 1px 0 0 0;
	}
	.car-name-detail{
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.car-desc-detail{
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
#btn-essai-commande-zoom{
	margin-top: 5px;
}
.wrapper-current-slide-zoom{
	display: none;
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	.open &{
		display: block;
	}
}

.wrapper-slider-nav-zoom{
	display: none;
	width: 100%;
	height: 85px;
	margin: 8px 0 0 0;
	position: fixed;
	bottom: 70px;
	.container{
		height: 100%;
		position: relative;
	}
	.open &{
		display: block;
	}
}

.btn-filters{
	display: block;
	width: auto;
	height: auto;
	list-style-type: none;
	margin: 16px 0 0 2px;
	padding: 0;
	> li{
		display: inline-block;
		vertical-align: top;
		margin: 0 2px;
		padding: 0;
		.filter-nav-zoom{
			.texta-black(1em);
			text-transform: uppercase;
			color: #fff;
			border: 1px solid @theme-secondary;
			background-color: @theme-secondary;
			line-height: 1em;
			padding: 9px 10px;
			box-sizing: border-box;
			position: relative;
			.tab-triangle{
				display: none;
				width: 14px;
				height: 8px;
				position: absolute;
				top: -7px;
				left: 50%;
				margin: 0 0 0 -7px;
				padding: 0;
				background: url("../layoutImg/tab-exterieur.png") no-repeat 0 0;
			}
			.border-uncomplete{
				display: none;
			}
			&.is-active{
				background: none;
				border-left: 1px solid #fff;
				border-right: 1px solid #fff;
				border-bottom: 1px solid #fff;
				border-top: none;
				.border-uncomplete{
					display: block;
					width: 100%;
					height: 1px;
					position: absolute;
					top: 0;
					left: 0;
					overflow: hidden;
					&:before{
						content: "";
						display: block;
						width: 50%;
						height: 1px;
						position: absolute;
						top: 0;
						left: -7px;
						background-color: #fff;
						box-sizing: border-box;
					}
					&:after{
						content: "";
						display: block;
						width: 50%;
						height: 1px;
						position: absolute;
						top: 0;
						right: -7px;
						background-color: #fff;
						box-sizing: border-box;
					}
				}
				.tab-triangle{
					display: block;
				}
			}
		}
	}
}
.container-btn-close-zoom{
	position: relative;
	z-index: 15;
}
#btn-close-zoom{
	display: none;
	color: #fff;
	.texta-black(1.125em);
	text-transform: uppercase;
	text-decoration: none;
	position: fixed;
	right: 15px;
	top: 15px;
	padding: 0 30px 0 0;
	transition: opacity 0.2s ease-in-out;
	&:before{
		.icon-font;
		content: "\e904";
		font-size: 16px;
		position: absolute;
		top: 50%;
		right: 0;
		margin: -8px 0 0 0;
		padding: 0;
	}
	&:hover{
		opacity: 0.7;
	}
	.open &{
		display: inline-block;
		vertical-align: top;
	}
}
.wrapper-change-orientation{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: 10;
	color: @theme-primary;
	.orientationPortrait .open &{
		display: table;
	}
	.st0{
		fill:#fff;
		stroke: @theme-primary;
		stroke-width:3;
		stroke-miterlimit:10;
	}
	.st1{
		fill:#fff;
		stroke: @theme-primary;
		stroke-width:2;
		stroke-miterlimit:10;
	}
	.st2{
		fill:none;
		stroke: @theme-primary;
		stroke-width:2;
		stroke-miterlimit:10;
	}
	.st3{
		fill: @theme-primary;
	}
	p{
		line-height: 1.2em;
	}
	#device{
		//transform-origin: 50% 50%;
	}
}
.notice-rotation{
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 auto;
}
#pointe{
	opacity:0;
}
.btn-change-car{
	display: block;
	width: 100px;
	height: 35px;
	position: fixed;
	top: 50%;
	text-decoration: none;
	background-color: #fff;
	z-index: 10;
	backface-visibility: hidden;
	&.prev-car{
		left: 0;
		.hors-survol{
			text-align: left;
			padding: 4px 0 4px 32px;
		}
		.arrow-change-car{
			left: 10px;
		}
		.survol{
			left: 0;
			transform-origin: 0% 50%;
			transform: translateX(-320px);
			.wrapper-txt-survol{
				padding: 0 30px 0 10px;
				text-align: left;
			}
			.wrapper-arrow-survol{
				text-align: right;
				padding: 0 0 0 20px;
			}
		}
	}
	&.next-car{
		right: 0;
		.hors-survol{
			text-align: right;
			padding: 4px 32px 4px 0;
		}
		.arrow-change-car{
			right: 10px;
		}
		.survol{
			right: 0;
			transform-origin: 100% 50%;
			transform: translateX(320px);
			.wrapper-txt-survol{
				padding: 0 10px 0 30px;
				text-align: right;
			}
			.wrapper-arrow-survol{
				text-align: left;
				padding: 0 20px 0 0;
			}
		}
	}
	.hors-survol{
		display: block;
		position: relative;
		.texta-bold(0.75em);
		text-transform: uppercase;
		color: @theme-gris3;
		line-height: 1.1em;
	}
	.arrow-change-car{
		display: block;
		position: absolute;
		top: 50%;
		color: @theme-secondary;
		font-size: 34px;
		margin: -17px 0 0 0;
		transition: transform 0.2s ease-out;
	}
	.survol{
		width: 320px;
		height: 104px;
		position: absolute;
		top: 50%;
		margin: -52px 0 0 0;
		padding: 13px;
		background-color: #fff;
		box-sizing: border-box;
		transition: transform 0.2s ease-out;
		.wrapper-img-survol{
			width: 120px;
			height: 80px;
		}
		.wrapper-txt-survol{
			.detail-change-car{
				display: block;
				width: 134px;
				&:first-child{
					color: @theme-noir;
				}
				&:last-child{
					color: @theme-gris3;
				}
				.car-name-detail{
					.texta-light(1em);
					display: block;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					strong{
						.texta-black(1em);
					}
				}
				.car-desc-detail{
					.texta-light(0.813em);
					display: block;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
		.wrapper-arrow-survol{
			font-size: 34px;
		}
	}
	&:hover{
		&.prev-car{
			.survol{
				transform: translateX(0);
			}
			.arrow-change-car{
				transform: translateX(275px);
			}
		}
		&.next-car{
			.survol{
				transform: translateX(0);
			}
			.arrow-change-car{
				transform: translateX(-275px);
			}
		}
	}
}
.bg-btn-change-car{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.2);
	z-index: 151;
}
.nav-change-car{
	position: relative;
	z-index: 152;
}
.car-details a.btn-block.full-width.btn-block-arrow .arrow-btn-block-arrow, .car-details div.btn-block.full-width.btn-block-arrow .arrow-btn-block-arrow, .car-details span.btn-block.full-width.btn-block-arrow .arrow-btn-block-arrow{
	display: none;
}
.car-details a.btn-block.full-width .txt-btn-block-arrow:before, .car-details div.btn-block.full-width .txt-btn-block-arrow:before, .car-details span.btn-block.full-width .txt-btn-block-arrow:before {
    content: "›";
    display: inline-block;
    vertical-align: top;
    margin: -1px 4px 0 0;
}
.car-details a.btn-block.full-width .txt-hover-btn-block-arrow:before, .car-details div.btn-block.full-width .txt-hover-btn-block-arrow:before, .car-details span.btn-block.full-width .txt-hover-btn-block-arrow:before{
	content: "›";
	display: inline-block;
	vertical-align: top;
	margin: -1px 4px 0 0;
}
/* @end */