/* @group Choose */
.wrapper-survol-out{
	display: block;
	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	/*left: 10%;
	right: 10%;*/
	left: 0;
	right: 0;
	padding: 0;
}

.zone-survol-out{
	display: block;
	width: 50%;
	height: 100%;
	position: absolute;
	&.zone-left-survol-out{
		left: 0;
		cursor: pointer;
	}
	&.zone-right-survol-out{
		right: 0;
		cursor: pointer;
	}
}

.wrapper-choose{
	display: block;
	position: relative;
	width: 100%;
	height: 530px;
	box-sizing: border-box;
	margin: 0;
	//padding: 60px 0 0 0;
	padding: 0;
	text-align: center;
	.container{
		margin: 0;
		display: inline-block;
		vertical-align: top;
	}
}

.content-choose{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.cover-hover{
	display: block;
	width: 33.33333333%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 2;
	&.cover-hover-left{
		left: 0;
		transform: translateX(-100%);
	}
	&.cover-hover-right{
		right: 0;
		transform: translateX(100%);
	}
}

.wrapper-zone-choose{
	display: block;
	width: 33.33333333%;
	height: 100%;
	position: absolute;
	bottom: 0;
	box-sizing: border-box;
	padding: 60px 0 0 0;
	&.wrapper-zone-left-choose{
		left: 0;
		cursor: pointer;
	}
	&.wrapper-zone-center-choose{
		left: 33.33333333%;
		z-index: 2;
		.content-txt-choose{
			opacity: 1;
			transform: translateX(0%);
			transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
			.survol-left &, .survol-out-left &{
				opacity: 0;
				transform: translateX(20%);
			}
			.survol-right &, .survol-out-right &{
				opacity: 0;
				transform: translateX(-20%);
			}
		}
	}
	&.wrapper-zone-right-choose{
		right: 0;
		text-align: left;
		cursor: pointer;
	}
	p{
		margin: 0;
		br{
			display: none;
		}
	}
}

.title-choose{
	.texta-light(2.8em);
	color: @theme-noir;
	line-height: 1em;
	margin: 0 0 10px 0;
	padding: 10px 0 0 0;
}

.title-action-choose{
	.texta-black(3.875em);
	color: @theme-primary;
	line-height: 1em;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: top;
	position: absolute;
	top: 60px;
	transform: translateX(0%);
	transition: transform 0.3s ease-in-out;
	&:before{
		display: inline-block;
		vertical-align: top;
		position: absolute;
		top: 50%;
		height: 50px;
		line-height: 40px;
		margin: -25px 0 0 0;
		opacity: 1;
		transition: opacity 0.4s ease-in-out;
	}
	&.left-arrow{
		padding: 0 0 0 40px;
		left: 0;
		transform-origin: 0 100%;
		&:before{
			content: "‹";
			left: 0;
		}
		.survol-left &, .survol-out-left &{
			transform: translateX(140%);
			&:before{
				opacity: 0;
			}
		}
		.survol-right &, .survol-out-right &{
			transform: scale(0.5);
		}
	}
	&.right-arrow{
		padding: 0 40px 0 0;
		right: 0;
		transform-origin: 100% 100%;
		&:before{
			content: "›";
			right: 0;
		}
		.survol-left &, .survol-out-left &{
			transform: scale(0.5);
		}
		.survol-right &, .survol-out-right &{
			transform: translateX(-140%);
			&:before{
				opacity: 0;
			}
		}
	}
	.arrow-toggle-one{
		display: none;
	}
}

.content-txt-choose{
	transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
	opacity: 0;
	.wrapper-zone-left-choose &{
		transform: translateX(-50%);
		.survol-left &, .survol-out-left &{
			transform: translateX(0%);
			opacity: 1;
		}
	}
	.wrapper-zone-right-choose &{
		transform: translateX(50%);
		.survol-right &, .survol-out-right &{
			transform: translateX(0%);
			opacity: 1;
		}
	}
}

.list-choose{
	display: block;
	padding: 13px 0 0 0;
	opacity: 0;
	list-style-type: none;
	transition: opacity 0.2s ease-in-out;
	transition-delay: 0s;
	>li{
		margin: 0 0 10px 0;
		position: relative;
		p{
			.texta-light(1em);
			strong{
				display: block;
				.texta-bold(1.3em);
			}
		}
	}
	.wrapper-zone-left-choose &{
		text-align: right;
		.survol-left &, .survol-out-left &{
			opacity: 1;
			transition-delay: 0.2s;
		}
		>li{
			padding: 0 15px 0 0;
			&:before{
				content: "●";
				position: absolute;
				top: 50%;
				right: 0;
				color: @theme-secondary;
				font-size: 10px;
				display: block;
				width: 10px;
				height: 10px;
				line-height: 10px;
				margin: -3px 0 0 0;
			}
		}
	}
	.wrapper-zone-right-choose &{
		text-align: left;
		.survol-right &, .survol-out-right &{
			opacity: 1;
			transition-delay: 0.2s;
		}
		>li{
			padding: 0 0 0 15px;
			&:before{
				content: "●";
				position: absolute;
				top: 50%;
				left: 0;
				color: @theme-secondary;
				font-size: 10px;
				display: block;
				width: 10px;
				height: 10px;
				line-height: 10px;
				margin: -3px 0 0 0;
			}
		}
	}
}

.container-car-choose{
	display: block;
	width: 645px;
	height: 223px;
	position: absolute;
	bottom: 87px;
	left: 50%;
	margin: 0 0 0 -322px;
	transition: transform 0.8s cubic-bezier(0.250, 0.495, 0.055, 0.995);
	transform: translateX(0%);
	padding: 0;
	.survol-left &, .survol-out-left &{
		transform: translateX(15%);
	}
	.survol-right &, .survol-out-right &{
		transform: translateX(-15%);
	}
}

.car-choose{
	display: block;
	position: absolute;
	left: 50%;
	bottom: 0;
	margin: 0;
	padding: 0;
	opacity: 0;
	background-repeat: no-repeat;
	background-position: 0 0;
	//transition: opacity 1s ease-in-out;
	opacity: 0;
	&:first-of-type{
		opacity: 1;
	}
	img{
		display: none;
		height: auto;
		max-width: 100%;
		margin: 0 auto;
	}
	&.car-1{
		//background-image: url("../layoutImg/car-choose-01.png");
		width: 535px;
		height: 223px;
		margin-left: -267px;
	}
	&.car-2{
		//background-image: url("../layoutImg/car-choose-02.png");
		width: 608px;
		height: 218px;
		margin-left: -304px;
		bottom: -17px;
	}
	&.car-3{
		//background-image: url("../layoutImg/car-choose-03.png");
		width: 645px;
		height: 195px;
		margin-left: -322px;
		bottom: -20px;
	}
	&.car-4{
		//background-image: url("../layoutImg/car-choose-04.png");
		width: 592px;
		height: 207px;
		margin-left: -296px;
		bottom: 1px;
	}
}

.car-wheel{
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-position: 0 0;
	transform-origin: 50% 50%;
	transition: transform 0.8s cubic-bezier(0.250, 0.495, 0.055, 0.995);
	backface-visibility: hidden;
	.car-1 &{
		width: 60px;
		height: 60px;
		top: 141px;
		background-image: url("../layoutImg/roue-01.png");
		&.rear-wheel{
			left: 69px;
		}
		&.front-wheel{
			left: 405px;
		}
	}
	.car-2 &{
		width: 60px;
		height: 60px;
		top: 120px;
		background-image: url("../layoutImg/roue-02.png");
		&.rear-wheel{
			left: 102px;
		}
		&.front-wheel{
			left: 439px;
		}
	}
	.car-3 &{
		width: 65px;
		height: 65px;
		top: 88px;
		background-image: url("../layoutImg/roue-03.png");
		&.rear-wheel{
			left: 136px;
		}
		&.front-wheel{
			left: 470px;
		}
	}
	.car-4 &{
		width: 65px;
		height: 65px;
		top: 122px;
		background-image: url("../layoutImg/roue-04.png");
		&.rear-wheel{
			left: 106px;
		}
		&.front-wheel{
			left: 456px;
		}
	}
	.survol-left &, .survol-out-left &{
		transform: rotate(100deg);
	}
	.survol-right &, .survol-out-right &{
		transform: rotate(-100deg);
	}
}
/* @end */