/* @group Form */
input[type="text"], input[type="email"], input[type="tel"], input[type="password"], input[type="date"]{
	padding: 2px 12px;
	border: 1px solid @theme-gris;
	box-sizing: border-box;
    .texta-light(1.25em);
	max-width: 100%;
    transition: border-color 0.2s ease-in-out;
    #block-newsletter &{
        .texta-light(1.125em);
    }
	&:focus{
		outline: none;
        border-color: @theme-primary;
	}
    &.input-round{
        border-radius: 5px;
        padding: 8px 12px;
    }
}

input[type="date"]{
    max-width: 150px;
}

/* Masquer le datepicker de Chrome */
input::-webkit-calendar-picker-indicator{
    display: none;
}

input{
    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator,
    &::-webkit-clear-button{
        display: none;
        -webkit-appearance: none;
    }
}

::-webkit-input-placeholder {
 	.texta-light-italic(1em);
 	color: #B0B0A8;
}

:-moz-placeholder {
	.texta-light-italic(1em);
	color: #B0B0A8;
}

::-moz-placeholder {
	.texta-light-italic(1em);
	color: #B0B0A8;
}

:-ms-input-placeholder {  
	.texta-light-italic(1em);
	color: #B0B0A8;
}

label{
    .texta-light(1.25em);
    strong{
        .texta-bold(1em);
    }
}

button{
	-webkit-appearance: none;
    appearance: none;
    color: #ffffff;
    border: none;
    box-sizing: border-box;
    padding: 9px 12px;
    .texta-black(1.063em);
    text-transform: uppercase;
    &.button-primary{
    	background-color: @theme-primary;
        transition: background-color 0.2s ease-in-out;
        &:hover{
            background-color: @theme-secondary;
        }
    }
    &.button-secondary{
    	background-color: @theme-secondary;
    }
    &.button-arrow{
        transition: color 0.2s ease-in-out;
        overflow: hidden;
        position: relative;
        display: inline-block;
        vertical-align: top;
        padding: 0;
        background-color: #ffffff;
        .arrow-button{
            display: inline-block;
            vertical-align: top;
            height: 24px;
            line-height: 24px;
            position: absolute;
            left: 12px;
            top: 50%;
            margin: -13px 0 0 0;
        }
        .txt-button{
            display: inline-block;
            vertical-align: top;
            position: relative;
            transition: transform 0.2s ease-in-out;
            padding: 9px 12px 9px 24px;
        }
        .txt-hover-button{
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(-100%);
            transition: transform 0.2s ease-in-out;
            padding: 9px 12px 9px 24px;
            &:before{
                content: attr(data-hover);
            }
        }
        &.bg-primary{
            &:before{
                background-color: @theme-primary;
            }
            &:after{
                border-color: @theme-primary;
            }
        }
        &.bg-secondary{
            &:before{
                background-color: @theme-secondary;
            }
            &:after{
                border-color: @theme-secondary;
            }
        }
        &:before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            transition: opacity 0.2s ease-in-out;
        }
        &:after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-width: 2px;
            border-style: solid;
            box-sizing: border-box;
        }
        &:hover{
            background-color: #ffffff;
            &:before{
                opacity: 0;
            }
            .txt-button{
                transform: translateY(100%);
            }
            .txt-hover-button{
                transform: translateY(0%);
            }
            &.bg-primary{
                color: @theme-primary;
            }
            &.bg-secondary{
                color: @theme-secondary;
            }
        }
    }
    &:focus{
    	outline: none;
    }
}

.select-custom{
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;
    .select-placeholder{
        display: inline-block;
        vertical-align: top;
        border: 1px solid @theme-gris2;
        .texta-bold(0.875em);
        text-transform: uppercase;
        color: @theme-noir;
        text-decoration: none;
        padding: 5px 30px 5px 14px;
        border-radius: 69px;
        position: relative;
        &.medium-padding-right{
            padding-right: 55px;
        }
        &.big-padding-right{
            padding-right: 104px;
        }
        &:before{
            .icon-font;
            content: "\e901";
            display: block;
            width: 6px;
            height: 3px;
            font-size: 3px;
            text-align: center;
            color: @theme-secondary;
            position: absolute;
            right: 15px;
            top: 50%;
            margin: -2px 0 0 0;
        }
    }
    .select-options{
        display: none;
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 37px;
        left: 0;
        background-color: #fff;
        box-sizing: border-box;
        border: 1px solid @theme-gris2;
        color: #363636;
        padding: 20px 15px;
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            columns: 3;
            > li{
                .texta-bold(0.875em);
                text-transform: uppercase;
                color: @theme-noir;
                white-space: nowrap;
                cursor: pointer;
            }
        }
    }
    .select-skinned{
        .js &{
            //display: none;
        }
    }
    &.is-active{
        z-index: 3;
        .select-options{
            display: block;
        }
    }
}

.slider-range-inline{
    display: inline-block;
    vertical-align: middle;
    &#filter-prix{
        width: 320px;
    }
}

.switch{
    display: inline-block;
    vertical-align: middle;
    width: 89px;
    height: 25px;
    box-sizing: border-box;
    border-radius: 13px;
    border: 1px solid @theme-gris2;
    padding: 2px;
    .texta-light(0.875em);
    line-height: 1em;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    .on-content, .off-content{
        display: inline-block;
        vertical-align: top;
        height: 19px;
        line-height: 19px;
        width: 50%;
        text-align: center;
        position: relative;
    }
    .switch-toggle{
        display: inline-block;
        vertical-align: top;
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 50%;
        box-sizing: border-box;
        padding: 2px;
        transition: transform 0.2s ease-in-out;
        &:before{
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-color: @theme-secondary;
            border-radius: 10px;
        }
    }
    &.off{
        .switch-toggle{
            transform: translateX(0%);
        }
        .off-content{
            color: #fff;
        }
    }
    &.on{
        .switch-toggle{
            transform: translateX(100%);
        }
        .on-content{
            color: #fff;
        }
    }
}

/* @end */