/* @group Header */
#header{
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 20px 0;
    a.logo-facilicar{
    	float: left;
    	margin: 14px 0 0 27px;
    }
}
#zone-right-header{
	float: right;
}
#menu-top-header{
	margin: 0 0 22px 0;
	>li{
		margin: 0 0 0 12px;
		&:first-of-type{
			margin: 0;
		}
		a{
			.texta-medium(1em);
		}
	}
}
#menu-bottom-header{
	>li{
		padding: 0;
		margin: 0 0 0 50px;
		&:first-of-type{
			margin: 0;
		}
		a{
			.texta-black(1.125em);
			text-transform: uppercase;
			color: @theme-noir;
		}
	}
}
/* @end */

/* @group Wrapper top */
#wrapper-top{
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}
/* @end */