/* @group Header */
#header{
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 20px 0;
    a.logo-facilicar{
    	float: left;
    	margin: 14px 0 0 27px;
    }
}
#zone-right-header{
	float: right;
}
#menu-top-header{
	margin: 0 0 22px 0;
	>li{
		margin: 0 0 0 12px;
		&:first-of-type{
			margin: 0;
		}
		a{
			.texta-medium(1em);
		}
	}
}
#menu-bottom-header{
	>li{
		padding: 0;
		margin: 0 0 0 50px;
		&:first-of-type{
			margin: 0;
		}
		a{
			.texta-black(1.125em);
			text-transform: uppercase;
			color: @theme-noir;
		}
	}
}
/* @end */

/* @group Wrapper top */
#wrapper-top{
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}
/* @end */

/* @group Vehicules home */

#wrapper-vehicules-home{
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 60px 0;
	text-align: center;
}

/* @end */

/* @group Footer */
#footer{
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: @theme-noir;
}

/* @group Newsletter */
#block-newsletter{
	display: block;
	width: 100%;
	height: auto;
	padding: 20px 0;
	margin: 0;
	background-color: #D9CAAE;
	.content-align-middle{
		h3{
			margin: 0;
			line-height: 0.9em;
		}
		p{
			margin: 0;
			.texta-light(1.125em);
		}
	}
}
#email-newsletter{
	margin: 0 6px 0 0;
}
#zone-left-newsletter{
	box-sizing: border-box;
	padding: 0 0 0 82px;
	.mail-icon{
		display: block;
		width: 52px;
		height: 40px;
		position: relative;
	}
	.icon-mail-shadow{
		font-size: 32px;
		color: #fff;
		position: absolute;
		bottom: 0;
		right: 0;
	}
	.icon-mail{
		font-size: 36px;
		position: absolute;
		top: 0;
		left: 0;
	}
}
/* @end */

#footer-bottom{
	display: block;
	margin: 0;
	padding: 40px 0 280px 0;
	background-color: @theme-noir;
	color: #ffffff;
	text-transform: uppercase;
	.list-inline{
		width: 100%;
		display: block;
		>li{
			width: 20%;
			margin: 0;
			box-sizing: border-box;
			&:last-of-type{
				width: 40%;
			}
		}
	}
	.list-block{
		margin: 25px 0 0 0;
		>li{
			margin: 0;
			a{
				.texta-light(0.813em);
			}
		}
	}
	.list-social{
		margin: 16px 0 0 0;
	}
}
/* @end */