/* @group List */
.list-inline{
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    list-style-type: none;
    > li{
        display: inline-block;
        vertical-align: top;
        padding: 0;
        margin: 0 16px;
        position: relative;
    }
    &.list-half{
    	width: 100%;
    	> li{
    		width: 50%;
    		margin: 0;
    		box-sizing: border-box;
    		&:first-of-type{
				padding: 0 3px 0 0;
    		}
    		&:last-of-type{
    			padding: 0 0 0 3px;
    		}
    	}
    }
    &.content-toggle-none{
    	display: none;
    }
}

.list-block{
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    > li{
        display: block;
        padding: 0;
        margin: 2px 0;
        position: relative;
    }
}

.list-social{
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0;
	list-style-type: none;
	> li{
		display: inline-block;
		vertical-align: top;
		padding: 0;
		margin: 0 40px 0 0;
		position: relative;
		a{
			display: block;
			width: 42px;
			height: 42px;
			border-radius: 50%;
			background-color: #fff;
			padding: 0;
			margin: 0;
			position: relative;
			line-height: 42px;
			text-align: center;
			font-size: 26px;
			transition: background-color 0.2s ease-in-out;
			&.icon-twitter{
				font-size: 24px;
			}
			&:hover{
				color: @theme-noir;
				background-color: @theme-gris;
			}
		}
	}
}

.list-cars{
	display: block;
	margin: 0;
	padding: 22px 0;
	list-style-type: none;
	text-align: left;
	> li{
		display: inline-block;
		vertical-align: top;
		width: 25%;
		height: 360px;
		box-sizing: border-box;
		padding: 0 9px;
		margin: 11px 0;
	}
}
/* @end */