@media (max-width: 1200px) {
    .container{
        width: 90%;
        &.small{
            padding: 0 42px;
        }
    }
}

@media (max-width: 1150px) {
    .title-action-choose{
        font-size: 3em;
    }
    .wrapper-zone-choose{
        width: 30%;
        &.wrapper-zone-center-choose{
            width: 40%;
            left: 30%;
        }
    }
}

@media (max-width: 1024px) {
    img{
        &.alignleft{
            margin-left: 0;
        }
        &.alignright{
            margin-right: 0;
        }
    }
}

@media (max-width: 979px) {
    .container{
        &.small{
            padding: 0 22px;
        }
    }
    #header{
        a.logo-facilicar{
            margin: 14px 0 0 0;
            width: 240px;
            height: 42px;
            background-size: 240px 42px;
        }
    }
}

@media (max-width: 767px) {
    .container{
        &.small{
            padding: 0;
        }
    }
    .bg-header-responsive{
        .menu-mobile-open &{
            display: block;
        }
    }
    .hide-mobile{
        display: none !important;
    }
    .show-mobile{
        display: block !important;
    }
    .wrapper-top{
        padding: 66px 0 0 0;
    }
    #header{
        position: absolute;
        top: 0;
        left: 0;
        a.logo-facilicar{
            float: none;
            margin: 0;
            width: 145px;
            height: 26px;
            background-size: 145px 26px;
        }
        a.btn-heart{
            .txt-heart{
                display: inline-block!important;
            }
            .icon-heart{
                position: absolute;
                top: 0;
                left: -27px;
            }
            .heart-number{
                position: relative;
                left: inherit;
                top: inherit;
                font-size: 1.1em;
                .texta-light(1em);
                padding: 3px 5px;
                margin: 3px 0 0 5px;
            }
        }
    }
    #vendre-header{
        margin: 0;
    }
    a.btn-menu-responsive{
        display: block;
    }
    #zone-right-header{
        float: none;
        text-align: left;
        padding: 34px 0 0 0;
        display: none;
        .menu-mobile-open &{
            display: block;
        }
    }
    #menu-top-header, #menu-bottom-header{
        ul{
            display: block;
            &.content-toggle{
                display: none;
            }
            > li{
                display: block;
                margin: 10px 0;
                a{
                    display: inline-block;
                    vertical-align: top;
                    &.btn-pin{
                        color: @theme-primary;
                        .icon-pin{
                            color: @theme-gris;
                            margin: 0 10px 0 -2px;
                        }
                    }
                    &.btn-tel{
                        font-size: 1.5em;
                        line-height: 1em;
                        .icon-tel{
                            margin: 0 10px 0 4px;
                            padding: 5px 0 0 0;
                        }
                        .tel-number{
                            padding: 2px 6px;
                        }
                    }
                    &#btn-rappel{
                        margin: 0 0 0 25px;
                    }
                }
            }
        }
    }
    #menu-bottom-header{
        ul.list-inline{
            box-sizing: border-box;
            padding: 0 0 25px 25px;
            > li{
                a{
                    text-transform: none;
                    .texta-light(1.125em);
                }
            }
        }
    }

    /* @group Choose */
    .wrapper-survol-out{
        display: none;
    }
    .title-choose{
        display: none;
    }
    #btn-choose{
        display: none;
    }
    .container-car-choose{
        position: relative;
        bottom: inherit;
        left: inherit;
        margin: 0 auto;
        width: 100%;
        max-width: 150px;
        height: 70px;
    }
    .car-choose{
        background: none!important;
        img{
            display: block;
        }
        &.car-1, &.car-2, &.car-3, &.car-4{
            width: 100%;
            height: auto;
            margin: 0;
            left: 0;
            bottom: 0;
        }
    }
    .car-wheel{
        display: none;
    }
    .wrapper-choose{
        height: auto;
        padding: 0 0 24px 0;
        .list-choose{
            > li{
                p{
                    font-size: 1.125em;
                    strong{
                        .texta-light(1em);
                    }
                }
            }
        }
    }
    .title-action-choose{
        display: none;
    }
    .list-choose{
        opacity: 1;
    }
    .content-txt-choose{
        opacity: 1;
    }
    .wrapper-zone-choose{
        position: relative;
        bottom: inherit;
        left: inherit;
        width: 100%;
        height: auto;
        padding: 0;
        p{
            font-size: 1.25em;
        }
        &.wrapper-zone-center-choose{
            position: relative;
            bottom: inherit;
            left: inherit;
            width: 100%;
            height: auto;
            .content-txt-choose{
                opacity: 1;
            }
        }
        &.wrapper-zone-left-choose{
            position: relative;
            bottom: inherit;
            left: inherit;
            width: 100%;
            height: auto;
        }
        &.wrapper-zone-right-choose{
            position: relative;
            bottom: inherit;
            left: inherit;
            width: 100%;
            height: auto;
            .content-txt-choose{
                transform: none;
            }
        }
    }
    /* @end */
}

@media (max-width: 480px) {

}


//e-trustedshops

/* retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
    .e-trustedshops{
        background-image: url("../layoutImg/e-trustedshops@2x.png");
        background-size: 100px 42px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
    .e-trustedshops{
        background-image: url("../layoutImg/e-trustedshops@2x.png");
        background-size: 100px 42px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-resolution: 288dpi) {
    .e-trustedshops{
        background-image: url("../layoutImg/e-trustedshops@3x.png");
        background-size: 100px 42px;
    }
}


/* ==|== print styles =======================================================
   ========================================================================== */

@media print {
    * { color: #000; }
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; font-size: .7em; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after, #logo-institut-avignon:after { content: ""; }
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; }
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
    
    #mask, #bloc-top, nav, #menu-footer, .second-menu, .arianne, #motif, #hamburger-menu{ display: none !important; }
    header{position: relative;}
    header .container.big{ width: 940px; }
    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, h6, .main form{ padding-left: 0 !important; }
    #logo-institut-avignon{ margin-left:1cm; }
}   