@media (max-width: 1200px) {
    .container{
        width: 90%;
        &.small{
            padding: 0 42px;
        }
    }
    /* @group Blog */
    .list-blocks-inline, #main .list-blocks-inline{
        > li{
            padding: 60px 60px;
            h2{
                &:before{
                    width: 40px;
                    left: -60px;
                }
            }
        }
    }
    .articles-presse, #main .articles-presse{
        > li{
            .txt-article{
                .wrapper-has-media{
                    display: block;
                    width: 100%;
                    .content-media{
                        display: block;
                        max-width: 80%;
                    }
                    .content-txt-media{
                        display: block;
                        width: 100%;
                        padding: 10px 0 0 0;
                    }
                }
            }
        }
    }
    /* @end */

    /* @group Car */
    .wrapper-car{
        &.cta{
            .cta-wrapper{
                padding: 0 15px;
            }
        }
    }
    /* @end */

    /* @group Filters */
    .slider-range-inline#filter-prix{
        width: 200px;
    }
    /* @end */
}

@media (max-width: 1150px) {
    .container{
        .wrapper-img &{
            height: 300px;
        }
    }
    .wrapper-img{
        height: 300px;
    }
    .title-action-choose{
        font-size: 3em;
    }
    .wrapper-zone-choose{
        width: 30%;
        &.wrapper-zone-center-choose{
            width: 40%;
            left: 30%;
        }
    }
    .bloc-survol{
        p{
           br{
            display: none;
           }
        }
    }
    /* @group Newsletter */
    #block-newsletter{
        text-align: center;
        .wrapper-align-middle{
            display: inline-block;
            vertical-align: top;
            width: auto;
        }
        .content-align-middle{
            display: block;
            width: 100%;
            text-align: left;
        }
    }
    #zone-left-newsletter{
        padding: 0;
        margin: 0 0 20px 0;
    }
    #zone-right-newsletter{
        padding: 0 0 0 20px;
    }
    /* @end */

    /* @group list-visu-txt */
    .list-visu-txt, #main .list-visu-txt{
        > li{
            .visu{
                width: 250px;
            }
            &:nth-child(odd){
                .txt{
                    padding: 0 0 0 272px;
                }
            }
            &:nth-child(even){
                .txt{
                    padding: 0 272px 0 0;
                }
            }
        }
    }
    /* @end */

    /* @group Blog */
    .list-blocks-inline, #main .list-blocks-inline{
        > li{
            padding: 40px 40px;
            h2{
                font-size: 1.9em;
                &:before{
                    width: 20px;
                    left: -40px;
                }
            }
        }
    }
    /* @end */

    /* @group Car */
    .wrapper-car{
        &.cta{
            font-size: 1em;
        }
    }
    /* @end */

    /* @group Filters */
    .slider-range-inline#filter-prix{
        width: 200px;
    }
    .cars-filters{
        .list-inline{
            &.list-select-one{
                > li{
                    &:last-child{
                        display: block;
                    }
                }
            }
        }    
    }
    /* @end */
}

@media (max-width: 1024px) {
    p{
        &.big-txt{
            font-size: 1.4em;
        }
    }
    img{
        &.alignleft{
            margin-left: 0;
            margin-right: 0;
        }
        &.alignright{
            margin-left: 0;
            margin-right: 0;
        }
    }
    /* @group Footer */
    #footer-bottom{
        .list-inline{
            > li{
                width: 33.3333%;
                margin: 0 0 20px 0;
            }
        }
    }
    /* @end */

    /* @group Navbar | Team */
    .list-team, #main .list-team{
        > li{
            width: 50%;
            &:nth-child(3n+1){
                transform: none;
            }
            &:nth-child(3n+2){
                transform: none;
            }
            &:nth-child(even){
                transform: translateY(30px);
            }
            &.team-join{
                width: 100%;
            }
        }
    }
    /* @end */

    /* @group Blog */
    .articles-presse, #main .articles-presse{
        > li{
            padding: 0;
        }
    }
    /* @end */
}

@media (max-width: 979px) {
    .container{
        &.small{
            padding: 0 22px;
        }
        .wrapper-img &{
            height: 250px;
        }
    }
    .wrapper-img{
        height: 250px;
        .container-img{
            .header-on &{
                top: 0px;
            }
        }
    }
    h1{
        font-size: 4.375em;
    }
    h2{
        font-size: 2em;
        margin: 60px 0 30px 0;
        &.big-title{
            font-size: 2.813em;
            #wrapper-vehicules-home &{
                margin: 0;
            }
        }
        &.medium-title{
            font-size: 2.4em;
        }
    }
    h3{
        font-size: 1.6em;
    }
    h4{
        font-size: 1.1em;
    }
    p{
        &.big-txt{
            font-size: 1.2em;
        }
    }
    #main{
        ul, ol{
            padding: 0 40px;
        }
    }
    .content-toggle{
        &.small{
            padding: 20px 40px;
            .content-toggle{
                &.small{
                    padding: 10px 10px;
                }
            }
        }
    }
    /* @group Header */
    #header{
        a.logo-facilicar{
            margin: 14px 0 0 0;
            width: 240px;
            height: 42px;
            background-size: 240px 42px;
            .header-on &{
                margin: 14px 0 0 0;
            }
        }
        .header-on &{
            position: relative;
            top: inherit;
            left: inherit;
            border: none;
        }
    }
    #zone-right-header{
        .header-on &{
            margin: 0;
        }
    }
    #menu-top-header{
        .header-on &{
            display: block;
            margin: 0;
            ul{
                margin: 0 0 22px 0;
            }
        }
    }
    #menu-bottom-header{
        .header-on &{
            display: block;
        }
    }
    .wrapper-top{
        .header-on &{
            padding: 0;
        }
    }
    .header-on{
        &.no-wrapper-top{
            .first-block{
                padding: 0;
            }
        }
    }
    /* @end */

    /* @group Choose */
    .wrapper-survol-out{
        display: none;
    }
    .title-choose{
        display: none;
        .page-404 &{
            display: block;
            padding: 0;
            margin: -22px 0 0 0;
            font-size: 2.5em;
        }
    }
    #btn-choose{
        display: none;
    }
    .list-choose{
        margin: 0 0 30px 0;
        > li{
            margin: 8px 0;
        }
    }
    .txt-404{
        font-size: 15em;
        top: -30px;
    }
    .container-car-choose{
        position: relative;
        bottom: inherit;
        left: inherit;
        margin: 0 auto 5px auto;
        width: 402px;
        height: 160px;
        .page-404 &{
            bottom: inherit;
            height: 160px;
        }
        .right-tablet &{
            transform: translateX(15%);
            .page-404 &{
                transform: none;
            }
        }
        .left-tablet &{
            transform: translateX(-15%);
            .page-404 &{
                transform: none;
            }
        }
    }
    .car-choose{
        &.car-1{
            width: 369px;
            height: 154px;
            margin-left: -184px;
            background-size: 100% 100%;
        }
        &.car-2{
            width: 360px;
            height: 129px;
            margin-left: -180px;
            background-size: 100% 100%;
            bottom: -5px;
        }
        &.car-3{
            width: 373px;
            height: 113px;
            margin-left: -186px;
            background-size: 100% 100%;
            bottom: -5px;
        }
        &.car-4{
            width: 380px;
            height: 133px;
            margin-left: -190px;
            background-size: 100% 100%;
            bottom: 2px;
        }
    }
    .car-wheel{
        .car-1 &{
            background-size: 100% 100%;
            width: 41px;
            height: 41px;
            top: 98px;
            &.rear-wheel{
                left: 48px;
            }
            &.front-wheel{
                left: 279px;
            }
        }
        .car-2 &{
            background-size: 100% 100%;
            width: 36px;
            height: 36px;
            top: 71px;
            &.rear-wheel{
                left: 60px;
            }
            &.front-wheel{
                left: 260px;
            }
        }
        .car-3 &{
            background-size: 100% 100%;
            width: 38px;
            height: 38px;
            top: 53px;
            &.rear-wheel{
                left: 79px;
            }
            &.front-wheel{
                left: 272px;
            }
        }
        .car-4 &{
            background-size: 100% 100%;
            width: 42px;
            height: 42px;
            top: 78px;
            &.rear-wheel{
                left: 68px;
            }
            &.front-wheel{
                left: 294px;
            }
        }
        .right-tablet &{
            transform: rotate(100deg);
        }
        .left-tablet &{
            transform: rotate(-100deg);
        }
    }
    .wrapper-choose{
        height: 490px;
        padding: 0 0 24px 0;
        .page-404 &{
            height: 550px;
        }
        .list-choose{
            > li{
                p{
                    font-size: 1.125em;
                    strong{
                        .texta-light(1em);
                    }
                }
            }
        }
    }
    .content-choose{
        overflow: hidden;
    }
    .title-action-choose{
        display: block;
        position: relative;
        top: inherit;
        text-align: center;
        transition: transform 0.2s ease-in-out;
        transform-origin: 0 0;
        display: block;
        box-sizing: border-box;
        .texta-black(1.6em);
        padding: 4px 0;
        color: @theme-primary;
        line-height: 1.1em;
        //height: 32px;
        height: 40px;
        cursor: pointer;
        .txt-title-action-choose{
            position: absolute;
            top: 4px;
            transition: transform 0.2s ease-in-out;
        }
        &.left-arrow{
            left: inherit;
            padding: 4px 0 4px 0;
            .txt-title-action-choose{
                transform: translateX(29.5%);
                left: 0;
                right: 12px;
                .open-tablet &{
                    transform: none;
                }
            }
            &:before{
                display: none;
            }
        }
        &.right-arrow{
            right: inherit;
            padding: 4px 0 4px 6px;
            .txt-title-action-choose{
                transform: translateX(-29.5%);
                left: 12px;
                right: 0;
                .open-tablet &{
                    transform: none;
                }
            }
            &:before{
                display: none;
            }
        }
        .border{
            display: block;
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            overflow: hidden;
            &:before{
                content: "";
                display: block;
                box-sizing: border-box;
                width: 100%;
                height: 1px;
                background-color: #D8D8D4;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
        .arrow-toggle-one{
            display: inline-block;
            vertical-align: top;
            margin: -2px 0 0 0;
            &.left-arrow{
                margin: -2px 2px 0 0;
            }
            &.right-arrow{
                margin: -2px 0 0 2px;
            }
        }
        .open-tablet &{
            border-bottom: none;
            color: @theme-noir;
            .arrow-toggle-one{
                opacity: 0;
            }
            .border{
                &:before{
                    content: "";
                    display: block;
                    box-sizing: border-box;
                    width: 50%;
                    height: 1px;
                    background-color: @theme-primary;
                    position: absolute;
                    bottom: 0;
                    left: -6px;
                }
                &:after{
                    content: "";
                    display: block;
                    box-sizing: border-box;
                    width: 50%;
                    height: 1px;
                    background-color: @theme-primary;
                    position: absolute;
                    bottom: 0;
                    right: -6px;
                }
            }
            &:before{
                content: "";
                display: block;
                width: 9px;
                height: 1px;
                position: absolute;
                left: 50%;
                top: inherit;
                bottom: 0;
                margin: 0 0 0 -6px;
                background-color: @theme-primary;
                transform: rotate(45deg);
                transform-origin: 0 0;
            }
            &:after{
                content: "";
                display: block;
                width: 9px;
                height: 1px;
                position: absolute;
                right: 50%;
                bottom: 0;
                margin: 0 -6px 0 0;
                background-color: @theme-primary;
                transform: rotate(-45deg);
                transform-origin: 100% 0;
            }
        }
    }
    .list-choose{
        opacity: 1;
    }
    .content-txt-choose{
        opacity: 1;
        text-align: center;
    }
    .wrapper-zone-choose{
        height: 250px;
        padding: 0;
        p{
            font-size: 1.25em;
            br{
                display: block;
            }
        }
        a, div, span{
            &.btn-block.btn-block-arrow.btn-block-arrow-left{
                .arrow-btn-block-arrow{
                    left: 24px;
                    right: auto;
                    transform-origin: 50% 50%;
                    transform: rotate(-180deg);
                    margin: -15px 0 0 0;
                }
                .txt-btn-block-arrow{
                    padding: 17px 28px 17px 45px;
                }
                .txt-hover-btn-block-arrow{
                    padding: 17px 28px 17px 45px;
                }
            }
        }
        &.wrapper-zone-center-choose{
            position: relative;
            bottom: inherit;
            left: inherit;
            width: 100%;
            height: auto;
            .content-txt-choose{
                opacity: 1;
            }
        }
        &.wrapper-zone-left-choose{
            width: 70%;
            box-sizing: border-box;
            padding: 10px 10px 0 0;
            transform: translateX(-57%);
            transition: transform 0.2s ease-in-out;
            cursor: auto;
            &.open-tablet{
                transform: translateX(0%);
                .content-txt-choose{
                    opacity: 1;
                }
            }
            &.txt-right-aligned{
                text-align: left;
            }
            .content-txt-choose{
                transform: none;
                opacity: 0;
                transition: opacity 0.2s ease-in-out;
            }
            .list-choose{
                text-align: left;
                >li{
                    padding: 0 0 0 15px;
                    &:before{
                        right: inherit;
                        left: 0;
                        color: @theme-primary;
                    }
                }
            }
        }
        &.wrapper-zone-right-choose{
            box-sizing: border-box;
            padding: 10px 0 0 10px;
            width: 70%;
            transform: translateX(57%);
            transition: transform 0.2s ease-in-out;
            cursor: auto;
            &.open-tablet{
                transform: translateX(0%);
                .content-txt-choose{
                    opacity: 1;
                }
            }
            .content-txt-choose{
                transform: none;
                opacity: 0;
                transition: opacity 0.2s ease-in-out;
            }
            .list-choose{
                >li{
                    &:before{
                        color: @theme-primary;
                    }
                }
            }
        }
    }
    /* @end */

    /* @group Cars */
    .list-cars{
        padding: 10px 0 22px 0;
        max-width: 810px;
        margin: 0 auto;
        >li{
            width: 33.33333%;
            height: 313px;
            padding: 0 4px;
            margin: 4px 0;
            &:nth-child(7), &:nth-child(8){
               display: none; 
            }
        }
    }
    .bandeau-image-car{
        height: 158px;
        top: 70px;
    }
    .bandeau-car{
        &.bandeau-top{
            height: 70px;
        }
    }
    .fond-bandeau-car{
        &.bandeau-top{
            height: 70px;
            transform: none;
        }
        &.bandeau-bottom{
            height: 86px;
            transform: none;
        }
    }
    .wrapper-car{
        &:hover{
            .car-labels{
                opacity: 1;
            }
            .car-label{
                transform: none;
            }
        }
    }
    .car-year{
        display: none;
    }
    .car-name{
        transform: none;
        top: 14px;
        font-size: 1.25em;
    }
    .car-desc{
        display: none;
    }
    .motor-color{
        opacity: 1;
        transform: none;
        padding-right: 50%;
        font-size: 0.875em;
        top: 40px;
    }
    .car-km{
        padding-left: 50%;
        font-size: 0.875em;
        top: 40px;
        transform: none;
    }
    .car-old-price{
        font-size: 1.125em;
        transform: none;
        bottom: 46px;
        left: 90px;
        text-align: left;
    }
    .car-price{
        font-size: 2.063em;
        transform: none;
        bottom: 12px;
        color: @theme-noir;
        left: 90px;
        text-align: left;
    }
    .car-btn-essai{
        display: none;
    }
    .car-price-saving{
        display: inline-block;
        vertical-align: top;
        transform: none;
        opacity: 1;
        bottom: 28px;
        right: inherit;
        left: 20px;
        .saving-txt{
            display: none;
        }
    }
    .car-labels{
        transform: none;
        bottom: 78px;
        opacity: 1;
    }
    .car-label{
        transform: none;
        opacity: 1;
        font-size: 0.8em;
        padding: 0px 5px;
    }
    .saving-percentage{
        font-size: 1.375em;
    }
    /* @end */

    /* @group Choisir / Témoignage */
    #wrapper-choisir-temoignage{
        padding: 34px 0 34px 0;
        #wrapper-content-choisir-temoignage{
            display: block;
            margin: 0 auto;
        }
    }
    #wrapper-title-e-trustedshops{
        display: none;
    }
    #zone-left-choisir-temoignage{
        width: 100%;
        padding: 0;
        display: block;
    }
    #content-zone-left-choisir-temoignage{
        display: table;
        width: 100%;
        height: auto;
    }
    #zone-right-choisir-temoignage{
        width: 100%;
        padding: 0;
        display: block;
    }
    .bloc-survol{
        display: table-cell;
        vertical-align: top;
        box-sizing: border-box;
        .zone-picto-bloc-survol{
            width: 42px;
            height: 42px;
            line-height: 40px;
            margin: 0;
            left: 20px;
            top: 25px;
            .icon-thumb-up{
                font-size: 38px;
            }
            .icon-thumb-up-shadow{
                font-size: 42px;
                top: -1px;
                right: -5px;
            }
        }
        .title-bloc-survol{
            width: 100%;
        }
        h2{
            font-size: 2.5em;
            transform: none;
            text-align: left;
            padding: 4px 0 0 60px;
            br{
                display: none;
            }
        }
        p{
            transform: none;
            opacity: 1;
        }
        .btn-block{
            opacity: 1;
            transform: none;
        }
        &:hover{
            .zone-picto-bloc-survol{
                transform: none;
                opacity: 1;
            }
        }
    }
    #trusted-shops{
        display: table-cell;
        vertical-align: top;
        height: 100%;
        box-sizing: border-box;
        padding: 10px 0 0 18px;
        width: 240px;
        .wrapper-align-middle{
            display: block;
            width: 100%;
        }
        .content-align-middle{
            display: block;
            width: 100%;
            &#content-title-trusted-shops{
                display: none;
            }
            &#content-e-trustedshops{
                text-align: center;
            }
        }
    }
    #content-txt-trustedshops-avis{
        padding: 0;
        p{
            font-size: 0.875em;
        }
    }
    #content-trustedshops-avis{
        text-align: center;
        padding: 20px 0 0 0;
    }
    .trustedshops-avis{
        width: 72px;
        height: 70px;
        background-size: 100% 100%;
    }
    #wrapper-slider-temoignage{
        position: relative;
        top: inherit;
        left: inherit;
        right: inherit;
        bottom: inherit;
        margin: 20px 0 0 0;
        ul{
            width: 100%;
            height: 492px;
        }
    }
    .zone-txt-slider-citation{
        transform: none;
        opacity: 1;
        display: block;
        height: auto;
        position: absolute;
        top: inherit;
        bottom: 0;
        box-sizing: border-box;
        padding: 12px;
        p{
            font-size: 1.9em;
            strong{
                font-size: 1.6em;
            }
        }
        .btn-underline{
            font-size: 1.688em;
        }
    }
    .wrapper-img-slider-citation{
        transform: none;
        filter: none;
    }
    .bloc-txt-slider-citation{
        padding: 15px 10px;
        position: relative;
        top: inherit;
        left: inherit;
        transform: none;
        display: block;
        width: 100%;
        height: auto;
        box-sizing: border-box;
    }
    a.btn-slider-citation{
        span{
            height: 44px;
            width: 20px;
            font-size: 44px;
            margin: -22px 0 0 0;
        }
    }
    .wrapper-slider-citation{
        ul{
            li{
                &.active{
                    a{
                        .img-slider-citation{
                            filter: none;
                        }
                        &:hover{
                            .wrapper-img-slider-citation{
                                transform: none;
                            }
                        }
                    }
                }
            }
        }
    }
    /* @end */

    /* @group Navbar | Team */
    .navbar, #main .navbar{
        width: 180px;
        .list-block{
            width: 180px;
        }
    }
    .content-with-navbar{
        padding: 18px 0 0 76px;
        h2{
            &:before{
                width: 40px;
                left: -60px;
            }
        }
    }
    /* @end */

    /* @group Landing */
    .landing{
        h1{
            font-size: 2.5em;
        }
    }
    /* @end */

    /* @group list-visu-txt */
    .list-visu-txt, #main .list-visu-txt{
        > li{
            .visu{
                display: block;
                width: 100%;
                position: relative;
                .wrapper-align-middle{
                    display: block;
                }
                .content-align-middle{
                    display: block;
                }
                img{
                    max-width: 230px;
                }
            }
            .txt{
                display: block;
                width: 100%;
            }
            &:nth-child(odd){
                .txt{
                    padding: 0;
                }
            }
            &:nth-child(even){
                .txt{
                    padding: 0;
                }
            }
        }
    }
    /* @end */

    /* @group Blog */
    .list-blocks-inline, #main .list-blocks-inline{
        display: block;
        > li{
            display: block;
        }
        &.half{
            > li{
                width: 100%;
            }
        }
    }
    .articles-presse, #main .articles-presse{
        > li{
            .visu-article{
                width: 100px;
            }    
        }
    }
    /* @end */

    /* @group Filters */
    .cars-filters{
        .list-inline{
            &.list-select-one{
                > li{
                    &:last-child{
                        display: inline-block;
                    }
                }
            }
        }
    }
    .line-filters-two{
        .wrapper-align-middle{
            display: block;
        }
        .content-align-middle{
            display: block;
            margin: 5px 0;
            &.txt-right-aligned{
                text-align: left;
            }
        }
    }
    .line-filters-three{
        ul.list-inline{
            > li{
                display: block;
                margin: 15px 0;
            }
        }
    }
    .line-filters-four{
        .wrapper-align-middle{
            display: block;
        }
        .content-align-middle{
            display: block;
            &.txt-right-aligned{
                text-align: left;
            }
        }
    }
    #content-more-criteres .list-inline > li:last-of-type{
        margin-left: 0;
    }
    .lines-filters, .list-block.lines-filters{
        >li{
            &:last-of-type{
                margin-top: 15px;
            }
        }
    }
    /* @end */
}

@media (max-width: 767px) {
    .container{
        &.small{
            padding: 0;
        }
        .wrapper-img &{
            height: 200px;
        }
    }
    .wrapper-img{
        height: 200px;
        .small-wrapper-top &{
            height: 200px;
            .container{
                height: 200px;
            }
        }
    }
    h1{
        font-size: 2.5em;
    }
    h2{
        font-size: 1.6em;
        margin: 40px 0 15px 0;
        &.big-title{
            font-size: 1.875em;
            margin: 0 0 15px 0;
        }
        &.medium-title{
            font-size: 1.5em;
        }
        .small-txt{
            font-size: 0.533em;
        }
    }
    h3{
        font-size: 1.4em;
    }
    h4{
        font-size: 1em;
    }
    p{
        font-size: 1em;
        &.big-txt{
            font-size: 1em;
        }
    }
    .alignright{
        float: none;
    }
    .alignleft{
        float: none;
    }
    #main{
        ul, ol{
            padding: 0 20px;
        }
    }
    a, div, span{
        &.btn-block{
            font-size: 1em;
            &.big{
                font-size: 1.188em;
                &.btn-block-arrow{
                    .txt-btn-block-arrow{
                        padding: 19px 36px 19px 48px;
                    }
                }
            }
        }
    }
    .content-toggle{
        &.small{
            padding: 10px 10px;
            .content-toggle{
                &.small{
                    padding: 0px;
                }
            }
        }
    }
    /* @group Header */
    .bg-header-responsive{
        .menu-mobile-open &{
            display: block;
        }
    }
    #header{
        .header-on &{
            position: absolute;
            top: 0;
            left: 0;
            border-bottom: none;
            a.logo-facilicar{
                margin: 0;
            }
        }
    }
    #header{
        position: absolute;
        top: 0;
        left: 0;
        a.logo-facilicar{
            float: none;
            margin: 0;
            width: 145px;
            height: 26px;
            background-size: 145px 26px;
        }
        a.btn-heart{
            .txt-heart{
                display: inline-block!important;
            }
            .icon-heart{
                position: absolute;
                top: 0;
                left: -27px;
            }
            .heart-number{
                position: relative;
                left: inherit;
                top: inherit;
                font-size: 1.1em;
                .texta-light(1em);
                padding: 3px 5px;
                margin: 3px 0 0 5px;
            }
        }
    }
    #vendre-header{
        margin: 0;
    }
    a.btn-menu-responsive{
        display: block;
    }
    #zone-right-header{
        float: none;
        text-align: left;
        padding: 34px 0 0 0;
        display: none;
        .menu-mobile-open &{
            display: block;
        }
        .header-on &{
            margin: 0;
        }
    }
    #menu-top-header, #menu-bottom-header{
        ul{
            display: block;
            &.content-toggle{
                display: none;
            }
            > li{
                display: block;
                margin: 10px 0;
                a{
                    display: inline-block;
                    vertical-align: top;
                    &.btn-pin{
                        color: @theme-primary;
                        .icon-pin{
                            color: @theme-gris;
                            margin: 0 10px 0 -2px;
                        }
                    }
                    &.btn-tel{
                        font-size: 1.5em;
                        line-height: 1em;
                        .icon-tel{
                            margin: 0 10px 0 4px;
                            padding: 5px 0 0 0;
                        }
                        .tel-number{
                            padding: 2px 6px;
                        }
                    }
                    &#btn-rappel{
                        margin: 0 0 0 25px;
                    }
                }
            }
        }
    }
    #menu-top-header{
        .header-on &{
            display: block;
            margin: 0;
            ul{
                margin: 0 0 22px 0;
                >li{
                    &:first-of-type{
                        display: block;
                    }
                }
            }
        }
    }
    #menu-bottom-header{
        ul.list-inline{
            box-sizing: border-box;
            padding: 0 0 25px 25px;
            > li{
                a{
                    text-transform: none;
                    .texta-light(1.125em);
                    color: @theme-noir;
                    padding: 0;
                    &:before{
                        display: none;
                    }
                    .txt-hover-btn-anim{
                        display: none;
                    }
                    .hide-text{
                        display: block;
                        text-indent: inherit;
                    }
                    &:hover{
                        color: @theme-primary;
                        transform: none;
                        .txt-btn-anim{
                            transform: none;
                        }
                    }
                }
            }
        }
        .header-on &{
            display: block;
        }
    }
    /* @end */
    .hide-mobile{
        display: none !important;
    }
    .show-mobile{
        display: block !important;
    }
    .wrapper-top{
        margin: 66px 0 0 0;
        .header-on &{
            padding: 0;
        }
    }

    /* @group Choose */
    .wrapper-survol-out{
        display: none;
    }
    .title-choose{
        display: none;
        .page-404 &{
            margin: -5px 0 0 0;
            font-size: 2em;
        }
    }
    #btn-choose{
        display: none;
    }
    .txt-404{
        font-size: 8em;
        top: -29px;
    }
    .container-car-choose{
        position: relative;
        bottom: inherit;
        left: inherit;
        margin: 0 auto;
        width: 100%;
        /*max-width: 150px;
        height: 70px;*/
        max-width: 200px;
        height: 80px;
        .left-tablet &, .right-tablet &{
            transform: none;
        }
        .page-404 &{
            height: 80px;
        }
    }
    .car-choose{
        background: none!important;
        img{
            display: block;
        }
        &.car-1, &.car-2, &.car-3, &.car-4{
            width: 100%;
            height: auto;
            margin: 0;
            left: 0;
            bottom: 0;
        }
    }
    .car-wheel{
        display: none;
    }
    .wrapper-choose{
        height: auto;
        padding: 0 0 24px 0;
        .list-choose{
            > li{
                p{
                    font-size: 1.125em;
                    strong{
                        .texta-light(1em);
                    }
                }
            }
        }
    }
    .title-action-choose{
        display: none;
    }
    .list-choose{
        opacity: 1;
    }
    .content-txt-choose{
        opacity: 1;
        text-align: left;
    }
    .wrapper-zone-choose{
        position: relative;
        bottom: inherit;
        left: inherit;
        width: 100%;
        height: auto;
        padding: 0;
        p{
            font-size: 1.25em;
            .page-404 &{
                font-size: 1em;
                br{
                    display: none;
                }
            }
            br{
                display: none;
            }
        }
        a, div, span{
            &.btn-block.btn-block-arrow.btn-block-arrow-left{
                .arrow-btn-block-arrow{
                    left: 24px;
                    right: auto;
                    transform-origin: 50% 50%;
                    transform: rotate(-180deg);
                    margin: -15px 0 0 0;
                }
                .txt-btn-block-arrow{
                    padding: 17px 28px 17px 45px;
                }
                .txt-hover-btn-block-arrow{
                    padding: 17px 28px 17px 45px;
                }
            }
        }
        &.wrapper-zone-center-choose{
            position: relative;
            bottom: inherit;
            left: inherit;
            width: 100%;
            height: auto;
            .content-txt-choose{
                opacity: 1;
                text-align: center;
            }
        }
        &.wrapper-zone-left-choose{
            position: relative;
            bottom: inherit;
            left: inherit;
            width: 100%;
            height: auto;
            padding: 0;
            transform: none;
            &.txt-right-aligned{
                text-align: left;
            }
            .content-txt-choose{
                transform: none;
                opacity: 1;
            }
            .list-choose{
                text-align: left;
                >li{
                    padding: 0 0 0 15px;
                    &:before{
                        right: inherit;
                        left: 0;
                        color: @theme-primary;
                    }
                }
            }
        }
        &.wrapper-zone-right-choose{
            position: relative;
            bottom: inherit;
            left: inherit;
            width: 100%;
            height: auto;
            padding: 0;
            transform: none;
            .content-txt-choose{
                transform: none;
                opacity: 1;
            }
            .list-choose{
                >li{
                    &:before{
                        color: @theme-primary;
                    }
                }
            }
            &.content-toggle-one{
                display: none;
            }
        }
    }
    /* @end */

    #wrapper-vehicules-home{
        padding: 40px 0;
    }

    /* @group Cars */
    .list-cars{
        max-width: 400px;
        >li{
            width: 50%;
            height: 190px;
            padding: 0 2px;
            margin: 2px 0;
        }
    }
    .bandeau-image-car{
        height: 96px;
        top: 40px;
    }
    .bandeau-car{
        &.bandeau-top{
            height: 40px;
        }
    }
    .fond-bandeau-car{
        &.bandeau-top{
            height: 40px;
        }
        &.bandeau-bottom{
            height: 52px;
        }
    }
    .car-name{
        top: 6px;
        font-size: 0.9em;
    }
    .motor-color{
        font-size: 0.688em;
        top: 23px;
    }
    .car-km{
        font-size: 0.688em;
        top: 23px;
    }
    .car-old-price{
        font-size: 0.688em;
        bottom: 32px;
        left: 54px;
    }
    .car-price{
        font-size: 1.250em;
        bottom: 12px;
        left: 54px;
    }
    .car-price-saving{
        bottom: 18px;
        left: 12px;
    }
    .car-labels{
        bottom: 45px;
    }
    .car-label{
        font-size: 0.625em;
    }
    .saving-percentage{
        font-size: 0.813em;
    }
    .wrapper-car{
        &.cta{
            font-size: 0.9em;
            &.big-line-height{
                line-height: 1.1em;
            }
            i{
                font-size: 1em;
            }
            strong{
                font-size: 1em;
            }
            .tel{
                padding-right: 8px;
            }
            .icon-tel{
                margin: 1px 8px 0 0;
            }
            .cta-content{
                &.cta-img{
                    padding: 8px 0 8px 0;
                    max-height: 40px;
                    img{
                        max-width: inherit;
                        max-height: 40px;
                    }
                }
                &.cta-txt{
                    &.big-margin{
                        margin: 2px 0;
                    }
                }
                &.cta-btn{
                    height: 52px;
                    .wrapper-cta-btn{
                        height: 52px;
                    }
                }
            }
        }
    }
    /* @end */

    /* @group Newsletter */
    #block-newsletter{
        display: none;
    }
    /* @end */

    /* @group Choisir / Témoignage */
    #wrapper-choisir-temoignage{
        padding: 20px 0 20px 0;
        #wrapper-content-choisir-temoignage{
            max-width: 400px;
        }
    }
    #wrapper-slider-temoignage{
        ul{
            height: 200px;
        }
    }
    #trusted-shops{
        .content-align-middle{
            &#content-e-trustedshops{
                display: none;
            }
        }
    }
    #content-zone-left-choisir-temoignage{
        display: block;
    }
    #trusted-shops{
        display: block;
        padding: 10px 0 0 0;
        width: 100%;
    }
    #trusted-shops .wrapper-align-middle{

    }
    .bloc-survol{
        display: block;
        h2{
            font-size: 1.625em;
            padding: 12px 0 0 60px;
        }
    }
    .zone-txt-slider-citation{
        padding: 6px;
        p{
            font-size: 1em;
            strong{
                font-size: 1.625em;
            }
        }
    }
    #wrapper-title-e-trustedshops{
        margin: 0;
    }
    .bloc-txt-slider-citation{
        .btn-underline{
            font-size: 0.688em;
        }
    }
    #content-txt-trustedshops-avis{
        padding: 0 20px 0 0;
    }
    .trustedshops-avis{
        width: 91px;
        height: 88px;
    }
    #trusted-shops{
        .wrapper-align-middle{
            display: table;
        }
        .content-align-middle{
            display: table-cell;
            vertical-align: middle;
        }
    }
    a.btn-slider-citation{
        width: 20px;
        span{
            font-size: 18px;
            height: 18px;
            width: 10px;
            margin: -18px 0 0 0;
        }
        &:hover{
            &.btn-right{
                span{
                    transform: translateX(10px);
                }
            }
            &.btn-left{
                span{
                    transform: translateX(-10px);
                }
            }
        }
    }
    /* @end */

    /* @group Footer */
    #footer-bottom{
        text-align: center;
        .list-inline{
            > li{
                &:last-of-type{
                    width: 100%;
                }
            }
        }
        .list-social{
            > li{
                margin: 0 20px;
            }
        }
        .bloc-partenaires{
            margin: 20px 0 0 0;
            .list-inline{
                > li{
                    margin: 0 20px 20px 20px;
                    &:last-of-type{
                        width: auto;
                    }
                }
            }
        }
    } 
    /* @end */

    /* @group Popup */
    .popup{
        padding: 40px 30px;
        a.btn-close-popup{
            top: 15px;
            right: 15px;
        }
    }
    #list-date-popup{
        min-width: auto;
        >li{
            display: block;
            margin: 10px 0;
        }
    }
    /* @end */

    /* @group Navbar | Team */
    .wrapper-navbar{
        display: block;
    }
    .navbar, #main .navbar{
        display: block;
        width: 100%;
        height: auto;
        .list-block{
            width: 100%;
            text-align: left;
            > li{
                display: inline-block;
                vertical-align: top;
                margin: 0 10px;
                padding: 5px 0;
                &:first-of-type{
                    margin: 0 10px 0 0;
                }
            }
        }
    }
    .content-with-navbar{
        display: block;
        width: 100%;
        padding: 18px 0 0 0;
        h2{
            &:before{
                display: none;
            }
        }
    }
    /* @end */

    /* @group Landing */
    .landing{
        .logo-big{
            margin: 0 auto 30px auto;
        }
        #email{
            display: block;
            width: 100%;
            max-width: 225px;
            margin: 0 auto 10px auto;
        }
        h1{
            font-size: 1.8em;
            margin: 0 0 30px 0;
        }
    }
    /* @end */
}

@media (max-width: 480px) {
    /* @group Popup */
    .popup{
        width: 100%;
    }
    /* @end */
    .container{
        .wrapper-img &{
            height: 150px;
        }
    }
    h1{
        font-size: 2.2em;
    }
    .wrapper-img{
        height: 150px;
    }
    #main{
        ul, ol{
            padding: 0;
        }
    }
    /* @group Footer */
    #footer-bottom{
        padding: 20px 0 40px 0;
        .list-inline{
            > li{
                display: block;
                width: 100%;
                &:last-of-type{
                    display: block;
                    width: 100%;
                }
            }
        }
        .list-social{
            margin: 0;
            > li{
                margin: 0 16px;
            }
        }
        .bloc-partenaires{
            .list-inline{
                > li{
                    display: block;
                    margin: 0 0 20px 0;
                }
            }
        }
    }
    /* @end */

    /* @group Navbar | Team */
    .list-team, #main .list-team{
        > li{
            padding: 5px;
            .name-team{
                font-size: 1.1em;
                padding: 10px;
            }
            .function-team{
                font-size: 0.9em;
                padding: 10px;
            }
            .name-team, .function-team{
                &:before{
                    display: none;
                }
            }
        }
    }
    /* @end */

    /* @group Landing */
    .landing{
        #content-landing{
            position: relative;
            top: inherit;
            left: inherit;
            transform: none;
        }
    }
    /* @end */

    /* @group Blog */
    .articles-presse , #main .articles-presse{
        > li{
            display: block;
            .visu-article{
                display: block;
                width: 100%;
                padding: 20px 0 0 0;
            }
            .txt-article{
                display: block;
                width: 100%;
                .wrapper-has-media{
                    .content-media{
                        margin: 0 auto;
                    }
                }
            }
        }
    }
    .pagination, #main .pagination{
        > li{
            margin: 0 4px;
        }
    }
    .list-blocks-inline, #main .list-blocks-inline{
        > li{
            padding: 20px;
        }
    }
    /* @end */
}


//e-trustedshops

/* retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
    .e-trustedshops{
        background-image: url("../layoutImg/e-trustedshops@2x.png");
        background-size: 100px 42px;
    }
    .landing{
        .logo-big{
            background-image: url('../layoutImg/logo-big@2x.png');
            background-size: 172px 115px;
        }
    }
    .picto-press{
        background-image: url('../layoutImg/picto-press@2x.png');
        background-size: 54px 53px;
    }
    a.logo-facilicar{
        background: url("../layoutImg/logo-facilicar@2x.png") no-repeat 0 0;
        background-size: 281px 49px;
    }
    .select-option-car .zone-txt .triangle{
        background: url("../layoutImg/triangle@2x.png") no-repeat 0 0;
        background-size: 8px 4px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
    .e-trustedshops{
        background-image: url("../layoutImg/e-trustedshops@2x.png");
        background-size: 100px 42px;
    }
    .landing{
        .logo-big{
            background-image: url('../layoutImg/logo-big@2x.png');
            background-size: 172px 115px;
        }
    }
    .picto-press{
        background-image: url('../layoutImg/picto-press@2x.png');
        background-size: 54px 53px;
    }
    a.logo-facilicar{
        background: url("../layoutImg/logo-facilicar@2x.png") no-repeat 0 0;
        background-size: 281px 49px;
    }
    .select-option-car .zone-txt .triangle{
        background: url("../layoutImg/triangle@2x.png") no-repeat 0 0;
        background-size: 8px 4px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-resolution: 288dpi) {
    .e-trustedshops{
        background-image: url("../layoutImg/e-trustedshops@3x.png");
        background-size: 100px 42px;
    }
    .landing{
        .logo-big{
            background-image: url('../layoutImg/logo-big@3x.png');
            background-size: 172px 115px;
        }
    }
    .picto-press{
        background-image: url('../layoutImg/picto-press@3x.png');
        background-size: 54px 53px;
    }
    a.logo-facilicar{
        background: url("../layoutImg/logo-facilicar@3x.png") no-repeat 0 0;
        background-size: 281px 49px;
    }
    .select-option-car .zone-txt .triangle{
        background: url("../layoutImg/triangle@3x.png") no-repeat 0 0;
        background-size: 8px 4px;
    }
}


/* ==|== print styles =======================================================
   ========================================================================== */

@media print {
    * { color: #000; }
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; font-size: .7em; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after, #logo-institut-avignon:after { content: ""; }
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; }
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
    
    #mask, #bloc-top, nav, #menu-footer, .second-menu, .arianne, #motif, #hamburger-menu{ display: none !important; }
    header{position: relative;}
    header .container.big{ width: 940px; }
    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, h6, .main form{ padding-left: 0 !important; }
    #logo-institut-avignon{ margin-left:1cm; }
}   