@media (max-width: 1200px) {
    .container{
        width: 90%;
        &.small{
            padding: 0 42px;
        }
    }
}

@media (max-width: 1150px) {

}

@media (max-width: 1024px) {
    img{
        &.alignleft{
            margin-left: 0;
        }
        &.alignright{
            margin-right: 0;
        }
    }
}

@media (max-width: 979px) {
    .container{
        &.small{
            padding: 0 22px;
        }
    }
    #header{
        a.logo-facilicar{
            margin: 14px 0 0 0;
            width: 240px;
            height: 42px;
            background-size: 240px 42px;
        }
    }
}

@media (max-width: 767px) {
    .container{
        &.small{
            padding: 0;
        }
    }
    
}

@media (max-width: 480px) {
    #header{
        a.logo-facilicar{
            margin: 14px 0 0 0;
            width: 145px;
            height: 26px;
            background-size: 145px 26px;
        }
    }
}


//e-trustedshops

/* retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
    .e-trustedshops{
        background-image: url("../layoutImg/e-trustedshops@2x.png");
        background-size: 100px 42px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
    .e-trustedshops{
        background-image: url("../layoutImg/e-trustedshops@2x.png");
        background-size: 100px 42px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-resolution: 288dpi) {
    .e-trustedshops{
        background-image: url("../layoutImg/e-trustedshops@3x.png");
        background-size: 100px 42px;
    }
}


/* ==|== print styles =======================================================
   ========================================================================== */

@media print {
    * { color: #000; }
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; font-size: .7em; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after, #logo-institut-avignon:after { content: ""; }
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; }
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
    
    #mask, #bloc-top, nav, #menu-footer, .second-menu, .arianne, #motif, #hamburger-menu{ display: none !important; }
    header{position: relative;}
    header .container.big{ width: 940px; }
    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, h6, .main form{ padding-left: 0 !important; }
    #logo-institut-avignon{ margin-left:1cm; }
}   