/* @group Popup */
.wrapper-popup{
	display: none;
	z-index: 160;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin-left: 0;
	padding: 0;
	background-color: fade(@theme-gris2, 50%);
	text-align: center;
	.container{
		height: 100%;
		position: relative;
	}
	.wrapper-align-middle{
		height: 100%;
	}
	&.open{
		display: block;
	}
}

.popup{
	display: inline-block;
	width: 650px;
	max-width: 100%;
	height: auto;
	max-height: 90%;
	padding: 60px 60px 70px 60px;
	box-sizing: border-box;
	vertical-align: top;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
	background: #fff;
	overflow: auto;
	backface-visibility: hidden;
	&.big{
		width: 960px;
		padding: 45px 45px 60px 45px;
	}
	a.btn-close-popup{
		color: @theme-noir;
		position: absolute;
		top: 20px;
		right: 20px;
		font-size: 14px;
		text-decoration: none;
	}
	h2{
		margin-top: 0;
	}
	.list-block{
		> li{
			margin: 12px 0;
			&:last-child{
				margin-bottom: 0;
			}
			&.big-margin-bottom{
				margin-bottom: 60px;
			}
		}
	}
	.list-inline{
		> li{
			vertical-align: middle;
			margin: 0 4px;
		}
		&.list-third{
			> li{
				vertical-align: top;
				margin: 0;
			}
			&.list-vehicule-interet{
				.zone-img{
					display: block;
					width: 100%;
					height: 140px;
					text-align: center;
					box-sizing: border-box;
				}
				> li{
					&:first-of-type{
						padding: 0 20px 0 0;
					}
					&:nth-child(1){
						.zone-img{
							padding-top: 40px;
						}
					}
					&:nth-child(2){
						padding: 0 20px;
						.zone-img{
							padding-top: 37px;
						}
					}
					&:last-of-type{
						padding: 0 0 0 20px;
					}
				}
			}
		}
	}
	label{
		width: auto;
		margin: 0;
		text-align: center;
	}
	.notif-valid{
		+ p{
			.texta-bold(1.25em);
		}
	}
}

#list-date-popup{
	min-width: 420px;
}
/* @end */