/* @group Slider citation */
.wrapper-slider-citation{
	display: block;
	margin: 0;
	padding: 0;
	overflow: hidden;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	ul{
		display: block;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		list-style-type: none;
		li{
			display: block;
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
			transform: translateX(100%);
			position: absolute;
			top: 0;
			left: 0;
			&.active{
				transform: translateX(0%);
			}
			a{
				display: block;
				width: 100%;
				height: 100%;
				margin: 0;
				padding: 0;
				&:hover{
					.wrapper-img-slider-citation{
						transform: scale(1.2);
					}
					.img-slider-citation{
						filter: blur(4px);
						transition-delay: 0s;
					}
					.zone-txt-slider-citation{
						opacity: 1;
						transform: translateY(0px);
						transition-delay: 0.1s;
					}
				}
			}
		}
	}
}
.wrapper-img-slider-citation{
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	transition: all 0.2s ease-in-out;
	backface-visibility: hidden;
	//transform: translateZ(1px);
	transform-style: preserve-3d;
	transition-delay: 0.1s;
}
.img-slider-citation{
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	transition: all 0.2s ease-in-out;
	backface-visibility: hidden;
	transition-delay: 0.1s;
}
.zone-txt-slider-citation{
	display: table;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	opacity: 0;
	transform: translateY(50px);
	transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
	transition-delay: 0s;
	z-index: 10;
}
.bloc-txt-slider-citation{
	display: inline-block;
	width: auto;
	height: auto;
	vertical-align: middle;
	background-color: @theme-noir;
	background-color: rgba(51, 51, 51, 0.5);
	color: #ffffff;
	padding: 20px 60px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	p{
		margin: 0;
		padding: 0;
		.texta-light(1.875em);
		strong{
			.texta-black(2em);
			display: block;
			//letter-spacing: 1px;
			line-height: 0.9em;
		}
	}
	a{
		.texta-black(1.125em);
	}
}
a.btn-slider-citation{
	display: block;
	width: 44px;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	color: #ffffff;
	text-align: center;
	span{
		font-size: 18px;
		height: 18px;
		width: 10px;
		position: absolute;
		top: 50%;
		margin: -18px 0 0 0;
		transition: transform 0.2s ease-out;
	}
	&.btn-left{
		left: 0;
		span{
			right: 0;
		}
	}
	&.btn-right{
		right: 0;
		span{
			left: 0;
		}
	}
	&:hover{
		&.btn-left{
			span{
				transform: translateX(-15px);
			}
		}
		&.btn-right{
			span{
				transform: translateX(15px);
			}
		}
	}
}

.slider-for{
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	.slick-list{
		width: 100%;
		height: 100%;
		.slick-track{
			height: 100%;
		}
	}
	.slide{
		display: block;
		width: 100%;
		height: 100%;
	}
	.slick-slide{
		cursor: pointer;
	}
}

.prev-slider-for{
	position: absolute;
	top: 50%;
	left: 30px;
	color: #fff;
	font-size: 34px;
	margin-top: -17px;
	padding: 0;
	background: none;
}

.next-slider-for{
	position: absolute;
	top: 50%;
	right: 30px;
	color: #fff;
	font-size: 34px;
	margin-top: -17px;
	padding: 0;
	background: none;
}

.paging-info{
	width: 100%;
	position: absolute;
	bottom: 20px;
	text-align: center;
	.texta-bold(1.25em);
	color: #fff;
	pointer-events: none;
}

.btn-expand{
	display: block;
	width: 20px;
	height: 20px;
	font-size: 20px;
	text-align: center;
	line-height: 20px;
	color: #fff;
	position: absolute;
	bottom: 22px;
	right: 22px;
	cursor: pointer;
}

.slider-nav{
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0 25px;
	box-sizing: border-box;
	.slick-list{
		width: 100%;
		height: 100%;
		padding: 0;
		.slick-track{
			height: 100%;
		}
	}
	.slide{
		margin: 0 4px;
		box-sizing: border-box;
		position: relative;
		cursor: pointer;
		&:focus{
			outline: none;
		}
		&.slick-current{
			opacity: 0.5;
			&:before{
				content: "";
				display: block;
				width: auto;
				height: auto;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				box-sizing: border-box;
				border: 1px solid @theme-gris3;
			}
		}
	}
}

.prev-slider-nav{
	position: absolute;
	top: 50%;
	left: 7px;
	color: @theme-gris3;
	font-size: 20px;
	margin-top: -10px;
	padding: 0;
	background: none;
}

.next-slider-nav{
	position: absolute;
	top: 50%;
	right: 7px;
	color: @theme-gris3;
	font-size: 20px;
	margin-top: -10px;
	padding: 0;
	background: none;
}

.slider-for-zoom{
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	.slick-list{
		width: 100%;
		height: 100%;
		.slick-track{
			height: 100%;
		}
	}
	.slide{
		display: block;
		width: 100%;
		height: 100%;
		img{
			height: 100%;
			width: auto;
			margin: 0 auto;
			max-width: none;
		}
	}
}

.prev-slider-for-zoom{
	position: absolute;
	top: 50%;
	left: 60px;
	color: #fff;
	font-size: 34px;
	margin-top: -17px;
	padding: 0;
	background: none;
}

.next-slider-for-zoom{
	position: absolute;
	top: 50%;
	right: 60px;
	color: #fff;
	font-size: 34px;
	margin-top: -17px;
	padding: 0;
	background: none;
}

.slider-nav-zoom{
	display: block;
	width: 100%;
	height: 34px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	.slick-list{
		width: 100%;
		height: 100%;
		padding: 0;
		.slick-track{
			height: 100%;
		}
	}
	.slide{
		margin: 0 4px;
		box-sizing: border-box;
		position: relative;
		cursor: pointer;
		&:focus{
			outline: none;
		}
		&.slick-current{
			opacity: 0.5;
			&:before{
				content: "";
				display: block;
				width: auto;
				height: auto;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				box-sizing: border-box;
				border: 1px solid #fff;
			}
		}
	}
}
/* @end */