/* @group States */
.hide-text{
	text-indent: -9999px;
	display: none;
}
.is-hidden{
	/*display: none;
	&.car-block{
		display: none;
	}*/
}
.is-left{
	float: left;
}
.is-right{
	float: right;
}
.is-visible{
	opacity: 1;
}

.noselect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* @end */