/* @group Tooltip */
.has-tooltip{
	font-size: 22px;
	.icon-tooltip{

	}
}

.facilicar-theme{
	border-radius: 0;
	border: 1px solid #B0B0A8;
	background: #fff;
	color: #6D6D67;
	text-align: center;
	.tooltipster-content {
		.texta-light(12px);
		padding: 10px 8px;
		overflow: hidden;
		line-height: 13px;
	}
}

.facilicar-theme .tooltipster-arrow .tooltipster-arrow-border {
	border-top-color: #B0B0A8 !important;
}

.tooltipster-arrow-top span, .tooltipster-arrow-top-right span, .tooltipster-arrow-top-left span {
	bottom: -8px;
}
.tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-top-left .tooltipster-arrow-border {
	bottom: -8px;
}

/* @end */